/* Contains the color scheme for the site */

@charset "UTF-8";

$base-general-major: hsl(190.8,61%,16.1%);
$base-general-minor: hsl(0, 0%, 100%);
$base-general-accent: hsl(291, 31%, 62%);
$base-general-highlight: hsl(190, 30%, 50%);
$base-general-focus: hsl(190, 60%, 50%);
$base-general-background: hsl(190, 50%, 5%);
$base-general-text: hsl(0, 0%, 13%);
$base-general-link: hsl(190, 60%, 45%);
$topBar-general-background: hsl(273, 58%, 93%);
$topBar-general-logoBackground: hsl(275, 33%, 30%);
$topBar-general-accent: hsl(299, 20%, 46%);
$topBar-general-highlight: hsl(190, 30%, 50%);
$topBar-general-link: hsl(0, 0%, 19%);
$topBar-general-person: #7600BD;
$topBar-general-shadow: 1px 1px 0.5rem 1px black;
$header-general-background: hsl(190.8,61%,16.1%);
$header-general-icon: hsl(190, 61%, 45%);
$header-general-type: hsl(195, 94%, 81%);
$header-general-name: hsl(0, 0%, 100%);
$header-embed-name: hsl(0, 0%, 0%);
$header-embed-type: #5999a6;
$header-general-authors: hsl(291, 31%, 62%);
$tabs-main-background: linear-gradient(to top, #bc9bbd 0%, #a587a6 90%, #b199b1 100%);
$tabs-main-shadow: 0px 0px 0.5rem -1px #000000;
$tabs-main-inactiveBackground: linear-gradient(to top, #bc9bbd 0%, #a587a6 90%, #b199b1 100%);
$tabs-main-inactiveAccent: #867387;
$tabs-main-inactiveBorder: #867387;
$tabs-main-inactiveText: hsl(0, 0%, 100%);
$tabs-main-inactiveShadow: none;
$tabs-main-activeBackground: hsl(0, 0%, 100%);
$tabs-main-activeAccent: hsl(297, 8%, 49%);
$tabs-main-activeBorder: hsl(297, 8%, 49%);
$tabs-main-activeText: hsl(291, 31%, 62%);
$tabs-main-activeShadow: none;
$tabs-main-hoverBackground: hsl(298, 18%, 65%);
$tabs-main-hoverAccent: hsl(291, 31%, 62%);
$tabs-main-hoverText: hsl(0, 0%, 100%);
$tabs-secondary-background: hsl(0, 0%, 89%);
$tabs-secondary-shadow: 0px 0px 0.3rem -1px #000000;
$tabs-secondary-inactiveShadow: none;
$tabs-secondary-inactiveBackground: hsl(0, 0%, 94%);
$tabs-secondary-inactiveAccent: hsl(0, 0%, 87%);
$tabs-secondary-inactiveBorder: hsl(0, 0%, 87%);
$tabs-secondary-inactiveText: hsl(190, 60%, 45%);
$tabs-secondary-activeShadow: 0px 0px 1px 0px #aaaaaa;
$tabs-secondary-activeBackground: hsl(0, 0%, 100%);
$tabs-secondary-activeAccent: hsl(291, 31%, 62%);
$tabs-secondary-activeBorder: #dedede;
$tabs-secondary-activeText: hsl(291, 31%, 62%);
$tabs-secondary-hoverBackground: hsl(0, 0%, 100%);
$tabs-secondary-hoverAccent: hsl(291, 31%, 62%);
$tabs-secondary-hoverText: hsl(291, 31%, 62%);
$tabs-tertiary-background: #ffffff;
$footer-general-background: #3F2A40;
$footer-general-text: #888;
$footer-general-link: #a688a7;
$footer-general-accent: #351e35;
$interface-selector-background:              white;
$interface-selector-hoverBackground: #eee;
$interface-selector-text:           #444;
$interface-selector-hoverText:      #444;
$interface-help-background: rgb(245, 234, 251);
$interface-help-text: #3D1F62;
$interface-help-border: rgb(174, 133, 219);
$interface-tooltip-text: #eee;
$interface-tooltip-border: hsl(298, 15%, 59%);
$interface-tooltip-background:    #333;
$interface-tooltip-shadow: 0px 0px 3px 1px #111111;
$interface-tooltip-textShadow: none;
$interface-dropdown-background: #b9a1ba;
$interface-dropdown-text: #ffffff;
$viewer-filelist-background: #ffffff;
$viewer-filelist-border: #d4d4d4;
$viewer-filelist-header-background: #ffffff;
$viewer-filelist-header-text:       #555555;
$viewer-filelist-header-border:     #f3f3f3;
$viewer-filelist-header-shadow:     0px 0px 5px -1px #000000;
$viewer-filelist-header-textShadow: none;
$viewer-filelist-dataHeader-background: #ffffff;
$viewer-filelist-dataHeader-text:       #555555;
$viewer-filelist-dataHeader-border:     #f3f3f3;
$viewer-filelist-dataHeader-shadow:     0px 0px 5px -1px #000000;
$viewer-filelist-dataHeader-textShadow: none;
$viewer-filelist-file-background: #ffffff;
$viewer-filelist-file-text: #888888;
$viewer-filelist-file-link: #2ea1b8;
$viewer-filelist-file-icon: #2ea1b8;
$viewer-filelist-file-shadow: none;
$viewer-filelist-file-textShadow: none;
$viewer-filelist-fileHover-background: #e2f4f8;
$viewer-filelist-fileHover-link: #2ea1b8;
$viewer-filelist-fileHover-icon: #2ea1b8;
$viewer-filelist-fileHover-shadow: none;
$viewer-filelist-fileHover-textShadow: none;
$viewer-filelist-directory-background: #ffffff;
$viewer-filelist-directory-text: #888888;
$viewer-filelist-directory-link: #2ea1b8;
$viewer-filelist-directory-icon: #2ea1b8;
$viewer-filelist-directory-shadow: none;
$viewer-filelist-directory-textShadow: none;
$viewer-filelist-directoryHover-background: #e2f4f8;
$viewer-filelist-directoryHover-link: #2ea1b8;
$viewer-filelist-directoryHover-icon: #2ea1b8;
$viewer-filelist-directoryHover-shadow: none;
$viewer-filelist-directoryHover-textShadow: none;
$viewer-filetabs-background: #ffffff;
$viewer-filetabs-inactiveBackground: hsl(0, 0%, 94%);
$viewer-filetabs-inactiveAccent: hsl(0, 0%, 87%);
$viewer-filetabs-inactiveBorder: hsl(0, 0%, 87%);
$viewer-filetabs-inactiveText: hsl(190, 60%, 45%);
$viewer-filetabs-inactiveIcon: hsl(190, 60%, 45%);
$viewer-filetabs-activeBackground: hsl(0, 0%, 100%);
$viewer-filetabs-activeAccent: hsl(291, 31%, 62%);
$viewer-filetabs-activeBorder: #dedede;
$viewer-filetabs-activeText: hsl(291, 31%, 62%);
$viewer-filetabs-activeIcon: hsl(291, 31%, 62%);
$viewer-filetabs-hoverBackground: hsl(0, 0%, 100%);
$viewer-filetabs-hoverAccent: hsl(0, 0%, 87%);
$viewer-filetabs-hoverText: hsl(190, 60%, 45%);
$viewer-filetabs-hoverIcon: hsl(190, 60%, 45%);
$viewer-queue-background: #888888;
$viewer-queue-border:     #777777;
$viewer-queue-panel-background: #848484;
$viewer-queue-panel-border:     #9e9e9e;
$viewer-queue-panel-text:       #ffffff;
$viewer-queue-list-shadow:      2px 0px 20px 1px #484848;
$viewer-queue-list-background:  white;
$viewer-queue-inactive-background: #ffffff;
$viewer-queue-inactive-icon: #b3b3b3;
$viewer-queue-inactive-text: #828282;
$viewer-queue-active-background: hsl(190, 30%, 50%);
$viewer-queue-active-icon: #ffffff;
$viewer-queue-active-text: #ffffff;
$object-description-background: #888888;
$object-description-text: white;
$object-gallery-background: #888888;
$object-gallery-thumb-inactiveBorder: #333;
$object-gallery-thumb-activeBorder: #8c5e8d;
$object-description-tags-background: #464646;
$object-description-tags-border: #8c8c8c;
$object-description-tags-text: #ffffff;
$object-description-tags-hover-text: hsl(190, 70%, 50%);
$object-description-tags-hover-border: hsl(190, 70%, 50%);
$object-description-tags-hover-background: hsl(190, 50%, 90%);

/* Master */

$input-disabled-bg: #ECECEC;

/* Headers */

$sub-header-color: #555;
$sub-sub-header-color: hsl(190, 30%, 55%);

/* Object Tags */

/* History View */
$history-bg: white;
$history-message-color: black;
$history-author-color: black;
$history-date-color: black;

/* Workflow */

$workflow-label-type-color: rgba(57, 130,	130, 1.0);
$workflow-label-name-color: rgba(30, 30,	30,  1.0);

$workflow-line-color: #e8b0e0;
$workflow-wire-selected-color: #ff7eff;
$workflow-accent-color: #F1D7ED;

$workflow-wire-hover-color: darken($workflow-line-color, 20);

$workflow-node-selected-border-color: $workflow-wire-hover-color;

$workflow-wire-node-color: #BEEAC4;
$workflow-wire-node-border-color: #9ED4A5;
$workflow-wire-node-accent-color: #ADD89D;

$workflow-wire-selected-node-color: #CEFAD4;
$workflow-wire-selected-node-border-color: #AEE4B5;
$workflow-wire-selected-node-accent-color: #BDE8AD;

$workflow-selection-color: rgba(90, 181, 181, 0.33);
$workflow-selection-border-color: rgba(70, 161, 161, 0.33);
$workflow-wire-selected-node-highlight-color: #ff7eff;

/* Cards */

        $card-bg: #fff;
$card-blue-color: #fff;
   $card-blue-bg: hsl(230, 30%, 60%);
 $card-filled-bg: #fff;

/* Terminal */

   $terminal-bg: #333;
$terminal-color: #ddd;

/* Expanders */

$expand-color: #555;

/* Code sections */

$code-color: #ddd;
   $code-bg: #333;

/* Results/Tabular content */

$supplement-color: #555; /* units, etc */
     $value-color: #222;
       $key-color: #450063;

/* Selector */

/* Object Selection */
$object-selector-bg:          $interface-selector-background;
$object-selector-hover-bg:    $interface-selector-hoverBackground;
$object-selector-color:       $interface-selector-text;
$object-selector-hover-color: $interface-selector-hoverText;

/* Test Viewer */
$test-viewer-header-color: $sub-header-color;
$test-viewer-method-color: $sub-sub-header-color;
$test-viewer-story-color: #333;

/* Roles */
$role-administrator-bg:   hsl(0,   36%, 44%);
$role-experimentalist-bg: hsl(303, 28%, 40%);

/* Side list */
$side-list-bg: white;
$side-list-active-bg:      black;

/* Admin Page */
$admin-option-color:       #555;

/* Pagination */
$pagination-bg:            #FAEAFA;
$pagination-border-color:  #ddd;

/* Help Bubble */
/* Delete link */
$delete-link-bg: #ffc0c0;

/* Flash */
$saving-flash-bg: hsl(190, 30%, 50%);
$saving-flash-color: white;
$error-flash-bg: hsl(0, 30%, 50%);
$error-flash-color: white;
$warning-flash-bg: #fffef0;
$warning-flash-color: black;
$warning-flash-border: #e6e3b3;
