@charset "UTF-8";

h2 + form.configure,
h2 + .configuration-search-options {
  margin-top: 15px;
  padding-right: 15px;
}

.configuration-search-options {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  position:   relative;
}

.card.filled .tab-panels > .tab-panel.widget-selection {
  height:     600px;
  min-height: 600px;
  max-height: 600px;
  overflow-y: auto;
}

.content .card ul.configuration-group p {
  margin: 0;
  padding: 0;
}

.content .card ul.configuration-group > li > h2 {
  border-top: 1px solid #eee;
  margin-top: 10px;
  padding-top: 10px;
}

.content .card ul.configuration-group > li > h2:hover * ,
.content .card ul.configuration-group > li > h2:hover {
  background-color: #ddd;
}

.content .card h1 + h2 + ul.configuration-group {
  padding-left: 0px;
  padding-right: 0px;
}

.content .card h2 + ul.configuration-group {
  padding-left: 20px;
}

.content .card ul.configuration-group {
  width: auto;
  margin-top: 15px;
  line-height: 1.3em;
}

.content .card ul.configuration-group > li {
  display: block;
}

.content .card ul.configuration-group > li.array {
  margin-bottom: 15px;
}

/* Dots */

.content .card ul.configuration-group li .dots {
  position: relative;
  z-index: 0;
  top: -14px;
  margin-left: 20px;
  margin-right: 220px;
  border-bottom: 1px dotted #ccf;
}

.content .card ul.configuration-group li ul:not(.configuration-group) {
  margin-left: 15px;
  margin-bottom: 5px;
}

.content .card ul.configuration-group li.field > .dots {
  margin-right: 200px;
}

.content .card ul.configuration-group li > p,
.content .card ul.configuration-group li > label {
  margin: 0;
  margin-left: 3px;
  position: relative;
  color: hsl(190, 30%, 35%);
  z-index: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  display: inline-block;
  padding-bottom: 5px;
  background-color: #fff;
}

.content .card ul.configuration-group li.field > p,
.content .card ul.configuration-group li.field > label {
  margin: 0;
}

.content .card ul.configuration-group li.field > p + p,
.content .card ul.configuration-group li.field > input {
  width: 182px;
}

/* Color Picker */
.content .card ul.configuration-group li > input.color + .color-picker {
  border: 1px solid #ccc;

  float:  right;

  height: 12px;
  width:  204px;

  .sp-preview {
    height: 10px;
    width: 187px;
  }

  .sp-dd {
    height: 10px;
    line-height: 10px;
    padding: 0;
  }
}

.content .card ul.configuration-group li > textarea {
  display: block;
  padding: 5px;
  margin: 0;
  width: 100%;
  resize: vertical;
}

.content .card ul.configuration-group li > p + p,
.content .card ul.configuration-group li input {
  padding: 0 5px;
  margin: 0;
  position: relative;
  z-index: 1;
  height: 20px;
  width: 202px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 1px $base-general-focus;
  }
}

.content .card ul.configuration-group li > div.tuple {
  width: 213px;
  display: inline-block;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;

  > input {
    display: inline-block;
    width: 90px;
  }

  > .select {
    display: inline-block;
    width: 90px;

    select {
      width: 90px;
    }
  }
}

/* Array Add Button */
.content .card ul.configuration-group li .add-element.button {
  padding: 0 5px;
  margin: 0;
  position: relative;
  z-index: 1;
  height: 20px;
  width: 202px;
  margin-top: 15px;
}

.content .card ul.configuration-group li > input:disabled ,
.content .card ul.configuration-group li > textarea:disabled {
  color: #888;
  background-color: #ddd;
}

.content .card ul.configuration-group li > p + p,
.content .card ul.configuration-group li > label ~ input ,
.content .card ul.configuration-group li > label ~ .tuple {
  float: right;
}

.content .card ul.configuration-group li > p + p {
  border: none;
}

.content .card ul.configuration-group li > input[type='checkbox'] {
  width: 20px;
  cursor: pointer;
  margin-right: 193px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.select {
  border-radius: 3px;

  position: relative;
  z-index: 1;
  border: 1px solid #888;
  background-color: #fff;
  width: 212px;
  cursor: pointer;

  border: 1px solid #ccc;

  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)) );
  background:-moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100% );
  background-color: hsl(190, 0%, 40%);

  box-shadow: inset 0px 0px 1px 1px hsl(190, 60%, 100%);

  &:hover {
    box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 50%);
  }

  &:active {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 95%)), color-stop(1, hsl(190, 0%, 90%)) );
    background:-moz-linear-gradient( center top, hsl(190, 0%, 95%) 5%, hsl(190, 0%, 90%) 100% );
    background-color: hsl(190, 0%, 40%);

    outline: none;
  }

  &.disabled,
  &:disabled {
    &:active {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)) );
      background:-moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100% );
      background-color: hsl(190, 0%, 40%);
    }

    &:hover {
      box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 100%);
    }
  }

  &:before {
    pointer-events: none;
    background-image: url(/images/dropdown_arrow.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    position: absolute;
    right: 0px;
    display: block;
    content: '';
    width: 17px;
    top: 0;
    bottom: 0;
  }
}

.content .card ul.configuration-group li > div.select {
  display: inline-block;

  float: right;
}

.content .card ul.configuration-group li > label ~ div.select {
  float: right;
}

.content .card ul.configuration-group li.field > .select {
  width: 192px;
}

.select select {
  padding: 0;
  padding-left: 5px;
  margin: 0;
  background: transparent;
  border: 0;
  border-radius: 3px;
  -webkit-appearance: none;
  height: 20px;
  width: 212px;
  cursor: pointer;
  outline: none;
  color: #333;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 1px $base-general-focus;
  }
}

.content .card ul.configuration-group li.field > .select > select {
  width: 210px;
}

.content .card ul.configuration-group .description {
  color: #444;
  display: none;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 220px;
  padding-bottom: 10px;
  padding-top: 0px;
  background-color: transparent;
}

.content .card ul.configuration-group .description p {
  font-size: 12px;
}

.content .card ul.configuration-group .description p + p {
  margin-top: 9px;
}

/* Array Elements */
.content .card ul.configuration-group > li.element {
  > .subheader {
    padding-top: 10px;

    > .color {
      width: 10px;
      height: 10px;
      margin-right: 10px;
      display: inline-block;
      background-color: #888;
    }

    > .sublabel {
      margin-right: 10px;
    }
  }

  > ul.configuration-group {
    padding-left: 5px;
    border-left: 5px solid #ddd;
  }
}

/* Expands */

.content .card ul.configuration-group span.expand {
  background-color: #fff;
  color: #aaa;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  z-index: 1;
  top: 2px;

  padding-left: 5px;
  padding-right: 5px;
}

.content .card .configuration-group h2 span.expand {
  position: relative;
  z-index: 1;
  background-color: #fff;
  color: #ccc;
  font-size: 18px;
  vertical-align: top;
  cursor: pointer;
  margin-right: 5px;

  padding: 0;
}

.content .card ul.configuration-group label + span.expand {
  font-size: 8px;
  top: 0px;
}

/* Sub-Recipe Dropdowns */

.content .configuration-group li .recipe {
  background: url('/images/recipe_small.png') no-repeat left top;
  float: right;

  margin-top: 15px;

  padding-left: 30px;
}

.content .configuration-group li .recipe select {
  width: 200px;
  border: 1px solid #888;
  background-color: #fff;
}

/* Parsley errors/validations */

.content .card ul.parsley-errors-list li {
  color: #f44;
  font: $configuration-error-font;
}

.content .card .select ul.parsley-errors-list {
  display:none;
}

.content .card ul.configuration-group li input.parsley-error {
  background-color: #f99;
}

/* Tabs */
ul.configurations.tabs {
  margin-left:  -20px;
  margin-right: -20px;
}

/* Data Points */
.content .card ul.configuration-group ul.datapoints {
  padding-left: 20px;
  margin-bottom: 20px;

  li.datapoint {
    list-style: inside;
    color: #888;
  }

  li.datapoint > *:not(:last-child):after {
    content: '\00203a';
    display: inline-block;
    color: #888;
    font: 300 12pt Lato, sans-serif;
    padding: 0 5px;
  }

  li.datapoint > span {
    font-weight: 700;
    color: #555;
  }

  li.datapoint > span.output {
    padding: 0;
  }

  li.datapoint > span.group {
    font-weight: 300;
  }

  li.datapoint > span a {
    font-weight: 300;
  }

  li.datapoint span.range {
    font-weight: 300;
  }

  li.datapoint span.range span {
  }
}

/* Tabs */

.card ul.tabs.bubble.configuration-object + .tab-panels > .tab-panel > .card.filled ,
.card ul.tabs.bubble.configuration-object + .tab-panels > .tab-panel > .card.filled > ul.tabs.card-tabs {
  margin-top: 0px;
}

.card ul.tabs.bubble.configuration-object {
  border-bottom: 1px solid #ddd;
}

.card .configuration .recipe-selection {
  background-color: #f8f8f8;
  border-bottom:    1px solid #ddd;
  padding:          15px;

  .button {
    padding: 0px 5px;
    margin: 0;
    height: 20px;
    width: 202px;
  }
}

.card .tab-panel.configurator {
  height: 600px;
}

.card .tab-panel.configurator iframe {
  width: 100%;
  height: 600px;
}

.card .tab-panel.file-list {
  height: 600px;
}

.card .tab-panel.configurator ul.widget-list {
  margin: 10px;

  li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
}

.configuration-nav {
  background-color: #f8f8f8;
  border-bottom:    1px solid #ddd;
  padding:          9px;
  min-height:       18px;

  li {
    display: inline-block;

    &:not(:last-child) {
      border-right: 1px solid #bbb;
      padding-right: 5px;
    }

    &:not(:first-child) {
      padding-left: 5px;
    }

    a {
      font: $configuration-nav-font;
    }
  }

  span.color {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
    background-color: #888;
  }

  a.fork-configuration {
    position: absolute;
    right:    3px;
    top:      3px;
    margin :  0;

    padding: 5px 7px;

    img {
      width:  15px;
      height: 15px;

      vertical-align: middle;
    }
  }
}
