@charset "UTF-8";

.content pre.wrap {
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

// Storage backend listing
.card.storage {
  h2 {
  }

  img {
    height: 32px;
  }

  table {
    margin: 0 auto;
    margin-top:   10px;

    td:not(:first-child) {
      padding-left: 10px;
    }
  }
}
