/* Styling for the Donut visualizations.
 *
 */

figure.donut {
  display: flex;
  justify-content: space-around;
  // TODO: handle resize for small devices
  //flex-direction: column;
  flex-direction: row;
  width: 450px;

  .chart-number {
    font-size: 0.4em;
    line-height: 1;
    text-anchor: middle;
    text-align: center;

    transform: translateY(-0.25em);
  }

  .chart-label {
    font-size: 0.4em;
    line-height: 1;
    text-anchor: middle;
    text-align: center;

    transform: translateY(0.8em);
  }

  .chart {
    flex: 1;
    align-self: center;
  }

  figcaption {
    flex: 1;
    align-self: center;

    ul.donut-keys {
      li:not(:first-child) {
        margin-top: 10px;
      }

      span {
        display: inline-block;

        height: 20px;
        line-height: 20px;
        vertical-align: middle;
      }

      span.circle {
        border-radius: 50%;

        width: 20px;
        margin-right: 5px;
      }
    }
  }
}
