/* Styles dropdown menus */
@mixin dropdown-style {
  position: relative;
  outline: none;

  &:focus {
    outline: none;
  }

  & > ul.dropdown-menu-options {
    outline: none;
    display: none;
    position: absolute;
    right: 0;
    margin-top: -2px;
    padding-right: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 1px #111;

    &:focus {
      outline: none;
    }

    &:after{
      outline: none;
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      right: 0.55rem;
      top: -5px;
      background-color: white;
      transform: rotateZ(45deg);
      box-shadow: 0px 0px 3px 1px #111;
    }

    li {
      width: calc(100% + 20px);
      position: relative;
      background-color: white;
      z-index: 999;
      display: block;
      padding: 0;
      text-align: left;

      &:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        padding-top: 5px;
      }

      &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        padding-bottom: 5px;
      }

      &.separator {
        margin-top: 5px;
        margin-bottom: 5px;

        background-color: white;
        height: 1px;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
      }

      a, form {
        display: inline-block;
        padding: 4px 8px;
        width: calc(100% - 16px);
        height: 2em;
        line-height: 2em;
        color: #222;
        vertical-align: middle;
        text-decoration: none;
        white-space: nowrap;
        position: relative;

        input {
          background: none;
          border:     none;
          padding:    0;
          color:      #222;
          cursor:     pointer;

          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }

        &:hover {
          background-color: $interface-dropdown-background;
          color: $interface-dropdown-text;

          input {
            color: $interface-dropdown-text;
          }
        }

        &.icon {
          background-repeat: no-repeat;
          background-position: 10px 50%;
          background-size: 16px 16px;
          padding-left: 33px;
          width: calc(100% - 41px);

          input {
            padding-left: 33px;
          }
        }
      }
    }
  }

  &:focus > ul.dropdown-menu-options {
    display: block;
  }
}

.dropdown-menu {
  &.media-tablet {
    @media #{$media-tablet} {
      @include dropdown-style;
    }
  }

  &:not(.media-tablet) {
    @include dropdown-style;
  }
}
