
.content > .container > .tab-panels > .tab-panel {
  .file-viewer > .card.viewer {
    > ul.file-tabs.tabs {
      background: $viewer-filetabs-background;
      line-height: 1rem;
      height: 2.5rem;
      padding: 0;
      padding-left: calc(0.6rem + 1px);

      .collapse {
        background-color: $viewer-filelist-header-background;
      }

      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Safari */
      -khtml-user-select: none;    /* Konqueror HTML */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently
                            supported by Chrome and Opera */

      li.tab.sidebar {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        border-left: 1px solid $viewer-filetabs-inactiveBorder;

        a {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;

          text-indent: -9999px;
          overflow: hidden;

          background-repeat: no-repeat;
          background-position: 0.8rem 50%;
          background-size: 1.4rem;

          .arrow {
            position: absolute;
            left: 2px;
            top:  calc(50% - 5px);
            border-left:   6px solid #d8d8d8;
            border-top:    5px solid transparent;
            border-bottom: 5px solid transparent;
          }
        }

        &.reveal {
          a {
            .arrow {
              border-left:  none;
              border-right: 6px solid #d8d8d8;
            }
          }
        }
      }

      li.file-tab.tab {
        display: inline-block;
        position: relative;
        border-left: 1px solid $viewer-filetabs-inactiveBorder;
        overflow: hidden;

        &:first-of-type {
          border-left: none
        }

        &:nth-last-of-type(2) {
          border-right: 1px solid $viewer-filetabs-inactiveBorder;
        }

        button {
          text-indent: -9999px;
          overflow: hidden;
          width:    1rem;
          height:   1rem;
          display:  inline-block;
          position: relative;
          vertical-align: top;
          top: 0.75rem;

          margin-left: 0.25rem;
          margin-right: -1.5rem;

          border:  none;
          outline: none;

          cursor: pointer;

          background: none;
          background-size: 100% 100%;
          background-position: 0px 0px;
          background-repeat: no-repeat;

          &.delete {
            background-image: url('/images/dynamic/hex/ff8080/ui/remove_item.svg');
          }
        }

        a {
          background: $viewer-filetabs-inactiveBackground;
          color: $viewer-filetabs-inactiveText;
          display: inline-block;
          height: 2.5rem;
          line-height: 2.5rem;

          padding-right: 0.5rem;
          transition: padding-right 0.5s;

          svg,
          img {
            display: inline-block;

            &.hover {
              display: none;
            }

            &.active {
              display: none;
            }
          }

          .label {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            top: -0.1rem;
          }

          span {
            display: block;
            padding-left: 2.7rem;

            &.type {
              padding-top: 0.25rem;
              font: $viewer-filetabs-inactiveTypeFont;
            }

            &.name {
              font: $viewer-filetabs-inactiveNameFont;
            }
          }

          svg ,
          img {
            width:  2rem;
            height: 2rem;
            position: absolute;

            top: calc(50% - 1rem);
            left: 0.4rem;
          }

          &:hover {
            background: $viewer-filetabs-hoverBackground;
            color: $viewer-filetabs-hoverText;

            svg ,
            img {
              display: none;

              &.active {
                display: none;
              }

              &.hover {
                display: inline-block;
              }
            }
          }
        }

        &.active {
          &:not(:first-of-type) {
            border-left: 1px solid $viewer-filetabs-activeBorder;
          }

          &:last-of-type {
            border-right: 1px solid $viewer-filetabs-activeBorder;
          }

          a {
            background: $viewer-filetabs-activeBackground;
            color: $viewer-filetabs-activeText;
            padding-right: 1.5rem;

            svg ,
            img {
              display: none;

              &.hover {
                display: none;
              }

              &.active {
                display: inline-block;
              }
            }

            span.type {
              font: $viewer-filetabs-activeTypeFont;
            }

            span.name {
              font: $viewer-filetabs-activeNameFont;
            }

            button.delete {
            }
          }
        }
      }
    }
  }
}
