// Styling for the "Files" view

$file-listing-panel-transition-time: 0.6s;

.content > .container > .tab-panels > .tab-panel {
  .file-viewer {
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;

    position: absolute;
    left:   0;
    top:    0;
    right:  0;
    bottom: 0;

    overflow: hidden;

    background-color: $viewer-filelist-background;

    > .card.viewer {
      position: relative;
      overflow: hidden;
      z-index: 9;

      flex-shrink: 0;
      flex-grow:   1;

      width: calc(100% - 400px);
      box-sizing: border-box;

      @media #{$media-4k} {
        width: calc(100% - 600px);
      }

      > ul.file-tabs ,
      > h2 {
        border-left: 11px solid #d4d4d4;
        width: calc(100% + 0.6rem);
        position: relative;
      }

      > ul.file-tabs ~ * ,
      > h2 ~ * {
        height: calc(100% - 40px);
        position: relative;
        overflow: auto;
        display: block;
        margin: 0;
        width: 100%;
        border-left: 1px solid #d4d4d4;
        z-index: 0;
      }

      .viewer-container {
        > li.tab-panel {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          > .loading {
            height: 100%;
          }

          > .object-viewer {
            height: 100%;

            > .run-viewer {
              height: 100%;
            }
          }
        }
      }

      .highlight > pre {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        border: none;
        box-sizing: border-box;
        border-top: 1px solid $terminal-bg;
        margin-top: -1px;
        overflow-y: auto;
        display: block;
        margin: 0;
        width: 100%;

        line-height: 0;
        counter-reset: line;

        span.line {
          display: table-row;

          span.line-number {
            display: block;
            display: table-cell;
            line-height: 1.0em;
            white-space: nowrap;

            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;

            border-right: 1px solid #888;
            padding: 0;
            margin: 0;
            text-align: right;

            min-width:   2em;

            &:before {
              white-space: nowrap;
              counter-increment: line;
              content: counter(line);
              display: inline-block;
              padding: 0;
              text-align: right;
              margin-right: 0.5em;
              color: #888;
            }
          }

          code {
            white-space: pre-wrap;
            display: table-cell;
            width: 100%;
            padding-left: 5px;
            line-height: 1.3em;
          }
        }
      }

      iframe.image {
        width: 100%;
        height: 100%;
      }

      .img-container {
        $color: #ececec;
        background-image: linear-gradient(45deg, $color 25%, transparent 25%), linear-gradient(-45deg, $color 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $color 75%), linear-gradient(-45deg, transparent 75%, $color 75%);
        background-size: 40px 40px;
        background-position: 0 0, 0 20px, 20px -20px, -20px 0px;

        display: flex;
        align-items: center;
        text-align: center;

        height: 100%;
        overflow: auto;

        img, iframe {
          // Oddly, this is necessary for vertical centering + auto
          margin: auto auto;
        }
      }
    }

    > .card {
      margin-top: 2px;
      margin-right: -1px;
      width: 0px;

      &.file-list-panel {
        max-width: calc(100% - 0.6rem);
      }

      -webkit-transition: width $file-listing-panel-transition-time;
      transition: width $file-listing-panel-transition-time;

      &.reveal {
        width: 400px;
        margin-right: 0px;

        @media #{$media-4k} {
          width: 600px;
        }

        -webkit-transition: width $file-listing-panel-transition-time;
        transition: width $file-listing-panel-transition-time;

        & ~ .card ul.file-tabs ,
        & ~ .card h2 {
          > .collapse {
            .arrow {
              border-left:  none;
              border-right: 6px solid #d8d8d8;
            }
          }
        }
      }

      > ul.file-tabs ,
      > h2 {
        height: 2.5rem;

        padding-left: 27px;
        padding-right: 20px;
        padding-bottom: 6px;
        padding-top: 10px;

        position: relative;
        z-index: 9;
        white-space: nowrap;

        background-color: $viewer-filelist-dataHeader-background;
        color: $viewer-filelist-dataHeader-text;

        margin-left: -0.6rem;
        border-left: 0.6rem solid $viewer-filelist-border;

        box-shadow: $viewer-filelist-dataHeader-shadow;
        text-shadow: $viewer-filelist-dataHeader-textShadow;

        border-bottom: 1px solid $viewer-filelist-dataHeader-border;

        width: calc(400px + 0.6rem);
        box-sizing: border-box;
        max-width: calc(100% + 0.6rem);

        @media #{$media-4k} {
          width: calc(600px + 0.6rem);
        }

        > .collapse {
          width: 0.6rem;
          height: 100%;

          border-right: 1px solid #eaeaea;

          position: absolute;
          left: 0;
          top:  0;

          cursor: pointer;

          user-select: none;

          .arrow {
            position: absolute;
            left: 2px;
            top:  calc(50% - 5px);
            border-left:   6px solid #d8d8d8;
            border-top:    5px solid transparent;
            border-bottom: 5px solid transparent;
          }

          &:hover {
            opacity: 0.5;
          }
        }
      }

      .file-listing-container {
        width: 400px;
        height: calc(100% - 40px);
        overflow-y: auto;
        max-width: 100%;

        @media #{$media-4k} {
          width: 600px;
        }
      }

      table.file-listing {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;

        td {
          position: relative;
          color: $viewer-filelist-file-text;
          font:  $directory-normal-font;
          padding: 5px;

          > a {
            color: $viewer-filelist-file-link;
          }

          .dropdown-menu-options {
            right: 13px;
            margin-top: 8px;
          }
        }

        tr.group {
          color: $viewer-filelist-directory-text;
          text-shadow: $viewer-filelist-directory-textShadow;
          font:  $directory-group-font;

          a, input {
            color: $viewer-filelist-directory-link;
          }
        }

        tr.row.add {
        }

        td.type {
          display: none;
        }

        td.truncate {
          > *:first-child {
            position: absolute;
            left: 0;
            top:  0;
            bottom: 0;
            right: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px;
          }

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0;
        }

        tr {
          border-bottom: 1px solid #f3f3f3;

          &:hover {
            background-color: $viewer-filelist-fileHover-background;
            color: $viewer-filelist-fileHover-link;
          }

          td.icon {
            width: 20px;
            height: 20px;

            img {
              width: 20px;
              height: 20px;
              vertical-align: top;

              @media #{$media-4k} {
                width:  32px;
                height: 32px;
              }
            }
          }

          td.size {
            width: 1px;
            text-align: right;
            font:  $directory-size-font;

            &.units {
              width: 25px;
              text-align: left;
              padding-left: 0px;
            }
          }

          td.actions {
            width: 30px;
            padding: 0;

            a.download.icon {
              background-image: url('/images/ui/download.svg');
            }
          }

          td.name {
          }

          td.revision {
            font:  $directory-revision-font;
          }
        }

        tr.upload {
          input[name=submit] {
            position: absolute;
            right: 5px;
          }
        }

        tr.row.file.upload {
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+87,eebeef+100 */
          background: #ffffff; /* Old browsers */
          background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 87%, #eebeef 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 87%,#eebeef 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #ffffff 0%,#ffffff 87%,#eebeef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eebeef',GradientType=0 ); /* IE6-9 */

          background-size: 0px 100%;
          background-repeat: no-repeat;
        }

        tr.main {
          background-color: #ffebef;

          td.name {
            font-weight: bold;
          }
        }
      }
    }
  }
}

.theme-selection ,
.file-viewer {
  .highlight > pre {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    border: none;
    box-sizing: border-box;
    border-top: 1px solid $terminal-bg;
    margin-top: -1px;
    overflow-y: auto;
    display: block;
    margin: 0;
    width: 100%;

    line-height: 0;
    counter-reset: line;

    span.line {
      display: table-row;

      span.line-number {
        display: block;
        display: table-cell;
        line-height: 1.0em;
        white-space: nowrap;

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        border-right: 1px solid #888;
        padding: 0;
        margin: 0;
        text-align: right;

        min-width:   2em;

        &:before {
          white-space: nowrap;
          counter-increment: line;
          content: counter(line);
          display: inline-block;
          padding: 0;
          text-align: right;
          margin-right: 0.5em;
          color: #888;
        }
      }

      code {
        white-space: pre-wrap;
        display: table-cell;
        width: 100%;
        padding-left: 5px;
        line-height: 1.3em;
      }
    }
  }
}
