/* This styles the top header which displays information about the current object.
 */

@charset "UTF-8";

@mixin side-button {
  display: block;
  box-sizing: border-box;
  width: 178px;
  padding: 7px 10px;
  padding-left: 38px;
  font: 300 0.75rem Lato, sans-serif;
  color: white;
  text-align: left;
  line-height: 16px;

  background-color: #204F58;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 19px;

  @media #{$media-tablet} {
    width: 100%;
  }
}

@mixin side-button-rtl {
  background-position: 150px 50%;
  padding-left:        7px;
  padding-right:       38px;
}

/* Header */

html body .content h1 {
  position: relative;
  overflow: visible;
  background: $header-general-background;
  background-image: url('/images/ui/header_bg_left.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  font: $header-font;
  padding-bottom: 5px;
  min-height: 72px;

  @media #{$media-4k} {
    min-height: 108px;
  }

  /* Saving... box */

  .flash {
    position: absolute;
    top: 10px;
    border-radius: 3px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    min-height: 30px;
    line-height: 30px;
    padding: 2px;
    box-shadow: 0px 0px 8px 1px #111;

    .spinner {
      vertical-align: middle;
      display: inline-block;
    }
  }

  .error.flash {
    background: $error-flash-bg;
    color: $error-flash-color;
    font: $error-flash-font;
  }

  .saving.flash {
    background: $saving-flash-bg;
    color: $saving-flash-color;
    font: $saving-flash-font;
  }

  /* Object Top-Navigation */

  nav {
    top: 0px;
    left: 0px;
    line-height: 30px;
    background-color: #416e77;
    width: 100%;
    border-bottom: 1px solid #092227;
    box-shadow: 1px 1px 4px 0px black;

    button {
      display: none;
    }

    @media #{$not-media-tablet} {
      ul {
        height:  30px;
        line-height: 30px;

        li {
          position: relative;
          display: inline-block;
          vertical-align: top;
          overflow: hidden;

          font:    $header-nav-font;
          height:  30px;
          line-height: 30px;

          .icon {
            padding-left: 18px;
            font:    $header-nav-font;
            min-height: 22px;
            line-height: 22px;
          }

          a.icon {
            color: white;
            vertical-align: top;
            display: inline-block;
            height: 22px;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-right: 5px;
            font:    $header-nav-font;
            line-height: 22px;
            background-color: #215965;
            position: relative;
            z-index: 9;

            img.hover {
              display: none;
            }

            img {
              vertical-align: middle;
              margin-right: 7px;
              margin-bottom: 2px;
              width: 18px;
              height: 18px;
            }

            &:hover {
              text-decoration: none;
            }
          }

          &:last-child {
            padding-right: 10px;

            .after {
              vertical-align: top;
              height: 30px;
              width: 30px;
              line-height: 22px;
              content: '';
              color: #BFBFBF;
              display: inline-block;
              position: absolute;
              right: -5px;
              z-index: 0;
              background-color: #215965;
              transform: scaleX(0.5) rotate(45deg);
              box-shadow: 0px 0px 7px 1px $base-general-major inset;
            }
          }

          .before {
            vertical-align: top;
            height: 30px;
            width: 30px;
            line-height: 22px;
            content: '';
            color: #BFBFBF;
            display: inline-block;
            position: absolute;
            left: -19px;
            z-index: 99;
            background-color: #215965;
            transform: scaleX(0.5) rotate(45deg);
            box-shadow: 0px 0px 7px 1px $base-general-major inset;
          }

          &:first-child {
            a.icon {
              padding-left: 5px;
            }

            .before {
              display: none;
            }
          }

          &:hover {
            @keyframes highlight {
              0% {
                background-color: #215965;
              }
              100% {
                background-color: #2e717f;
              }
            }

            a.icon {
              animation-name: highlight;
              animation-duration: 0.3s;
              background-color: #2e717f;
            }

            + li .before {
              animation-name: highlight;
              animation-duration: 0.3s;
              background-color: #2e717f;
            }

            .after {
              animation-name: highlight;
              animation-duration: 0.3s;
              background-color: #2e717f;
            }
          }
        }
      }
    }
  }

  /* Icon */
  .large-icon {
    width: 56px;
    height: 56px;
    margin: 10px;

    position: absolute;
    background-size: 70%;
    background-position: 50% 50%;
    top: 0px;
    left: 15px;

    @media #{$media-4k} {
      width:  86px;
      height: 86px;
      margin: 15px;
    }

    &.avatar {
      border-radius: 15px;
      background-color: white;
      width: 58px;
      height: 58px;

      & ~ .shadow {
        //box-shadow: inset 0px 0px 3px 3px $header-general-background;

        width: 62px;
        height: 62px;
        margin: 10px;

        position: absolute;
        top: -4px;
        left: 11px;

        border-radius: 19px;
        border: 2px solid $base-general-accent;

        @media #{$media-4k} {
          width:  86px;
          height: 86px;
        }
      }
    }
  }

  nav ~ .large-icon {
    top: 30px;
  }

  /* Right sidebar */
  .statistics {
    float: right;
    position: relative;
    z-index: 99999;
    top: 8px;
    margin-bottom: 8px;

    /* Person Roles */

    ul.roles li.administrator {
      background-color: $role-administrator-bg;
    }

    ul.roles li.experimentalist {
      background-color: $role-experimentalist-bg;
    }

    /* Dropdown button for small screens */
    button {
      display: none;
      cursor: pointer;

      & + ul.dropdown-menu-options.options {
        display: block;
      }
    }

    /* Buttons/actions */
    ul {
      li {
        display: block;
        position: relative;
        overflow: hidden;
      }
      &.roles li {
        @include side-button;
      }

      li a {
        @include side-button;
      }

      li form input {
        @include side-button;

        height: 30px;
        border: none;
        margin: 0;
        cursor: pointer;
      }

      li:not(.disabled) form input,
      li:not(.disabled) a {
        background-color: #357C8A;
        cursor: pointer;
      }

      li a:hover {
        text-decoration: none;
      }

      li:not(:last-child) {
        border-bottom: 1px solid #2C6571;
      }

      &.roles li:not(:last-child) {
        border-bottom: 1px solid #173238;
      }

      li:first-child {
        border-top-left-radius: 3px;
      }

      li:last-child {
        border-bottom-left-radius: 3px;
      }

      li:not(.disabled) form input,
      li:not(.disabled) a {
        &:hover, &:focus {
          background-color: #3C98AA;
        }

        &:focus {
          outline: none;
          box-shadow: inset 0 0 3px 3px $base-general-focus;
        }
      }

      li.visibility.private a ,
      li.visibility.private form input {
        background-image: url('/images/public_locked.png');
      }

      li.visibility.public a ,
      li.visibility.public form input {
        background-image: url('/images/public_unlocked.png');
      }

      li.fork a {
        background-image: url('/images/dynamic/hex/357c8a/fork.svg');

        &:hover {
          background-image: url('/images/dynamic/hex/ffffff/fork.svg');
        }
      }

      li.bookmark form input {
        background-image: url('/images/dynamic/hex/357c8a/bookmark.svg');

        &:hover {
          background-image: url('/images/dynamic/hex/ffffff/bookmark.svg');
        }
      }

      li.trust a ,
      li.trust form input {
        background-image: url('/images/dynamic/hex/357c8a/trust.svg');

        &:hover {
          background-image: url('/images/dynamic/hex/ffffff/trust.svg');
        }
      }

      li.trusted a ,
      li.trusted form input {
        background-image: url('/images/trusted.svg');
      }

      li.administrator {
        background-image: url('/images/role_administrator.svg');
      }

      li.experimentalist {
        background-image: url('/images/role_experimentalist.svg');
      }

      li.bookmark_delete form input {
        background-image: url('/images/bookmark_delete.svg');
      }

      li.history a {
        background-image: url('/images/history.svg');
      }
    }
  }

  /* We will make it always a dropdown! */
  .statistics {
    bottom: auto;

    right: 10px;
    top:   10px;

    width:  30px;
    height: 30px;

    @media #{$media-4k} {
      right:  15px;
      top:    15px;

      width:  50px;
      height: 50px;
    }

    margin-left: 10px;

    button {
      display: block;

      width:  30px;
      height: 30px;

      @media #{$media-4k} {
        width:  50px;
        height: 50px;
      }

      background: none;
      background: no-repeat center / 30px 30px url('/images/dynamic/hex/25474e/icons/ui/object-actions.svg');
      background-color: #357c8a;
      border: 1px solid #25474e;
      border-radius: 50%;

      & + ul.dropdown-menu-options.options {
        display: none;
        right: 3px;

        li {
          background-color: white;
          color: black;
          border: none;

          a, button, input {
            @include side-button;

            background-color: white;
            color: black;
            height: auto;

            width: calc(100% + 20px);

            &:hover {
              background-color: $interface-dropdown-background;
              color: $interface-dropdown-text;
            }
          }
        }
      }
    }
  }

  &.person .statistics {
    width: 168px;
  }

  /* Object Type */
  .type {
    letter-spacing: 0.05em;
    display: block;
    padding-left: 109px;

    color: $header-general-type;
    font: $object-type-font;

    height: 23px;

    z-index: 999;

    @media #{$media-4k} {
      height: 32px;
      padding-left: 139px;
    }

    > a {
      position: relative;
      bottom: -5px;
      color: $header-general-type;
      font: $object-type-font;
    }

    > span,
    > ul {
      position: relative;
      bottom: -5px;
      display: inline-block;
      color: #888;

      li {
        display: inline-block;
        color: #888;
      }
    }

    img {
      float: right;
      margin-top: 9px;
      margin-right: 10px;
      height: 28px;
      width:  28px;
      vertical-align: middle;

      & + a,
      & + ul,
      & + span {
      }
    }

    &.no-organization {
      margin-top: 10px;

      @media #{$media-4k} {
        margin-top: 19px;
      }
    }
  }

  /* Object Name */
  .large-icon + .name ,
  .shadow + .name ,
  .statistics + .name {
    margin-top: 16px;

    @media #{$media-4k} {
      margin-top: 20px;
    }

    &:last-child {
      margin-top: 27px;

      @media #{$media-4k} {
        margin-top: 36px;
      }
    }
  }

  .name {
    display: block;
    padding-left: 109px;
    padding-right: 175px;
    padding-bottom: 2px;
    color: $header-general-name;
    word-wrap: break-word;

    @media #{$media-4k} {
      padding-left: 139px;
    }

    a {
      color: $header-general-name;
      &:hover {
        text-decoration: none;
      }
    }
  }

  /* Authorship */
  .parent ,
  .organization {
    display: block;
    color: $header-general-authors;
    font: $object-sub-header-font;
    min-height: 1em;
    padding-left: 111px;

    &:empty {
      height: 0px;
      min-height: 0px;
    }

    @media #{$media-4k} {
      padding-left: 139px;
    }
  }

  /* Header Badges */
  ul.badges {
    display: inline-block;

    li.badge {
      text-indent: -9999px;
      overflow:hidden;
      width: 20px;
      height: 20px;
      display: inline-block;
      background-size: auto 20px;
      background-repeat: no-repeat;
      vertical-align: middle;

      &.trusted {
        background-image: url('/images/trusted.svg');
      }
    }
  }
}

/* Right-to-left displays */

html body .content h1.rtl {
  /* Icon goes to right */
  .large-icon {
    right: 15px;
    float: right;
  }

  /* Right sidebar (goes to left) */
  .statistics {
    right: auto;
    left: 0%;

    ul {
      li a ,
      li form input, 
      &.roles li {
        @include side-button-rtl;

        text-align: right;
      }

      li:first-child {
        border-top-right-radius: 3px;
        border-top-left-radius:  0;
      }

      li:last-child {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius:  0;
      }
    }
  }

  .type {
    text-align: right;
    padding-left: 165px;
    padding-right: 129px;

    @media #{$media-tablet} {
      padding-left: 15px;
      padding-right: 80px;
    }
  }

  .name {
    text-align: right;
    padding-left: 175px;
    padding-right: 129px;

    @media #{$media-tablet} {
      padding-left: 15px;
      padding-right: 80px;
    }

    .parent,
    .organization {
      padding-left:  0;
      padding-right: 111px;
      text-align:    right;

      @media #{$media-tablet} {
        padding-left:  0px;
        padding-right: 80px;
      }
    }
  }
}

/* Styling for smaller object headers */

@mixin progressive-header {
  /* Push the buttons to the top, remove dead-space */
  padding-top: 0;
  min-height: 66px;

  padding-bottom: 0px;

  nav.dropdown-menu.media-tablet {
    box-shadow: none;
    border-bottom: none;
    top: 10px;
    right: 50px;
    left: auto;
    position: absolute;
    background: none;

    width: auto;

    cursor: pointer;

    button {
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #25474e;
      box-sizing: border-box;
      cursor: pointer;

      background: none;
      background: no-repeat center / 30px 30px url('/images/dynamic/hex/25474e/icons/ui/object-nav.svg');
      background-color: #357c8a;
    }

    ul.dropdown-menu-options {
      display: none;
      line-height: 0px;
      z-index: 99999;

      li {
        font: 300 0.75rem Lato, sans-serif;
        line-height: 16px;

        a.icon {
          padding: 4px;
          padding-left: 10px;
          width: calc(100% - 14px);

          img {
            margin-right: 7px;
            vertical-align: middle;
          }

          img.hover {
            display: none;
          }

          &:hover {
            img {
              display: none;
            }

            img.hover {
              display: inline-block;
            }
          }
        }

        .after, .before, &:after, &:before {
          display: none;
        }
      }
    }

    & ~ .large-icon {
      top: 10px;
    }
  }

  .large-icon {
    width: 48px;
    height: 48px;
    padding: 0;
    border-width: 2px;
    top: 10px;
    left: 5px;
    margin: 0;
    margin-left: 10px;

    &.avatar {
      width: 47px;
      height: 47px;
      left: 7px;

      & ~ .shadow {
        width: 51px;
        height: 51px;
        left: 3px;
      }
    }
  }

  .type {
    padding-right: 15px;
    padding-left: 80px;
    padding-bottom: 3px;
    margin-top: -4px;
  }

  .large-icon + .name ,
  .statistics + .name {
    &:last-child {
      margin-top: 0px;
      padding-top: 25px;
    }

    margin-top: 0px;
    padding-top: 10px;
  }

  .name {
    padding-right: 15px;
    margin-bottom: 4px;

    padding-left: 80px;
    font-size: 18px;
    line-height: 18px;
  }

  .parent ,
  .organization {
    padding-left: 80px;
  }
}

/* Use smaller header when screen space is reduced */
html body .content h1 {
  @media #{$media-tablet} {
    @include progressive-header;
  }
}

/* Use smaller header for modals */
html body .modal-window {
  .content h1 {
    min-height: 50px;
    padding: 0;
    padding-bottom: 7px;

    .large-icon {
      width: 40px;
      height: 40px;
      top: 4px;
      margin: 0;
      margin-left: 10px;
    }

    .organization ,
    .name {
      padding-left: 89px;
    }

    @include progressive-header;
  }
}

/* Embedded view header */
html body.embed .content h1 {
  .organization {
    display: none;
  }
  .statistics {
    display: none;
  }
  .environment {
    display: none;
  }
  .badges {
    display: none;
  }

  top: 0px;
  left: 170px;
  background: none;
  position: fixed;
  z-index: 99999;
  padding: 0;
  height: 38px;
  min-height: 38px;
  max-height: 38px;

  img {
    left: 0;
    top: 1px;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
  }

  .type {
    left: 0;
    padding: 0;
    padding-left: 45px;
    margin: 0;
    margin-top: -6px;
    height: 19px;

    font: $object-type-font-embed;
    color: $header-embed-type;

    a {
      font: $object-type-font-embed;
      color: $header-embed-type;
    }
  }

  .name {
    left: 0;
    padding: 0;
    padding-left: 45px;
    margin: 0;

    font: $header-font-embed;
    color: $header-embed-name;

    a {
      font: $header-font-embed;
      color: $header-embed-name;
    }

    &:last-child {
      margin-top: 8px;
    }
  }
}
