@charset "UTF-8";

.content .card h2 + ul.history {
  text-align: left;
  padding: 20px 20px;
  max-width: 800px;

  @media #{$media-4k} {
    max-width: 1600px;
  }

  margin: 0 auto;

  li.commit {
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 10px 20px;
    background-color: $history-bg;

    &:last-child {
      border-bottom: 1px solid #ddd;
    }

    .date {
      display: inline-block;
      float:   right;
      margin:  0;
      font:    $history-date-font;
      color:   $history-date-color;

      position: relative;
      top: -19px;
      background-color: $history-bg;
      padding-left: 10px;
      padding-right: 10px;
    }

    .name,
    .author {
      display: inline-block;
      margin:  0;
      font:    $history-author-font;
      color:   $history-author-color;
    }

    .name {
      font-weight: 300;
    }

    .message {
      display:    block;
      margin:     0;
      margin-top: 10px;
      font:       $history-message-font;
      color:      $history-message-color;
    }
  }
}
