/* This file contains the paths for all of the icons on the system.
 *
 * The header icons inside the circles... those icons are listed first.
 * Followed by the icons for different metadata fields and subheaders.
 */

@charset "UTF-8";

/* Header Icons */

.content .information > .object > h2.large-icon, // Header icons
.container-content.icon { // Workflow graph icons
  &:not(.container-content), &:after {
    background-image: url('/images/icons/object_large.svg');
  }

  &.system {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/occam_large.png');
    }
  }

  &.search {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/icons/search.svg');
    }
  }

  &.test {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/icons/test.svg');
    }
  }

  &.error {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
      background-image: url('/images/error_large.png');
    }
  }

  &.import {
    &:not(.container-content), &:after {
      background-image: url('/images/import_large.png');
    }
  }

  &.object, &[data-object-type=object] {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/object_large.svg');
    }
  }

  &.qrcode {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/qrcode.svg');
    }
  }

  // Actions

  &.action {
    &:not(.container-content), &:after {
      background-color: transparent;
      border-radius: 0;
      border: none;
    }
  }

  &.action.fork {
    &:not(.container-content), &:after {
      background-image: url('/images/icons/fork.svg');
    }
  }
}

/* Metadata Icons */
h2.icon,
li.tab a.icon {
  /* Default */
  & {
    background-image: url('/images/icons/metadata/object.png');
  }

  &.uuid {
    background-image: url('/images/icons/metadata/uuid.png');
  }

  &.date {
    background-image: url('/images/icons/metadata/date.svg');
  }

  &.backend {
    background-image: url('/images/icons/metadata/backend.svg');
  }

  &.facets {
    background-image: url('/images/icons/ui/facets.svg');
  }

  &.list-view {
    background-image: url('/images/icons/list-view.svg');
  }

  &.list-preview {
    background-image: url('/images/icons/list-preview.svg');
  }

  &.progress {
    background-image: url('/images/icons/metadata/progress.png');
  }

  &.experiment {
    background-image: url('/images/icons/metadata/experiment.png');
  }

  &.newTab {
    background-image: url('/images/icons/metadata/new_tab.svg');
  }

  &.task {
    background-image: url('/images/icons/metadata/generic.png');
  }

  &.repository {
    background-image: url('/images/icons/metadata/repository.png');
  }

  &.revision {
    background-image: url('/images/icons/metadata/revision.png');
  }

  &.object {
    background-image: url('/images/icons/metadata/object.png');
  }

  &.clonedFrom {
    background-image: url('/images/icons/metadata/clonedFrom.png');
  }

  &.history {
    background-image: url('/images/icons/metadata/history.png');
  }

  &.qrcode {
    background-image: url('/images/icons/metadata/qrcode.svg');
  }

  &.time {
    background-image: url('/images/icons/metadata/history.png');
  }

  &.website {
    background-image: url('/images/icons/metadata/website.svg');
  }

  &.generator {
    background-image: url('/images/icons/metadata/generator.png');
  }

  &.authors {
    background-image: url('/images/icons/metadata/authors.png');
  }

  &.collaborators {
    background-image: url('/images/icons/metadata/collaborators.png');
  }

  &.configuration {
    background-image: url('/images/icons/metadata/configuration.png');
  }

  &.script_path {
    background-image: url('/images/icons/metadata/object.png');
  }

  &.binary_path {
    background-image: url('/images/icons/metadata/code.png');
  }

  &.script {
    background-image: url('/images/icons/metadata/code.png');
  }

  &.environment {
    background-image: url('/images/icons/metadata/environment.svg');
  }

  &.architecture {
    background-image: url('/images/icons/metadata/architecture.svg');
  }

  &.inputs {
    background-image: url('/images/icons/metadata/inputs.png');
  }

  &.outputs {
    background-image: url('/images/icons/metadata/outputs.png');
  }

  &.perma-link {
    background-image: url('/images/icons/metadata/url.svg');
  }

  &.embed-link {
    background-image: url('/images/icons/metadata/embed-url.svg');
  }

  &.license {
    background-image: url('/images/icons/metadata/license.svg');
  }

  &.publisher {
    background-image: url('/images/icons/metadata/publisher.svg');
  }

  &.group {
    background-image: url('/images/icons/metadata/group.png');
  }

  &.workset {
    background-image: url('/images/icons/metadata/workset.png') !important;
  }

  &.occam {
    background-image: url('/images/icons/targets/occam.png');
  }

  &.javascript {
    background-image: url('/images/icons/backends/javascript.png');
  }

  &.any {
    background-image: url('/images/icons/backends/any.png');
  }

  &.run {
    background-image: url('/images/icons/metadata/run.svg');
  }

  &.build {
    background-image: url('/images/icons/metadata/build.svg');
  }

  &.docker {
    background-image: url('/images/icons/backends/docker.png');
  }

  &.aptlab {
    background-image: url('/images/icons/targets/aptlab.png');
  }

  &.ec2 {
    background-image: url('/images/icons/targets/ec2.png');
  }

  &.paper {
    background-image: url('/images/icons/objects/paper.svg');
  }

  &.page {
    background-image: url('/images/icons/objects/page.svg');
  }

  &.volume {
    background-image: url('/images/icons/objects/volume.svg');
  }
}
