@charset "UTF-8";

body .content .index {
  max-width: $index-width;
  margin: 0 auto;

  @media #{$media-4k} {
    max-width: 2400px;
  }
}

.content .index .header {
  background-color: #103942;
  position: relative;
  width: 100%;
}

.content .index .header > img {
  width: 100%;

  &.w1600 {
    display: none;
  }

  @media (min-width: 1600px) {
    display: none;

    &.w1600 {
      display: block;
    }
  }
}

.content .index .video {
  position: absolute;
  z-index: 2;
  top: 65%;

  left: 0;
  right: 0;

  margin: 0 auto;

  width: 100%;
}

.content .index .resizer {
  background-color: white;
  left: 0;
  right: 0;

  margin: 0 auto;

  width: 100%;
}

.content .index .resizer > .resizer-content ,
.content .index .video > .screen {
  position: relative;
  left: 0;
  right: 0;

  margin: 0 auto;

  max-width: 480px;
}

.content .index .resizer > .resizer-content {
  max-width: 380px;
}

.content .index .video > .screen {
  border: 20px solid #103942;
}

.content .index .resizer > .resizer-content > img ,
.content .index .video > .screen > img {
  max-width: 480px;
  width: 100%;
}

.content .index .resizer > .resizer-content > img {
  max-width: 380px;
}

.content .index .video .screen .embed {
  position: absolute;
  background-color: black;

  background-image: url('/images/occam-workflow-base.png');
  background-size: 100% 100%;

  top: 0px;
  left: 0px;

  cursor: pointer;

  max-width: 480px;
  width: 100%;
  height: 100%;
}

.content .index .video .screen .embed:hover {
  background-image: url('/images/occam-workflow.png');
}

.content .index .pillars {
  background-color: white;
}

.content .index .pillars ul {
  display: block;
  text-align: center;
  width: 100%;
}

.content .index .pillars ul li {
  background: url('/images/pillar.png') no-repeat 50% 0;
  color: #777;
  display: inline-block;
  text-align: center;

  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;

  padding-top: 74px;

  height: 40px;
  min-width: 200px;
  width: 30%;

  @media #{$media-tablet} {
    display: block;
    width: 100%;
  }
}

.content .index .markdown {
  background-color: #103942;
  position: relative;
  width: 100%;
  color: #ccc;

  margin-top: 5px;

  clear: both;

  padding: 20px 0;
}

.content .index .markdown .clear {
  clear: both;
}

.content .index .markdown p {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}

.content .index .markdown ~ .markdown p {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}

.content .index .markdown p + p {
  margin-top: 10px;
}

.index .markdown .image.left {
  padding-left: 20px;
}

.index .markdown .image.right {
  padding-right: 20px;
}

.index .markdown .image img.diagram {
  width: 300px;
  margin: 0;
  background-color: #f5f5ff;
}

.index .markdown:nth-of-type(2n) {
  background-color: #103942;
  color: #ccc;
  
  h2 {
    color: #E2ABE4;
  }
}

.index .markdown:nth-of-type(2n+1) {
  background-color: white;
  color: #333;
}

.index .markdown:nth-of-type(2n+1) h2 {
  color: #103942;
}

.index .markdown:nth-of-type(2n+1) p strong {
  color: #103942;
}

.index .markdown p {
  margin: 0;
  padding: 0 20px;
}

.index .markdown h2 {
  clear: both;

  font-size: 26px;

  margin: 0;
  padding: 0 20px;
}

.index .markdown.sponsors.section img {
  width: 8rem;
}

body .content .index {
  padding-bottom: 0;
  margin-bottom: 0;
}
