@charset "UTF-8";

nav.list-view-options {
  ul {
    li {
    }
  }
}

html > body > .content ul.object-table:not(.bubbles) {
  li.object {
    display: table-row;
  }

  margin: 10px 20px;
  margin-bottom: 0px;

  img.icon {
    width: 17px;
    height: 17px;
    vertical-align: bottom;
    padding-bottom: 1px;
  }

  h2 {
    padding-left: 10px;
  }
}

html > body > .content {
  ul.object-preview-list {
    padding: 20px 20px;
    text-align: center;
  }

  li.object {
    padding-top: 25px;
    text-align: left;
    display: inline-block;
    border: none;
    margin: 10px;
    vertical-align: top;

    .card {
      margin-top: 15px;

      height: inherit;

      max-width: 300px;
      max-height: 300px;
    }

    .preview {
      display: inline-block;
      box-shadow: 0px 0px 5px 1px #888;
      border: 1px solid #fff;
      padding: 0 !important;
      margin: 0;

      max-width: 300px;
      max-height: 300px;
    }

    iframe {
      $iframe-zoom: 0.5;

      -moz-transform: scale($iframe-zoom);
      -moz-transform-origin: 0 0;
      -o-transform: scale($iframe-zoom);
      -o-transform-origin: 0 0;
      -webkit-transform: scale($iframe-zoom);
      -webkit-transform-origin: 0 0;

      transform: scale($iframe-zoom);
      transform-origin: 0 0;
    }

    .object-header {
      width: 300px;
      margin-bottom: 20px;
      position: relative;

      img.icon {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 4px;
        top:  2px;
      }

      h2 {
        overflow: hidden;
        white-space: nowrap;
      }
      p {
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
