/* This holds the styling for the modal dialogs.
 */

.modal-window {
  display:  none;
  position: fixed;

  left: 0;
  top:  0;
  width: 100%;
  height: 100%;

  background-color: rgba(80, 80, 100, 0.7);

  z-index: 999999999;

  > .loading {
    border-radius: 50%;

    position:      fixed;

    left:          calc(50% - 50px);
    top:           calc(50% - 50px);

    width:         100px;
    height:        100px;
  }

  .close {
    background-color:    hsl(191, 61%, 16%);
    background-image:    url("/images/remove_item.svg");
    background-repeat:   no-repeat;
    background-position: 50%;
    background-size:     70%;
    border-radius:       50%;

    cursor:              pointer;

    position:            absolute;

    right:               calc(30% + 2px);
    top:                 calc(30% + 1px);

    width:               20px;
    height:              20px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 5px;

    z-index: 9999999;

    @media (max-width: 1250px) {
      right: calc((100vw - 500px) / 2 + 2px);
    }

    @media (max-width: 500px) {
      right: 2px;
    }

    @keyframes hover-animation {
      0% {
        background-color:    hsl(191, 61%, 16%);
      }
      100% {
        background-color: hsla(191, 61%, 36%, 1);
      }
    }

    &:hover {
      background-color: hsla(191, 61%, 36%, 1);
      animation: 0.2s hover-animation;
    }
  }

  .content {
    background-color: black;
    border: 1px solid #333;
    box-shadow: 0px 0px 10px -1px #333333;
    box-sizing: border-box;

    overflow: hidden;

    border-radius: 5px;
    border-top-right-radius: 12px;

    position: absolute;

    padding: 0;
    margin:  0;

    width:  40%;

    min-width: 500px;

    left:   30%;
    top:    30%;

    @media (max-width: 1250px) {
      left: calc((100vw - 500px) / 2);
    }

    @media (max-width: 500px) {
      width: 100%;
      max-width: 100%;
      min-width: 0;
      left: 0px;
    }

    & > .card ,
    & > form  {
      overflow: auto;
      max-height: 500px;
    }
  }
}
