@charset "UTF-8";

$mobile-header-height: 2rem;
$header-height: 2.0rem;

nav.topbar {
  background-color: $topBar-general-background;
  background-image: linear-gradient(to top, #ddd, #fff);
  z-index: 99999;
  box-shadow: $topBar-general-shadow;
  height: $header-height;
  min-height: $header-height;
  line-height: $header-height;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: right;

  @media #{$media-tablet} {
    height: auto;
    min-height: $mobile-header-height;
    line-height: $mobile-header-height;
  }
}

body.embed {
  nav.topbar {
    min-height: $header-height;
    line-height: $header-height;
  }
}

nav.topbar .logo {
  background: url('/images/logo6_small.png') no-repeat 50% 50%;
  background-color: $topBar-general-logoBackground;
  color: hsl(190, 80%, 70%);
  display: inline-block;
  height: $header-height;
  line-height: $header-height;
  width: 9rem;
  letter-spacing: 0.03em;
  vertical-align: top;
  position: absolute;
  left: 0;

  @media #{$media-tablet} {
    left: -0.6rem;
    height: $mobile-header-height;
    min-height: $mobile-header-height;
    line-height: $mobile-header-height;
  }

  @media #{$media-4k} {
    background: url('/images/logo6_small_4k.png') no-repeat 50% 50%;
    background-color: $topBar-general-logoBackground;
  }
}

body.embed {
  nav.topbar .logo {
    left: -0.6rem;
  }
}

@mixin divider-left-smaller {
  width: 6px;
  border-top: none;
  border-bottom: $mobile-header-height solid $topBar-general-logoBackground;
  left: 7.2rem;
}

// The triangular part after the logo
nav.topbar .divider-left {
  content: '';

  position: absolute;
  display: block;

  width: 14px; 
  height: 0; 

  left: 9rem;

  border-right: $header-height solid transparent;
  border-top: $header-height solid $topBar-general-logoBackground;

  @media #{$media-tablet} {
    @include divider-left-smaller;
  }

  @media #{$media-4k} {
    left: 200px;
  }
}

body.embed {
  nav.topbar .divider-left {
    @include divider-left-smaller;
    border-bottom: $header-height solid $topBar-general-logoBackground;
  }
}

// The sunbeam divider

@mixin divider-smaller {
  width: 9px;
  left: 8.0rem;
  transform: skew(35deg);
  border-left: 9px solid transparent;
  border-top: $mobile-header-height solid $topBar-general-accent;
}

nav.topbar .divider {
  position: absolute;
  display: block;

  width: 14px; 
  height: 0; 

  left: 8.8rem;

  transform: skew(-65deg);

  border-left: $header-height solid transparent;
  border-top: $header-height solid $topBar-general-accent;

  @media #{$media-tablet} {
    @include divider-smaller;
  }
}

body.embed {
  nav.topbar .divider {
    @include divider-smaller;
    border-top: $header-height solid $topBar-general-accent;
  }
}

// The second sunbeam
@mixin divider-right-smaller {
  width: 6px;
  left: 8.7rem;
  transform: skew(21deg);
  border-left: 9px solid transparent;
  border-top: $mobile-header-height solid $topBar-general-highlight;
}

nav.topbar .divider-right {
  position: absolute;
  content: '';
  display: block;

  width: 14px; 
  height: 0; 

  left: 10.2rem;
  top:  0px;

  transform: skew(-71deg);

  border-left: $header-height solid transparent;
  border-top: $header-height solid $topBar-general-highlight;

  @media #{$media-tablet} {
    @include divider-right-smaller;
  }
}

body.embed {
  nav.topbar .divider-right {
    @include divider-right-smaller;
    border-top: $header-height solid $topBar-general-highlight;
  }
}

html.embedded nav.topbar {
  text-align: center;
}

nav.topbar .object-info {
  display: inline-block;
  margin:  0 auto;
  vertical-align: middle;
  position: relative;
  top: -3px;

  span {
    display: block;
    font: $workflow-label-name-font;
    color: $workflow-label-name-color;

    &#object-type {
      font: $workflow-label-type-font;
      color: $workflow-label-type-color;
    }
  }
}

nav.topbar ul.navbar {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

nav.topbar ul.navbar.left {
  position: absolute;
  left: 140px;

  @media #{$media-wide} {
    display: none;
  }
  @media #{$media-tablet} {
    display: none;
  }
}

nav.topbar :not(.right) + ul.navbar.right {
  padding-left: 150px;
}

nav.topbar ul.navbar > li {
  display: inline-block;
  font: $nav-link-font;
  margin: 0;
  padding-right: 10px;
  vertical-align: top;
  height: $header-height;
  line-height: $header-height;

  @media #{$media-tablet} {
    height: $mobile-header-height;
    line-height: $mobile-header-height;
  }
}

nav.topbar ul.navbar:not(:last-child) {
  @media #{$media-tablet} {
    > li {
      padding-right: 0px;
    }
  }
}

nav.topbar ul.navbar li input {
  border: 1px solid #e8e8e8;
  height: calc(#{$header-height} - 0.5rem);
  padding: 0 5px;
  font-size: 0.8rem;

  @media #{$media-4k} {
    vertical-align: middle;
  }
}

@mixin placeholder {
  color: #bbb !important;
  opacity: 1;
}

/* Firefox doesn't accept pseudo-selectors inside comma lists */
nav.topbar ul.navbar li input:-ms-input-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input::-moz-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input:-moz-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input::-webkit-input-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input:input-placeholder {
  @include placeholder;
}

nav.topbar ul.navbar li a.dropdown,
nav.topbar ul.navbar li #avatar {
  display: inline-block;
  height: $header-height;
  line-height: $header-height;
  padding: 0px;

  @media #{$media-tablet} {
    height: $mobile-header-height;
    line-height: $mobile-header-height;
    margin-right: 3px;
  }
}

nav.topbar ul.navbar li #avatar img {
  width:  calc(#{$header-height} - 0.7rem);
  height: calc(#{$header-height} - 0.7rem);
  border-radius: 5px;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #c5c5c5;

  @media #{$media-tablet} {
    width:  calc(#{$mobile-header-height} - 0.7rem);
    height: calc(#{$mobile-header-height} - 0.7rem);
  }
}

nav.topbar ul.navbar li #username {
  color: $topBar-general-person;
  display: inline-block;
  margin-right: 9px;
  padding: 0 3px;
  border-radius: 0.5em;

  @media #{$media-tablet} {
    margin-right: 4px;
  }
}

nav.topbar ul.navbar li p {
  display: inline-block;
  margin-right: 5px;
}

nav.topbar ul.navbar > li > a {
  color: $topBar-general-link;
  //background-color: $nav-link-bg;
  //border: 1px solid $nav-link-border-color;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 8px;
}

nav.topbar ul.navbar > li a:hover {
  text-decoration: underline;
}

nav.topbar ul.search {
  @media #{$media-tablet} {
    padding-left: 0px;
  }

  li {
    @media #{$media-tablet} {
      #query {
        display: none;
      }
    }

    input[type=submit] {
      display: inline-block;
      overflow: hidden;
      vertical-align: middle;
      text-indent: -9999px;
      text-align: left;

      cursor: pointer;

      border: none;
      outline: none;
      background: none;
      background-image: url("/images/icons/ui/search.svg");
      background-size: 100% 100%;

      width: 21px;
      height: 21px;

      padding: 0;
      margin: 0;

      @media #{$media-4k} {
        height: 38px;
        width: 38px;
      }
    }
  }
}
