/* This styles the generic object view.
 */

@charset "UTF-8";

/* Progress bar for dynamic page loading */
.sub-pjax-progress ,
.pjax-progress {
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  &:after {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 3px;
    content: "";
    background-color: $base-general-accent;
  }
}

.sub-pjax-progress {
  position: relative;
  top: 1px;
  margin-bottom: -3px;
  z-index: 9;

  &:after {
    background-color: $base-general-accent;
  }
}

.content h1 + .bar {
  height: 4px;
  margin-top: 1px;
  background-color: #53455f;
  padding: 0;
  margin-bottom: -1px;
}

.content.markdown h1 + .bar {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 0;
}

body.embed h1 + .bar {
  display: none;
}

/* QR Code */
img.qrcode {
  width: 240px;
  height: 240px;
}

/* Widget */

.card {
  > .widget-label {
    padding: 0;
    border: 1px solid #ddd;
    background-color: #eee;
    text-align: center;

    input.button {
      margin: 0px;
      margin-right: 20px;
    }
  }
}

/* Screenshots */

table.images {
  background-color: black;
  overflow: hidden;
  margin: 0 auto;
}

table.images tr:first-child td:first-child {
  width: 66%;

  img {
    vertical-align: middle;
  }
}

table.images tr:not(:first-child) td {
  width: 33%;
}

table.images img {
  width: 100%;
  margin: auto auto;
}

/* Authors/Collaborators list */

.authors.section {
  margin-top: 20px;
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px !important;
}

.collaborators.section {
  margin-top: 20px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  padding-left: 20px !important;
}

ul.people {
  margin-left: -2px;
  margin-bottom: 15px;
}

ul.people li:not(:last-child) {
  margin-bottom: 5px;
}

ul.people li.new:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 24px;
  border: 2px solid #eee;
  background-image: url('/images/add.png');
  background-size: 24px 24px;
  background-position: -2px -2px;
}

ul.people li.new {
  position: relative;
}

ul.people li.new input {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  height: 16px;
  border: 1px solid #ccc;
  padding: 2px 5px;
  width: 150px;
}

ul.people li.new input.button {
  width: 70px;
  height: 22px;
  line-height: 10px;
}

ul.people li .avatar {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

ul.people li .avatar + a {
  vertical-align: middle;
}

ul.people li form {
  display: inline-block;
  margin-left: 10px;
}

ul.people li form input.link:not(.button) {
  font-size: 10px;
  color: #ccc;

  &:hover {
    color: $base-general-link;
  }
}

.content .card .directory tr.row.add .selector {
  vertical-align: middle;
}

.content .card .directory tr.row.add input {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 3px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}

.content .card .directory tr.row.add input.button {
  padding: 2px;
  margin: 0;
  width: 100px;
  vertical-align: middle;
  height: 32px;
}

.content table.directory {
  margin-top: 10px;
  width: $width;
}

.content h2.offscreen + .help-bubble + .help + table.directory {
  margin-top: 0;
}

.content .filelists {
  position: relative;
}

.content .filelists table.directory {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;

  + table.directory {
    left: 50%;
    top: 0;
  }
}

body > .draggable {
  z-index: 999999;
  position: fixed !important;
  left: 0;
  top: 0;
  cursor: pointer;
}

.dragging-area,{
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
}

table.directory {
  border-top: 1px solid #eee;

  &.draggable {
    background-color: #f8f8f8;
  }

  table.directory {
    border: none;
    border-left: 1px solid #eee;
  }

  tr.row:not(.add):not(.tree) > td {
    border-bottom: 1px solid #eee;
  }

  tr.row:not(.add):not(.tree) > td.actions {
    padding-right: 15px;
  }

  tr.row.group:not(.add):not(.tree) > td {
    //background-color: $directory-group-bg;
  }

  table.directory tr.row:not(.add):first-child > td {
    border-top: none;
  }

  table.directory tr.row:not(.add) > td {
    border-left: none;
    border-right: none;
  }

  tr.row:not(.add) td:first-child {
    border-left: 1px solid #eee;
  }

  tr.row:not(.add) td:last-child {
    border-right: 1px solid #eee;
  }

  .content table.directory tr.row.tree > td {
    padding: 0;
    padding-left: 20px;
  }

  .content table.directory tr.row.tree table.directory {
    margin: 0;
  }

  li {
  }

  &.information {
    position: relative;

    margin-left: $content-padding;
    margin-right: $content-padding;

    margin: 0 auto;
    text-align: left;

    &.input-sets {
      margin-left: -1px;
    }

    .row {
    }

    .row > td {
      //vertical-align: top;

      padding-bottom: 8px;
      padding-left:   5px;
      padding-top:    8px;

      white-space: nowrap;

      font:  $directory-normal-font;
      //color: $directory-normal-color;
    }

    .group.row > td {
      font:  $directory-group-font;
      //color: $directory-group-color;
    }

    .row > td + td {
    }

    .row > td.size {
      font:  $directory-size-font;
      //color: $directory-size-color;
    }

    .row > td.name {
      width: 100%;
    }

    .row > td.size {
      text-align: right;
    }

    .row > td + td {
      padding-left: 5px;
    }

    .row > td.name > a {
      //color: $directory-normal-color;
    }

    .row.linked > td.name > a {
      //color: $directory-linked-color;
    }

    .row.group > td.name > a {
      //color: $directory-group-color;
    }

    .row:not(.tree):not(.upload):not(.header) > td:first-child {
      padding-left: 39px;

      background-repeat: no-repeat;
      background-position: 11px 50%;
      background-size: 20px;
    }

    .row:not(.tree):not(.upload) > td.checkbox:first-child {
      padding-left: 10px;
      padding-right: 30px;

      background-position: 38px 50%;
      background-size: 20px;
    }

    .row.add:not(.tree):not(.upload) > td:first-child {
      background-image: url("/images/add.png");
      background-repeat: no-repeat;
      background-position: 6px 50%;
      background-size: 24px;
    }

    tr.header > td {
      font:  $directory-caption-font;
      //color: $directory-caption-color;

      padding-top: 16px;
      padding-bottom: 4px;
      padding-left: 10px;
    }

    .row > td.expand {
      color: $expand-color;
      vertical-align: top;
      font-size: 12px;
      text-align: center;
      width: 1em;
      max-width: 1em;
      min-width: 1em;
    }
  }

  tr.row:not(.add):not(.tree):hover > td {
    //background-color: $directory-hover-bg;
  }

  tr td span.revision {
    //color: $directory-revision-color;
    font:  $directory-revision-font;
  }
}

// Bookmarks list

.content .card > ul.bookmarks {
  padding: 0 !important;

  margin-left:  $tab-padding;
  margin-right: $tab-padding;

  @media #{$media-fit} {
    margin-left:  0px;
    margin-right: 0px;
  }

  li.bookmark {
    background-color: #F5F5FF;
    padding: 20px;
    border-bottom: 1px solid #ddd;

    .large-icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      background-color: rgb(21, 38, 41);
    }

    &:last-child {
      border: none;
    }
  }
}

table.directory.information .row:not(.tree):not(.upload):not(.header) > td:first-child {
  padding-left: 59px;
  background-position: 11px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

table.directory.information .row:not(.tree):not(.upload) > td.checkbox:first-child {
  background-position: 25px 50%;
}

/* Paper card page listing */
.content .card .directory.information tr.row td.actions a {
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     20px 20px;

  display:             inline-block;

  width:               20px;
  height:              20px;
  line-height:         20px;

  text-indent:         -9999px;
  overflow:            hidden;

  vertical-align:      middle;

  border: none;
  margin: 0;
  padding: 0;

  &.up {
    background-image: url('/images/ui/up.png');

    &:hover {
      background-image: url('/images/ui/up_hover.png');
    }
  }

  &.down {
    background-image: url('/images/ui/down.png');

    &:hover {
      background-image: url('/images/ui/down_hover.png');
    }
  }

  &.delete {
    background-image: url('/images/remove_item.svg');
  }
}

.content .card .information > * form input {
  display: inline-block;
  border: 1px solid #aaa;
  padding: 0px 5px;
  width: 250px;
  height: 18px;
  margin: 0px;
}

/* Edit description/profile link */

.content .edit-profile-link {
  margin-top: 5px;
}

.content .edit-profile-link a.edit-profile {
  color: hsl(190, 60%, 85%);

  font-size: 12px;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}

.content.embed .tab-panels.runner {
  height: calc(100vh - 167px);
}

.content.embed.minimal .tab-panels.runner {
  height: calc(100vh - 36px);
}

.content .tab-panels .tab-panels.runner {
  min-height: 476px;
}

/* Widget iframe */

.card.object-viewer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;

  & ~ .card.separator {
    flex: 0 0 auto;

    & + .card {
      background-color: #565656;
    }
  }
}

html.embedded .content > ul.tab-panels > li.tab-panel > .card:first-child {
  margin-top: 0;
  min-height: calc(100vh - 90px);

  & + .card.terminal {
    margin-top: 0;
  }

  &.filled {
    min-height: calc(100vh - 50px);
  }

  &.object-viewer {
    min-height: calc(100vh - 120px);
    height: calc(100vh - 120px);
  }
}

html.embedded .content.embed.minimal > ul.tab-panels > li.tab-panel > .card:first-child {
  min-height: none;
}

.content ul.empty {
  padding: 20px;
  margin:  0 !important;

  p.empty {
    text-align: center;
    padding: 25px;
    border: 3px solid #d4d4d4;
    border-radius: 11px;
    color: #c1c1c1;
    background-color: white;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;

      border: 3px solid #888;
      border-radius: 5px;
    }
  }
}

// Storage backend publishing
.card.publish {
  p ,
  h2 {
    margin-left: 20px;
  }

  img {
    height: 32px;
  }

  table {
    margin-top:   10px;
    margin-left: 20px;

    td:not(:first-child) {
      padding-left: 10px;
    }
  }

  button ,
  input.button {
    margin-top:   10px;
    margin-left: 20px;
  }
}

.container > .sidebar {
  position: absolute;
  left: -300px;
  width: 300px;
  top: 0;
  bottom: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;

  z-index: 999;

  transition: left 0.4s;

  & ~ .collapse {
    position: absolute;
    left: -15px;
    width: 13px;
    background-color: white;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    top: 0;
    bottom: 0;
    cursor: e-resize;
    z-index: 99;

    transition: left 0.4s;

    &:hover {
      background-color: #eaeaea;
    }
  }

  & ~ .card ,
  & ~ ul.tab-panels {
    left: 0px;
    right: 0px;
    position: absolute;

    transition: left 0.4s;

    li.tab-panel {
      width: 100%;

      > .card {
        > h2 ,
        > h3 ,
        > form ,
        > ul:not(.configuration-nav),
        > .centered ,
        > .information ,
        > .description {
          padding-left: 20px;
          padding-right: 20px;

          @media #{$media-tablet} {
            padding-left:  10px;
            padding-right: 10px;
          }
        }

        > :not(.offscreen) + button + .help {
          margin-left: 20px;
          margin-right: 20px;

          @media #{$media-tablet} {
            padding-left:  10px;
            padding-right: 10px;
          }
        }
      }
    }
  }

  &.visible {
    & ~ .collapse {
      left: 0px;
    }

    & ~ .card ,
    & ~ ul.tab-panels {
      left: 15px;
    }
  }

  &.reveal {
    left: 0px;
    transition: left 0.4s;

    & ~ .collapse {
      left: 300px;
      transition: left 0.4s;
      box-shadow: -2px 2px 20px 1px #484848;
      cursor: w-resize;
    }

    & ~ .card ,
    & ~ ul.tab-panels {
      left: 315px;

      transition: left 0.4s;

      li.tab-panel > .card {
        > h2 ,
        > h3 ,
        > form ,
        > ul,
        > .centered ,
        > .information ,
        > .description {
          padding-left: 20px;
          padding-right: 20px;
          transition: padding-left 0.4s, padding-right 0.4s;
        }

        > :not(.offscreen) + button + .help {
          margin-left: 20px;
          margin-right: 20px;
          transition: margin-left 0.4s, margin-right 0.4s;
        }
      }
    }
  } 
}

.content {
  & > .container {
    flex: 1 0 auto;
    position: relative;
    overflow: auto;
    position: relative;

    > .card {
      display: flex;
      flex-direction: column;
      top: 0;
      bottom: 0;
    }
  }
}

ul.tabs {
  & ~ .container {
    flex: 1 0 auto;
    position: relative;
    overflow: auto;

    > ul.tab-panels {
      display: flex;
      flex-direction: column;
      top: 0;
      bottom: 0;

      > .tab-panel {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
      }
    }
  }
}

form.modal,
.card.build,
.theme-description,
.top-details .top-gallery {
  &:not(form) {
    display: flex;
    flex-direction: row;

    &:not(.no-images):not(.build) {
      max-height: 600px;
      @media #{$media-tablet} {
        max-height: none;
      }

      @media (min-height: 1280px) {
        max-height: 1000px;
      }
    }

    @media #{$media-tablet} {
      display: block;
      max-height: none;
    }
  }

  /* Description, Tags */

  .description {
    padding: 15px;
    color: $object-description-text;
    font: $object-description-font;
    background: $object-description-background;
    background-image: url('/images/noise_med_gray.png');

    min-height: 100%;
    max-height: 100%;
    flex: 1 0 auto;

    position: relative;

    overflow: auto;

    width: 100%;
    box-sizing: border-box;

    // There is an image gallery
    &:not(:last-child) {
      width: 50%;
      margin-right: 2px;

      @media #{$media-tablet} {
        width: 100%;
        margin-right: 0;
      }
    }

    *:not(.tag) > a {
      color: $object-description-text;
      font: $object-description-font;
      text-decoration: underline;
    }

    p {
      font: inherit;
    }

    p.edit {
      border-top:  1px solid #5a5a5a;
      padding-top: 10px;
    }

    .information {
      padding: 0;
      display: table;
      text-align: left;

      &:empty {
        display: none;
      }

      > * {
        display: table-row;
        > * {
          display: table-cell;
          padding-bottom: 0;
          vertical-align: baseline;

          &:not(h2) {
            width: 100%;
            padding-left: 15px;
          }

          font: 300 0.9rem "Lato", sans-serif;
        }
      }

      ul {
        list-style: none;

        li {
          display: inline-block;
          margin: 0;
          padding: 0;
          color: $object-description-text;

          &:not(:last-child) {
            &:after {
              content: ", ";
              margin-right: 0.25em;
            }
          }

          &.organization {
            font-style: italic;
          }
        }
      }

      h2 {
        color: $object-description-text;
        font:  400 0.9rem "Lato", sans-serif;
        vertical-align: baseline;
        padding-top: 3px;

        &.icon {
          background-repeat: no-repeat;
          background-position: 0px 3px;
          background-size: 17px;
        }

        @media #{$media-4k} {
          background-size: 32px 32px;
          background-position: 0 0;
          padding-left: 42px;
          padding-bottom: 10px;
          padding-top: 5px;
        }
      }

      .environment {
        img {
          width: 18px;
          height: 18px;
          margin-left: 5px;
          vertical-align: bottom;

          @media #{$media-4k} {
            width: 30px;
            height: 30px;
          }
        }
      }

      width: 100%;

      & + *:not(.ps__rail-x) {
        padding-top: 10px;
        margin-top:  10px;

        border-top:  1px solid #5a5a5a;
      }
    }
    
    > h1 ,
    > h2 {
      background: none;
      height: auto;
      color: $object-description-text;
      padding: 0;
      margin: 0;
      min-height: 0;
      margin-top: 20px;
      position: relative;

      padding-bottom: 1px;
      border-bottom: 1px solid #5a5a5a;

      &:after {
        width: 95%;
        height: 2px;
        display: none;
        content: '';
        position: relative;
        bottom: 0;
        background-image: linear-gradient(to right, #8c5e8d, rgb(165, 135, 166) 30%, transparent);
      }
    }

    > h3 {
      color: $object-description-text;
      font: 400 1rem "Lato", serif;
      margin-bottom: 7px;
      margin-top: 20px;
    }

    img {
      max-width: 100%;
    }

    ul, ol {
      padding-left: 30px;
      margin-top: 10px;

      li {
        list-style-type: disc;
      }

      ul, ol {
        margin-bottom: 10px;
      }
    }

    ol {
      li {
        list-style-type: decimal;
      }
    }

    ol + p ,
    ul + p {
      margin-top: 10px;
    }

    * + ul.tags {
      margin-top:  15px;
      padding-left: 0;
    }

    ul.tags li {
      position: relative;

      display: inline-block;
      line-height: 1em;
    }

    ul.tags li a {
      color: $object-description-tags-text;
      font: $object-description-tags-font;
      text-decoration: none;

      background: $object-description-tags-background;
      border: 1px solid $object-description-tags-border;

      border-radius: 4px;
      padding: 0px 5px;

      &:hover, &:focus {
        color: $object-description-tags-hover-text;
        background: $object-description-tags-hover-background;
        border: 1px solid $object-description-tags-hover-border;
        text-decoration: none;
      }
    }
  }

  /* Image Gallery */

  .card.gallery {
    flex: 0 1 auto;

    background: $object-gallery-background;
    background: url('/images/noise_black.png');
    width: 50%;

    @media #{$media-tablet} {
      width: 100%;
    }

    padding: 0;
    margin:  0;

    overflow: hidden;

    &:first-child {
      width: 100%;
    }

    .flexbox {
      display: flex;
      flex-direction: column;
      min-height: 100%;
      max-height: 100%;
      overflow: hidden;

      height: 600px;
      @media #{$media-tablet} {
        height: 400px;
      }
      @media #{$media-4k} {
        height: 1000px;
      }

      ul.preview {
        flex: 0 1 auto;
        overflow: hidden;

        height: 100%;
        width:  100%;

        padding: 0;
        margin:  0;

        position: relative;

        li {
          opacity: 0.0;
          transition: opacity 0.5s;

          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          height: 100%;
          width:  100%;
          z-index: 0;

          &:first-child,
          &:target ,
          &.active {
            opacity: 1.0;
            z-index: 9;
          }

          img {
            display: block;

            width: 100%;
            height: 100%;

            padding: 0;
            margin:  0;

            object-fit: contain;
          }
        }
      }

      ul.thumbs {
        flex: 0 0 auto;

        padding: 0;
        margin:  0;

        overflow: auto;

        white-space: nowrap;

        position: relative;

        padding-top: 7px;
        margin-top: -7px;

        text-align: center;

        li {
          display: inline-block;
          position: relative;

          margin-left: -5px;

          &.active {
            a {
              border-color: #c49dc5;
              img {
                border-color: $object-gallery-thumb-activeBorder;
              }
            }

            z-index: 9999;

            .before  ,
            &:before {
              content: '';
              display: block;
              width: 0px;
              height: 0px;
              border-bottom: 11px solid #c49dc5;
              border-left: 11px solid transparent;
              border-right: 11px solid transparent;
              position: absolute;
              left: calc(50% - 11px);
              top:  -7px;
              z-index: 99;
            }

            .after  ,
            &:after {
              content: '';
              display: block;
              width: 0px;
              height: 0px;
              border-bottom: 10px solid $object-gallery-thumb-activeBorder;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              position: absolute;
              left: calc(50% - 10px);
              top:  -6px;
              z-index: 9999;
            }
          }

          &:first-child {
            margin-left: 0px;
          }

          a {
            display: inline-block;
            position: relative;
            z-index: 999;
            border-top: 1px solid transparent;

            img {
              display: inline-block;

              border: 5px solid $object-gallery-thumb-inactiveBorder;

              height: 128px;

              @media #{$media-4k} {
                height: 192px;
              }

              padding: 0;
              margin:  0;
            }
          }
        }
      }
    }
  }
}

html > body > .content
.share-container ,
html > body > .content
.objects-container {
  display: inline-block;
  margin: 0 auto;

  max-width: 100%;

  &.centered {
    max-width: 1200px;

    @media #{$media-tablet} {
      max-width: 100%;
    }
  }

  &.filled {
    width: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  ul.share ,
  ul.objects {

    &:not(.filled) {
      display: grid;
      white-space: nowrap;
    }

    padding-bottom: 20px;

    overflow: auto;
    margin-top: 10px;

    li.add,
    li.share ,
    li.object {
      display: inline-block;
      position: relative;

      grid-row: 1;

      padding: 0;
      margin:  0;

      &:not(:first-child) {
        margin-left: 10px;
      }

      a {
        display: inline-block;
        background-color: white;

        position: relative;

        padding: 10px 20px;
        margin:  0px;

        border: 1px solid #ddd;
        border-radius: 5px;

        min-width: 160px;
        max-width: 300px;
        
        text-align: center;

        text-decoration: none;
        color: black;

        height: 100%;
        box-sizing: border-box;

        img {
          width:  100px;
          height: 100px;

          @media #{$media-4k} {
            width:  150px;
            height: 150px;
          }
        }

        p {
          margin: 0;
          padding: 0;

          // Truncate text
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &.relation {
            margin-bottom: 10px;
          }

          &.type {
            font: bold 0.7rem Lato, sans-serif;
          }

          &.name {
            font: 400 0.8rem Lato, sans-serif;
          }
        }

        &:hover {
          box-shadow: 0px 0px 5px 1px #2da0b7 inset;
        }

        &:first-child:not(:last-child) {
          margin-right: 3.5rem;
          z-index: 99;
        }
      }

      a.copy ,
      a.download {
        background-color: #96cfdb;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: calc(50% + 0.25rem - 1px) 50%;

        border-color: #c7c7c7;

        text-indent: -9999px;
        
        opacity: 1.0;

        min-width: 0;
        width: 4rem;

        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;

        &:hover {
          background-color: #2da0b7;
        }
      }

      a.download {
        background-image: url('/images/dynamic/hex/fff/ui/download.svg');
      }

      a.copy {
        background-image: url('/images/dynamic/hex/fff/ui/copy.svg');
      }

      &:first-child {
        padding-left: 1rem;
      }

      &:last-of-type {
        padding-right: 1rem;

        a:last-child:not(:first-child) {
          right: 1rem;
        }
      }
    }

    &.filled {
      li.object {
        padding-bottom: 15px;
      }
    }

    &.list {
      li.object {
        display: flex;
        flex-direction: row;

        overflow: hidden;

        grid-row: auto;
        grid-column: 1;

        padding: 10px;
        margin: 0;

        border-top: 1px solid #eee;

        &:last-child {
          border-bottom: 1px solid #eee;
        }

        > a:first-child:not(:last-child) {
          flex: 0 0 auto;
          margin-right: 15px;
        }

        .description {
          flex: 1 1 auto;
          white-space: normal;
          overflow: hidden;
          margin-right: 15px;
          text-align: justify;

          line-height: 1.2rem;
          max-height: 9.6em;
          text-overflow: ellipsis;
        }

        .statistics {
          flex: 0 0 auto;
          color: #888;
        }
      }
    }

    li.add {
      // TODO: when we have this interface, just remove
      //display: none;

      a {
        background-color: #96cfdb;
        background-image: url('/images/add_item.svg');
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 50% 50%;

        text-indent: -9999px;

        min-width: 0;
        width: 4rem;

        &:hover {
          background-color: #2da0b7;
        }
      }
    }
  }
}

.card.metadata {
  > *:last-child {
    margin-bottom: 20px;
  }

  ul.command {
    font: inherit;
    li {
      font: inherit;
      display: inline-block;

      margin-left: 7px;
      &:first-child {
        margin-left: 0;
      }

      border-bottom: 1px solid #ddd;

      code {
        font: $code-font;
      }
    }
  }
}

.card.license pre {
  white-space: pre-wrap;
}
