/* Page object (paper) styling */

@charset "UTF-8";

.content .card.filled.page {
  position: relative;

  &.widget-configuration {
    z-index: 999;
  }
}

.content .card.filled.page > .line {
  padding: 0;
  margin: 0;
  position: relative;
  height: 0px;
  max-height: 0px;
  overflow: visible;
  z-index: 9;
  .new-token,
  .delete-token,
  .configure-token {
    opacity: 0.1;
  }
}

.content .card.filled.page > .line:after {
  content: ' ';
  position: absolute;
  left: 32px;
  right: 32px;
  height: 2px;
  display: block;
  background-color: transparent;
}

.content .card.filled.page > .line.near {
  z-index: 99999;
  .new-token,
  .delete-token,
  .configure-token {
    opacity: 0.6;
  }
}

.content .card.filled.page > .line.hovered ,
.content .card.filled.page > .line.shown {
  .new-token,
  .delete-token,
  .configure-token {
    opacity: 1.0;
  }
  z-index: 99999;
}

.content .card.filled.page > .line.hovered:after {
  background-color: #75AD77;
  box-shadow: 0px 0px 1px 1px #3BD5E2;
}

.content .card.filled.page > .line + h2 {
  margin-top: 0px;
}

.content .card.filled.page > img {
  padding-top: 10px;
}

.content .card.filled.page > img + p ,
.content .card.filled.page > img + .line + p {
  padding-top: 20px;
}

.content .card.filled.page > p:first-child ,
.content .card.filled.page > .line:first-child + p {
  padding-top: 20px;
}

.content .card.filled.page > p:last-child,
.content .card.filled.page > p:nth-last-child(2) {
  padding-bottom: 20px;
}

.content .card.filled.page > h3 ,
.content .card.filled.page > .line + h3 {
  margin: 0;
  padding-top: 20px;
}

.content .card.filled.page > .line > .new-token ,
.content .card.filled.page > .line > .delete-token ,
.content .card.filled.page > .line > .configure-token {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  bottom: -10px;
  border: 1px solid #ccffcc;
  cursor: pointer;
  filter: grayscale(100%);

  &:hover {
    filter: initial;
  }
}

.content .card.filled.page > .line > .delete-token ,
.content .card.filled.page > .line > .new-token {
  left: 0;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.content .card.filled.page > .line > .new-token {
  background-image: url('/images/add_item.svg');

  $border-color: #407840;
  $background-color: #668F66;

  border-color: $border-color;
  background-color: $background-color;

  &:hover {
    opacity: 1.0;
  }

  &:before {
    content: '';
    position: absolute;
    left: 17px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 11px solid $border-color;
    border-bottom: 9px solid transparent;
  }

  &:after {
    content: '';
    position: absolute;
    left: 16px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 10px solid $background-color;
    border-bottom: 8px solid transparent;
  }
}

.content .card.filled.page > .line > .delete-token {
  display: none;
  background-image: url('/images/remove_item.svg');

  $border-color: #A73D3D;
  $background-color: #FF6C6C;

  border-color: $border-color;
  background-color: $background-color;

  &:hover {
    opacity: 1.0;
  }

  &:before {
    content: '';
    position: absolute;
    left: 17px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 18px solid $border-color;
    border-right: 18px solid transparent;
  }

  &:after {
    content: '';
    position: absolute;
    left: 16px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 16px solid $background-color;
    border-right: 16px solid transparent;
  }
}

.content .card.filled.page > .line > .configure-token {
  $border-color: #b17ab1;
  border-color: $border-color;
  $background-color: #ffddff;
  background-color: $background-color;
  background-image: url('/images/workflowItemConfiguration.png');
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  right: 0;

  &:hover {
    opacity: 1.0;
  }

  &:before {
    content: '';
    position: absolute;
    right: 17px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 18px solid $border-color;
    border-left: 18px solid transparent;
  }

  &:after {
    content: '';
    position: absolute;
    right: 16px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 16px solid $background-color;
    border-left: 16px solid transparent;
  }
}

.content .card.filled.page > .line.shown > .new-token {
  display: none;
}

.content .card.filled.page > .line.shown > .delete-token {
  display: block;
}

.content .card.filled.page p + .line ,
.content .card.filled.page p + p {
  padding-top: 20px;
}

.content .card.filled.page > textarea#paper-edit-widget {
  border: 1px solid #aaa;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content .card.filled.page > input#paper-edit-widget {
  margin-top: 10px;

  border: 1px solid #aaa;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content .card.filled.page > p + .line > * {
}

.content .card.filled.page > .line:last-child {
  padding: 0 !important;
  margin-bottom: 0;
}

.content .card.filled.page > .line:last-child > * {
}

.content .card.filled.page .new.item {
  text-align: center;
  padding-bottom: 20px;
}

.content .card .add-component {
  text-align: left;
  display: inline-block;
  padding-top: 10px;
}

.content .card .add-component a.button.component-button {
  padding-top: 12px;
  padding-bottom: 11px;
  margin: 0;
}

.content .card ul.tab-panels.outputs li.tab-panel {
  max-height: 600px;
  min-height: 600px;
  height:     600px;
  overflow:   auto;
}

.content .card ul.tab-panels ul.tab-panels ul.datagroups {
  padding-left: 20px;
  margin-bottom: 20px;
}
