@charset "UTF-8";

.card ul.review-links {
}

.card ul.review-links li.review-link .meta-data {
  background-color: hsl(0, 80%, 80%);
  display: inline-block;
  border: 1px solid #ddd;
  padding-right: 10px;
  border-radius: 20px;
  height: 28px;
  line-height: 28px;
  color: white;
}

.card ul.review-links li.review-link .meta-data > * {
  height: 22px;
  line-height: 22px;
}

.card ul.review-links li.review-link .meta-data form {
  display: inline-block;
}

.card ul.review-links li.review-link .meta-data .delete {
  cursor: pointer;
  display: inline-block;
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #ecc;
  background-position: 50% 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 10px;
  margin: 4px;
  text-indent: -9999px;
}

.card ul.review-links li.review-link .meta-data .date {
  font-weight: 700;
}

.card ul.review-links li.review-link .meta-data .revision:before {
  content: "| revision:";
}

.card ul.review-links li.review-link:not(:first-child) {
  margin-top: 10px;
}

.card ul.review-links li.review-link .meta-data + a {
  margin-left: 15px;
}

.card ul.review-links li.review-link .meta-data + a {
  padding-left: 30px;
  background-image: url('/images/link.svg');
  background-size: 20px 20px;
  background-position: 0px 3px;
  background-repeat: no-repeat;
}
