/* Runs Listing */

@charset "UTF-8";

$right-panel-transition-time: 0.6s;
$run-list-item-transition-time: 0.3s;

.content > .container > .tab-panels > .tab-panel.run ,
.content > .container > .tab-panels > .tab-panel > .card.object-runner {
  overflow: hidden;
}

.content .card .run-viewer {
  padding-left: 0  !important;
  padding-right: 0 !important;

  position: absolute;

  text-align: left;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  div.collapse.right {
    width: 1rem;
    left: auto;
    right: 19rem;
    top: 0;

    -webkit-transition: right $right-panel-transition-time;
    transition: right $right-panel-transition-time;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 1rem;
      height: 1rem;
      right: -301px;
      top: 4px;
      border-radius: 50%;
      border: 1px solid #ddd;
      background-color: white;
      background-image: url('/images/dynamic/hex/aaaaaa/remove_item.svg');
      background-repeat: no-repeat;
      background-size: 1rem;
      background-position: 0px 0px;
    }

    &.reveal {
      background-color: white;
      box-shadow: inherit;

      width: 1rem;
      border-left: 1px solid #888;

      right: 0px;
      border-left: 1px solid #eaeaea;

      -webkit-transition: right $right-panel-transition-time;
      transition: right $right-panel-transition-time;

      &:after  ,
      &:before {
        content: none;
        display: none;
      }
    }
  }

  .right-panel {
    -webkit-transition: width $right-panel-transition-time;
    transition: width $right-panel-transition-time;
  }

  .jobs.sidebar,
  .right-panel {
    box-shadow: 2px 0px 1.5rem 1px #000;
    border-left: 1px solid #eee;

    &.jobs {
      box-shadow: -2px 0px 1.5rem 1px #000;
      border-left:  none;
      border-right: 1px solid #eee;
    }

    position: absolute;
    right: 0;
    top: 0;

    width: 20rem;
    height: 100%;

    background-color: $side-list-bg;

    z-index: 99999;

    ul.runs {
      width: 20rem;
    }

    ul.runs,
    ul.jobs {
      overflow-y: auto;
      overflow-x: hidden;

      height: 100%;

      vertical-align: top;

      position: relative;

      background: $viewer-queue-list-background;

      p,
      h3 {
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #eaeaea;
      }

      h3 {
        padding-bottom: 3px;
        font: bold 0.9rem "Lato", sans-serif;
      }

      .loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      p {
        color: #888;
      }

      & > li {
        position: relative;
        display: block;

        > a {
          position: relative;
          display: block;
          padding-left:  3.5rem;
          padding-right: 1rem;
          border-bottom: 1px solid #eaeaea;
          background-color: $viewer-queue-inactive-background;
          color: $viewer-queue-inactive-text;
          font: $side-list-font;
          z-index: 99999;
          height: 3rem;
          line-height: 3rem;

          &:hover {
            text-decoration: none;
          }

          span.status + span:not(:last-child) {
            padding-top: 0.6rem;
            line-height: 1em;
            height: 1em;
            display: block;
            font-weight: normal;

            & + span {
              padding-top: 2px;
              line-height: 1em;
              height: 1em;
              display: block;
            }
          }

          span.type {
          }

          span.name {
          }

          span.date {
          }

          & + ul.actions {
            display: none;
            position: absolute;
            height: 1rem;
            line-height: 1rem;
            top:    1rem;
            right: 5px;
            z-index: 99999;

            li {
              display: inline-block;
              width:  1rem;
              height: 1rem;
              padding-right: 5px;
              vertical-align: top;

              button {
                text-indent: -9999px;
                overflow: hidden;
                width:    1rem;
                height:   1rem;
                display:  block;

                border:  none;
                outline: none;

                cursor: pointer;

                background: none;
                background-size: 100% 100%;
                background-position: 0px 0px;
                background-repeat: no-repeat;
              }

              &.delete {
                button {
                  background-image: url('/images/dynamic/hex/ffffff/ui/remove_item.svg');
                }
              }

              &.fullscreen {
                button {
                  background-image: url('/images/dynamic/hex/ffffff/fullscreen.svg');
                }
              }

              &.view {
                button {
                  background-image: url('/images/dynamic/hex/ffffff/icons/ui/search.svg');
                }
              }

              &.configure {
                button {
                  background-image: url('/images/dynamic/hex/ffffff/ui/configuration-panel.svg');
                }
              }
            }
          }
        }

        /* Run list delete button */
        form .delete {
          display: none;
        }

        .cancel {
          background-image: url('/images/ui/cancel.svg');
        }

        &.active {
          form .delete {
            display: block;
          }

          > a {
            background-color: $viewer-queue-active-background;
            color: $viewer-queue-active-text;
            font: $side-list-active-font;
            line-height: 3rem;
            margin-left: 1rem;

            -webkit-transition: margin-left $run-list-item-transition-time, margin-right $run-list-item-transition-time;
            transition: margin-left $run-list-item-transition-time, margin-right $run-list-item-transition-time;

            &:focus {
              outline: none;
            }

            span.status {
              img {
                display: inline-block;
              }

              img.inactive {
                display: none;
              }
            }
          }

          > ul.actions {
            display: inline-block;
          }

          .before {
            content: '';
            display: block;
            width:  1.4rem;
            height: 1.4rem;
            position: absolute;
            left: 0.3rem;
            border: 1px solid #eaeaea;
            top: calc(100% - 2.35rem);
            z-index: 99999;
            background-color: $viewer-queue-active-background;
            transform: rotate(45deg);
          }

          & + h3 ,
          & + p ,
          & + li > a{
            border-top: 1px solid #eaeaea;
            margin-top: -1px;
          }
        }

        a span.status  {
          display: inline-block;
          position: absolute;

          width: 2rem;
          height: 2rem;

          top: calc(50% - 1rem);
          left: 10px;

          img {
            width:  2rem;
            height: 2rem;
            display: none;
            padding-left: 4px;

            &.inactive {
              display: inline-block;
            }
          }
        }

        @keyframes pulse {
          0% {
            width: 8px;
            height: 8px;

            margin-left: 1px;
            margin-top:  1px;
          }
          50% {
            width: 4px;
            height: 4px;

            margin-left: 3px;
            margin-top:  3px;
          }
        }

        @keyframes slow-pulse {
          0% {
            opacity: 1.0;
          }
          50% {
            opacity: 0.7;
          }
        }

        a span.status .dot {
          display: none;
          position: absolute;

          width: 8px;
          height: 8px;

          animation: 0.9s infinite alternate pulse;
          animation-delay: 0s;

          margin-left: 1px;
          margin-top:  1px;

          left: 0px;
          top:  calc(50% - 4px);

          border-radius: 1rem;
          background-color: #b3b3b3;

          & + .dot {
            animation-delay: -0.6s;
            left: 10px;
          }

          & + .dot + .dot {
            animation-delay: -0.3s;
            left: 20px;
          }
        }

        a span.status img ~ .dot {
          top: 23px;
        }

        &.queue {
          a span.status {
            background-image: url('/images/dynamic/hex/b3b3b3/ui/new.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 2rem 2rem;
          }

          &.active {
            a span.status {
              background-image: url('/images/dynamic/hex/ffffff/ui/new.svg');
            }
          }
        }

        &[data-status=done] {
          a span.status {
            background-image: url('/images/dynamic/hex/b3b3b3/ui/done.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 2rem 2rem;
          }

          &.active {
            a span.status {
              background-image: url('/images/dynamic/hex/ffffff/ui/done.svg');
            }
          }

          a span.status.job {
            height: 38px;
            background-position: 50% 17px;
            background-size: 20px 20px;
          }

          a span.status img {
            top: -7px;
            position: relative;
            height: 22px;
            width: 22px;
          }
        }

        &[data-status=failed] {
          a span.status {
            background-image: url('/images/dynamic/hex/b3b3b3/ui/failed.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 2rem 2rem;
          }

          &.active {
            a span.status {
              background-image: url('/images/dynamic/hex/ffffff/ui/failed.svg');
            }
          }

          a span.status.job {
            height: 38px;
            background-position: 50% 17px;
            background-size: 20px 20px;
          }

          a span.status img {
            top: -7px;
            position: relative;
            height: 22px;
            width: 22px;
          }
        }

        &[data-status=running] ,
        &[data-status=pending] {
          a span.status .dot {
            display: inline-block;
          }

          a span.status img {
            top: -7px;
            position: relative;
            height: 22px;
            width: 22px;
          }

          &.active {
            a span.status .dot {
              background-color: $viewer-queue-active-icon;
            }
          }
        }
        &[data-status=pending] {
          a span.status .dot {
            animation: none;
            animation-delay: 0s;

            width: 4px;
            height: 4px;

            margin-left: 3px;
            margin-top:  3px;

            & + .dot {
              animation-delay: 0s;
            }

            & + .dot + .dot {
              animation-delay: 0s;
            }
          }
        }
      }

      &.rtl {
        & > li {
          .before {
            left: auto;
            right: 0.3rem;
          }

          &.active {
            > a {
              margin-left: 0;
              margin-right: 1rem;
            }
          }

          .actions {
            right: 20px;
          }
        }
      }
    }
  }

  /* Configuration Panel */
  & > .configuration {
    position: absolute;
    right: 0px;
    width: 20rem;
    max-width: 100%;
    opacity: 0.0;
    background-color: white;
    z-index: 9999999;
    display: none;
    border-left: 1px solid #eee;

    -webkit-transition: width $right-panel-transition-time, opacity $right-panel-transition-time;
    transition: width $right-panel-transition-time, opacity $right-panel-transition-time;

    &.reveal {
      display: block;
      width: 500px;
      box-shadow: 2px 0px 20px 1px #000;
      opacity: 1.0;
    }

    button.close {
      position: absolute;
      top: 1px;
      right: 10px;
    }

    .help {
      margin-left: 0;
      margin-right: 0;
      border-left: none;
      border-right: none;
    }

    h2 {
      padding-left: 1rem;
    }
  }

  & > .collapse:not(.reveal) ~ .configuration:not(.reveal) {
    display: block;
    z-index: 999;
  }

  /* Pending queue loading page */
  .pending {
    display: flex;
    align-items: center;
    background-color: #888;
    text-align: center;

    > .card {
      margin: auto;
      border: 1px solid #9E9E9E;
      outline: 1px solid #777;

      text-align: center;

      color: #333;

      .loading {
        display: inline-block;
        width: 100px;
        height: 100px;

        background-size: 50px 50px;
      }
    }
  }

  /* Runner tabs and queue form and run button */
  .run-form {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    background-color: $viewer-queue-background;
    text-align: center;
    position: relative;

    > .image {
      filter: grayscale(1.0) brightness(0.5) contrast(0.4);
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      img {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-fit: cover;
      }
    }

    > .card {
      margin: auto;
      background-color: $viewer-queue-panel-background;
      border: 1px solid $viewer-queue-panel-border;
      outline: 1px solid $viewer-queue-border;

      .information {
        text-align: left;
        display: table;

        .row {
          display: table-row;

          > * {
            display: table-cell;
          }
        }

        h2 {
          color: $viewer-queue-panel-text;
          vertical-align: top;
          padding-top: 3px;
          text-align: right;
          padding-bottom: 10px;
        }
      }
    }

    .widget-selection {
      input.auto-complete {
        margin-top: 0px;
        margin: 0 10px;
        width: 224px;
        padding: 5px;
        padding-left: 40px;

        background-position: 10px 50%;
        background-size: 20px;
        background-repeat: no-repeat;
        background-color: $interface-selector-background;
        color:            $interface-selector-text;
        font:             $object-description-font;
      }
    }

    .buttons {
      display: inline-block;
      margin: auto;

      .button {
        margin: auto;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  > * {
    z-index: 0;
  }

  > .active {
    z-index: 99;
  }

  ul.workflows {
    position: absolute;

    left: 0;
    top: 0;

    occam-workflow {
      height: 100%;
      position: absolute;

      .collapse.reveal:after {
        background-image: url('/images/ui/workflow-job-list.svg');
        left: 40px;
      }

      .collapse.reveal:before {
        left: 29px;
      }
    }
  }

  & > * {
    width: calc(100% - 20rem);
    height: 100%;
    position: absolute;

    -webkit-transition: width $right-panel-transition-time;
    transition: width $right-panel-transition-time;
  }

  .viewer {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-image: url('/images/noise_black.png');

    .card:first-child {
      flex: 1 1 auto;
    }

    .card.separator {
      flex: 0 0 auto;
      position: relative;
      height: 6px;
      min-height: 2px;
      padding: 0;
      cursor: ns-resize;
      text-align: center;
      z-index: 99999;

      background-color: #e2e2e2;
      border-top: 1px solid #9d9d9d;
      border-bottom: 1px solid #9d9d9d;

      &:after {
        content: '';
        position: absolute;
        margin: 0 auto;
        top: -1px;
        display: inline-block;
        width: 21px;
        height: 6px;
        background-repeat: no-repeat;
        background: url('/images/separator_thumb.png');
        box-shadow: inset 0px 0px 1px 1px hsl(190, 60%, 100%);
        border: 1px solid #9d9d9d;
        z-index: 999;
      }

      &.resizing:after ,
      &:hover:after {
        box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 50%);
      }

      + .card {
        flex: 1 0 auto;
        height: auto;
        min-height: 0;
        background-image: url('/images/noise_black.png');

        .panel-selector {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;

          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          overflow: hidden;

          & > * {
            margin: auto auto;
            opacity: 0.1;

            &:hover {
              opacity: 1.0;
            }
          }
        }
      }
    }
  }

  > .collapse.reveal ~ .jobs.sidebar ,
  > .collapse.reveal ~ .right-panel {
    width: 0px;
    box-shadow: none;

    -webkit-transition: width $right-panel-transition-time;
    transition: width $right-panel-transition-time;
  }

  > .collapse.reveal ~ :not(.right-panel):not(.configuration) {
    width: calc(100% - 1rem);

    -webkit-transition: width $right-panel-transition-time;
    transition: width $right-panel-transition-time;
  }

  & > .configuration.reveal ~ :not(.right-panel):not(.configuration) {
    width: calc(100% - 500px);
  }

  .task-panel {
    display: flex;
    flex-direction: column;

    > .card.build {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .description {
        width: 100%;
        margin: 0;
        flex: 0 0;
      }

      ul.tabs {
        flex: 0;
      }

      ul.tab-panels {
        flex: 1 1 auto;
        overflow: auto;
        position: relative;

        li.tab-panel {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          .terminal {
            height: 100%;
          }
        }
      }

      .task {
        ol.task-running {
          margin-left: 10px;
          margin-top:  10px;
          margin-bottom:  10px;

          ol.task-running {
            margin-left: 20px;
            margin-bottom: 0px;
            border-left: 1px solid #eaeaea;
            padding-left: 5px;
          }

          .object-header {
            margin: 0px;
            margin-top: 20px;
          }

          li.task-item.object {
            width: 300px;
            display: block;
            margin: 0;
            padding: 0px;
          }
        }
      }
    }
  }

  .job-panel {
    ul.events {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0px;

      li.event {
        width: 100%;
        height: 3rem;
      }

      @keyframes reveal-events {
        0% {
          height: 0px;
        }
        100% {
          height: 3rem;
        }
      }

      @keyframes reveal-events-terminal {
        0% {
          height: calc(100% - 1px);
        }
        100% {
          height: calc(100% - 49px);
        }
      }

      &:not(:empty) {
        height: 3rem;
        animation-duration: .5s;
        animation-name: reveal-events;
        border-top: 1px solid #282828;

        & + .terminal {
          animation-duration: .5s;
          animation-name: reveal-events-terminal;
          height: calc(100% - 49px);
        }
      }
    }

    iframe {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

/* Object Selector */
:not(form):not(.tab-panel).widget-selection {
  display: inline-block;
  vertical-align: middle;
  margin: 2px 10px;
}

.widget-selection .widget-object ,
.widget-selection input.auto-complete {
  text-align: left;
  border: 1px solid #ddd;
  height: 23px;
  padding: 0px;
  padding-left: 33px;
  vertical-align: middle;
  width: 255px;
  font: $object-selector-font;
  color: $object-selector-color;
}

.widget-selection > .by-type, 
.widget-selection > h3, 
.widget-selection > input, 
.object-selection > p, {
  margin-left: 10px;
}

.widget-selection input.auto-complete {
  margin-top: 10px;
}

.widget-selection .widget-object {
  display: inline-block;
  line-height: 23px;
}

.widget-selection .widget-object ,
.widget-selection input.auto-complete[name=name]:not(.large-icon) {
  background: url('/images/icons/metadata/object.png') no-repeat 7px 50%;
  background-size: 1rem;
  background-color: $object-selector-bg;
}

.widget-label a.full-screen {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-image: url('/images/fullscreen.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  margin-left: 10px;
  vertical-align: middle;
}

.widget-selection input.button {
  margin: 0;
  margin-top:10px;
  height: 34px;
  vertical-align: middle;
  width: 268px;
}

/* Run Dropdowns */
ul.dropdown {
  li[data-class="any"] h2 {
    background-image: url('/images/icons/any.png');
  }

  li[data-class="occam"] h2 {
    background-image: url('/images/icons/occam.png');
  }

  li[data-architecture="javascript"] h2 {
    background-image: url('/images/icons/javascript.png');
  }

  li[data-backend="docker"] h2 {
    background-image: url('/images/icons/docker.png');
  }
}

.content .card #file-panels .run-viewer {
  div.collapse.right {
    &.reveal {
      width: 0rem;
    }
  }

  .collapse.reveal ~ :not(.right-panel):not(.configuration) {
    width: 100%;
  }
}
