.container.results {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  .search.sidebar {
    padding-bottom: 20px;

    form {
      h2 {
        margin-left: 20px;
        margin-top:  20px;
      }

      h3 {
        margin-left: 20px;
      }

      > input {
        margin-top: 20px;
        margin-left: 20px;

        width: calc(100% - 40px);
      }

      label {
        display: block;
        margin-top: 10px;
        margin-left: 20px;
        font: $search-facets-label;
        cursor: pointer;

        input, span {
          vertical-align: middle;
        }
      }
    }
  }

  .card.results {
    flex: 0 1 auto;

    &:last-child {
      flex: 1 1 auto;
    }

    ul.information.results {
      padding: 0 20px;
    }

    > h2 {
      padding-left: 20px;
      padding-right: 20px;
    }

    > ul.tab-panels {
      display: flex;
      flex-direction: column;
    }
  }
}
