/* Spinner */

@charset "UTF-8";

.spinner {
  position: relative;
  width: 30px;
  height: 30px;
}

.spinner > * {
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #888;
  animation-direction: normal;
  animation-name: spinner-pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  opacity: 0.0;
}

.spinner.light > * {
  background-color: #ddd;
}

.spinner > .top {
  top: 4px;
  left: 12px;
}

@keyframes spinner-pulse {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

.spinner > .top-left {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  top: 6px;
  left: 6px;
  animation-delay: 875ms;
}

.spinner > .top-right {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  top: 6px;
  right: 6px;
  animation-delay: 125ms;
}

.spinner > .bottom-left {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  bottom: 6px;
  left: 6px;
  animation-delay: 625ms;
}

.spinner > .bottom-right {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  bottom: 6px;
  right: 6px;
  animation-delay: 375ms;
}

.spinner > .right {
  top: 12px;
  right: 4px;
  animation-delay: 250ms;
}

.spinner > .bottom {
  bottom: 4px;
  left: 12px;
  animation-delay: 500ms;
}

.spinner > .left {
  top: 12px;
  left: 4px;
  animation-delay: 750ms;
}

.ok {
  position: fixed;
  left: 635px;
  top: 139px;
  z-index: 99999;
}

/* Occam Object Spinner */
.occam-spinner {
  padding: 0 !important;
  width: 80px;
  height: 74px;
  left: 37px;
  position: relative;
  display: inline-block;

  margin: 50px auto;
  margin-top: 70px;

  -moz-transform:    rotate(90deg) skew(26.7deg) ;
  -webkit-transform:    rotate(90deg) skew(26.7deg) ;
  transform:    rotate(90deg) skew(26.7deg) ;

  background-color: #888;

  animation-direction: normal;
  animation-name: occam-spinner-pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.occam-spinner:after {
  content: '';
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
  width: 80px;
  height: 74px;
  position: absolute;
  -moz-transform: skew(-44.6deg);
  -webkit-transform: skew(-44.6deg);
  transform: skew(-44.6deg);
  left: -41px;
  top: 81px;

  background-color: #888;

  animation-direction: normal;
  animation-name: occam-spinner-pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);

  animation-delay: 666ms;
}

.occam-spinner:before {
  content: '';
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;

  width: 84px;
  height: 66px;
  position: absolute;
  -moz-transform: skew(-27.3deg) rotate(63.5deg) skew(39deg);
  -webkit-transform: skew(-27.3deg) rotate(63.5deg) skew(39deg);
  transform: skew(-27.3deg) rotate(63.5deg) skew(39deg);
  left: -87px;
  top: 45px;

  background-color: #888;

  animation-direction: normal;
  animation-name: occam-spinner-pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);

  animation-delay: 333ms;
}

@keyframes occam-spinner-pulse {
  from {
    background-color: rgba(128, 128, 128, 1.0);
  }

  to {
    background-color: rgba(128, 128, 128, 0.0);
  }
}

.loading {
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url('/images/indicators/object.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10%;

  &.failed {
    background-image: url('/images/indicators/object-failed.svg');
  }
}

.tab-panel > .card > .loading {
  min-height: 400px;
  background-size: 200px;
}
