.terminal {
  font: $code-font;
  background-color: #282828;
  color: $terminal-color;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5px;
  line-height: 1.2em;
  letter-spacing: 0px;
  word-spacing: 0px;
  white-space: nowrap;
  position: relative;

  .line {
    background-color: $terminal-bg;
  }

  .caret {
    // Default colors
    background-color: $terminal-color;
    color:            $terminal-bg;

    position:         absolute;
    z-index:          999;
  }
}
