.content > .container > ul.tab-panels > .tab-panel > .card.theme-selection {
  margin-top: 0px;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  flex-direction: column;
  display: flex;

  ul.tabs {
    padding-left: 0px;
    padding-right: 0px;
  }

  > ul.tab-panels {
    flex: 1 0 auto;
    position: relative;

    > li.tab-panel {
      position: absolute;
      flex-direction: column;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;

      &.active {
        display: flex;
      }

      > .card {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;

        > ul.tab-panels {
          position: relative;
          flex: 1 0 0;
          height: 100%;

          > li.tab-panel {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            flex-direction: column;

            &.active {
              display: flex;
            }

            > .card {
              flex: 1 0 0;
              display: flex;
              flex-direction: column;
              width: 100%;
              min-height: 0;

              > .theme-sample.card {
                flex: 0 0;
                width: 100%;
              }

              > .theme-configuration.card {
                flex: 1;
                width: 100%;
                height: 100%;
                min-height: 300px;
                padding-bottom: 10px;
                overflow: auto;

                h3 {
                  display: inline-block;
                  margin-right: 15px;
                  margin-left:  10px;
                  margin-top:   5px;
                  vertical-align: middle;
                }

                td.header {
                  h3 {
                    margin-top: 20px;
                    font-weight: 800;

                    span.subheader {
                      font-weight: 400;
                    }
                  }
                }

                input {
                  width: 60px;
                  height: 28px;
                  margin-top: 5px;
                  padding: 0;
                  border: 1px solid #ddd;
                  text-align: center;
                  vertical-align: middle;
                }

                input.shadow-style {
                  margin-left: 5px;
                  width: 120px;
                }

                button.opacity ,
                button.color {
                  margin-top: 5px;
                  height: 30px;
                  vertical-align: middle;
                }

                button.opacity {
                  width: 30px;
                }

                button.color {
                  margin-right: 2px;
                  width: 100px;
                }

                button:last-child {
                  margin-right: 15px;
                }
              }
            }
          }
        }
      }
    }
  }

  .theme-sample {
    display: block;
    margin: 0px auto;
    text-align: center;
    border-bottom: 1px solid #ddd;

    &:empty {
      display: none;
    }

    > .card {
      text-align: left;
      max-height: 300px;
      overflow: auto;
    }

    .terminal {
      text-align: left;
    }

    .tooltip {
      margin: 10px;
    }

    .theme-file-viewer {
      text-align: left;
      height: 300px;
      position: relative;
      overflow: hidden;

      .file-viewer {
        margin-top: -2px;

        > .card {
          min-height: 0;
        }
      }
    }

    .theme-header {
      text-align: left;
    }

    .theme-description {
      text-align: left;
      max-height: 300px;
      position: relative;
      overflow: auto;
    }

    .theme-runner {
      text-align: left;
      height: 300px;
      position: relative;
      overflow: hidden;

      .run-viewer {
        min-height: 300px;
        height: 300px;
      }

      nav {
        min-height: 300px;
        height: 300px;
      }

      .run-form {
        min-height: 300px;
        height: 300px;
      }
    }

    .highlight {
      text-align: left;
      height: 300px;
      position: relative;
    }
  }
}
