.theme-selection .tooltip ,
body > .tooltip {
  position: absolute;
  
  left: 0;
  top:  0;

  display: none;
  opacity: 0.0;

  font: $tooltip-font;
  color: $interface-tooltip-text;
  background-color: $interface-tooltip-background;

  border-radius: 5px;

  padding: 6px 10px;

  text-align: center;

  box-shadow: $interface-tooltip-shadow;
  text-shadow: $interface-tooltip-textShadow;
  border: 1px solid $interface-tooltip-border;

  z-index: 999999999;

  white-space: nowrap;

  &.reveal {
    @keyframes tooltip-reveal {
      0% {
        opacity: 0.0;
      }
      100% {
        opacity: 1.0;
      }
    }

    animation: tooltip-reveal 0.3s;
    opacity: 1.0;
  }

  .before {
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    left: calc(50% - 3px);
    bottom: -4px;
    background-color: $interface-tooltip-border;
    transform: rotateZ(45deg);
    box-shadow: 0px 0px 3px 1px #111;
  }

  .after {
    content: '';

    width: 14px;
    height: 8px;

    position: absolute;

    left: calc(50% - 7px);
    bottom: -1px;

    background-color: $interface-tooltip-background;
    border-bottom: 1px solid $interface-tooltip-border;
  }
}

.theme-selection .tooltip {
  display: inline-block;
  opacity: 1.0;
  position: relative;
  &:before,
  &:after {
    content: none;
  }
}
