/* We allow a button styling */

@charset "UTF-8";

.occam-widget.button {
  display: inline-block;

  /* REMEMBER: Duplicate the bg stuff to disabled:active */
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)) );
  background:-moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100% );
  background-color: hsl(190, 0%, 40%);

  border: 1px solid #ccc;
  border-radius: 3px;

  color: #333;
  cursor: pointer;

  padding: 7px 9px;
  margin-top: 10px;

  text-align: center;
  text-decoration: none;

  /* REMEMBER: Duplicate this line under :disabled:hover */
  box-shadow: inset 0px 0px 1px 1px hsl(190, 60%, 100%);

  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
}

.occam-widget.button:hover {
  box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 50%);
}

.occam-widget.button:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 95%)), color-stop(1, hsl(190, 0%, 90%)) );

  background:-moz-linear-gradient( center top, hsl(190, 0%, 95%) 5%, hsl(190, 0%, 90%) 100% );
  background-color: hsl(190, 0%, 40%);
}

.occam-widget.button.disabled ,
.occam-widget.button:disabled {
  color: #aaa;
  cursor: default;
}

.occam-widget.button.disabled:hover ,
.occam-widget.button:disabled:hover {
  box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 100%);
}

.occam-widget.button.disabled:active ,
.occam-widget.button:disabled:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)) );
  background:-moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100% );
  background-color: hsl(190, 0%, 40%);

  position:relative;
  top:0px;
}

.occam-widget.button.inline {
  margin-top: 0px;
}

.occam-widget.button:active {
  position:relative;
  top:1px;
}
