@charset "UTF-8";

$sidebar-width: 310px;
$right-sidebar-width: 800px;
$transition-time: 0.4s;

.content .card.workflow-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  h2.offscreen + button.help-bubble {
    right: 11px;
  }

  flex: 1 0 auto;

  .save {
    z-index: 99;
    position: absolute;

    &:after {
      background-color: white;
      background-image: url('/images/save.svg');
      background-size: 30px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      content: '';
      display: block;
      width:   50px;
      height:  50px;
      border-radius: 50px;
      border: 5px solid #C4EAC5;
      position: absolute;
      top: 10px;
      left: 100px;
      cursor: pointer;
      filter: grayscale(1.0);
      -webkit-filter: grayscale(1.0);
    }
    &:hover {
      background-color: #ddd;
      opacity: 0.5;
    }
    &:hover {
      &:after {
        filter: none;
        -webkit-filter: none;
      }
      &:before {
        filter: none;
        -webkit-filter: none;
      }
    }
  }
}

/* The collapsing arrow */
.content .card div.collapse {
  width: 10px;
  position: absolute;
  left: $sidebar-width;
  height: 100%;
  z-index: 999999;
  cursor: w-resize;

  &.jobs {
    width: 1rem;
    left: calc(320px - 1rem);

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: -4px;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 1px solid #ddd;
      background-color: white;
      background-image: url('/images/dynamic/hex/aaaaaa/remove_item.svg');
      background-repeat: no-repeat;
      background-size: 1rem;
      background-position: 0px 0px;
    }
  }

  transition: left $transition-time, right $transition-time;

  &.right {
    left: auto;
    right: $right-sidebar-width;
    cursor: e-resize;

    @media (max-width: 810px) {
      left: 0px;
      right: auto;
    }
  }

  // Highlight the collapse region when the mouse hovers
  &:hover {
    background-color: #ddd;
    opacity: 0.5;
  }

  // When the collapse is closed, show a little bit of a box so people
  // know what they can click to reveal the sidebar and mimic the shadow of
  // the sidebar.
  &.reveal {
    border-right: 1px solid #ddd;
    box-shadow: 2px 0px 20px 1px #ddd;
    left: 0px;

    transition: left $transition-time, right $transition-time;

    &.right {
      left: auto;
      right: 0px;
      box-shadow: -2px 0px 20px 1px #ddd;
    }

    cursor: e-resize;

    &:after {
      background-color: white;
      background-image: url('/images/object-add.svg');
      background-size: 30px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      content: '';
      display: block;
      width:   50px;
      height:  50px;
      border-radius: 50px;
      border: 5px solid #C4EAC5;
      position: absolute;
      top: 10px;
      left: 30px;
      filter: grayscale(1.0);
      -webkit-filter: grayscale(1.0);
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 0; 
      height: 0; 
      border-top:    18px solid transparent;
      border-bottom: 18px solid transparent; 
      border-right:  17px solid #C4EAC5; 
      top: 22px;
      left: 19px;
      filter: grayscale(1.0);
      -webkit-filter: grayscale(1.0);
    }

    &.right {
      border-right: none;
      border-left: 1px solid #ddd;
      box-shadow: 0px 2px 20px 1px #ddd;

      cursor: w-resize;

      &:after {
        background-image: url('/images/ui/configuration-panel.svg');
        left: inherit;
        right: 30px;
      }

      &:before {
        left: inherit;
        right: 19px;
        border-right: none;
        border-left:  17px solid #C4EAC5; 
      }
    }

    &:hover {
      &:after {
        filter: none;
        -webkit-filter: none;
      }
      &:before {
        filter: none;
        -webkit-filter: none;
      }
    }
  }
}

.card > occam-workflow {
  padding: 0;
  flex: 1 1 auto;
}

occam-workflow {
  .view-button, .configure-button, .view-jobs-button {
    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 0;
      top: 0;
      background-color: transparent;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 12px 12px;
      filter: grayscale(1.0);
    }

    &:hover {
      &:before {
        filter: brightness(5.0);
      }
    }
  }

  .view-button {
    &:before {
      background-image: url("/images/icons/ui/search.svg");
    }
  }

  .view-jobs-button {
    &:before {
      background-image: url("/images/ui/workflow-job-list.svg");
    }
  }

  .configure-button {
    &:before {
      background-image: url("/images/icons/metadata/configuration.png");
    }
  }
}

/* Closed sidebar */
.content .card occam-workflow .collapse.reveal + .sidebar {
  width: 0px;

  ~ .terminal {
    left: 0px;
    padding: 0;
    right: 100%;
    overflow: hidden;

    @media #{$media-tablet} {
      min-width: 0;
    }
  }
}

/* The sidebar region for the workflow editor */
.content .card occam-workflow .sidebar {
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: $sidebar-width;
  background-color: #fff;
  box-shadow: 2px 0px 20px 1px #ddd;
  z-index: 99999;
  overflow-y: hidden;
  overflow-x: hidden;

  transition: width $transition-time;

  li.connection.initial {
    background-color: $interface-help-background;
    border-color: $interface-help-border;
    color: $interface-help-text;
  }

  &.right {
    left: auto;
    width: $right-sidebar-width;
    right: 0;
    box-shadow: -2px 0px 20px 1px #ddd;
    max-width: calc(100% - 10px);
    z-index: 999999;
  }

  h3 {
    margin-top: 15px;
  }

  .configuration-panel {
    display: flex;
    flex-direction: column;

    height: 100%;

    > h2 {
      padding-left: 15px;
      padding-top:  10px;
      padding-bottom: 10px;

      flex: 0 0 auto;
    }

    ul.panes {
      position: relative;
      flex: 1 1 auto;
      margin: 0;

      li.pane {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        overflow: hidden;

        &.active {
          display: flex;
          flex-direction: column;
        }

        > ul {
          flex: 0 0 auto;
        }

        > .tab-panels {
          position: relative;
          flex: 1 1 auto;

          .tab-panel.active {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;

            display: flex;
            flex-direction: column;

            > .configuration {
              flex: 1 1 auto;
              overflow: hidden;

              > .card {
                display: flex;
                flex-direction: column;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;

                > .configuration-nav {
                  flex: 0 0 auto;
                }

                > .configuration-search-options {
                  flex: 1 1 auto;
                  overflow: auto;
                }
              }
            }

            > .card:last-child {
              flex: 0 0 auto;
            }
          }
        }
      }
    }

    .help {
      overflow: auto;
      margin: 0;
      border-left: none;
      border-right: none;
    }

    .configuration-help {
      &:before {
        display: none;
      }

      display: none;
      flex: 1 1 auto;
      position: relative;
      height: 100%;
      background-color: $interface-help-background;
      border-top: 1px solid $interface-help-border;
      color: $interface-help-text;
      font: $help-font;

      p {
        padding: 0px 10px;
      }

      occam-workflow.mock {
        ul.connections {
          .configure-button {
            @keyframes pulseHighlight {
              0% {
                background-color: white;
              }
              100% {
                background-color: $base-general-highlight;
              }
            }

            animation: 0.8s infinite alternate pulseHighlight;

            &:before {
              filter: brightness(5.0);
            }
          }
        }
      }
    }

    .help.open ~ .configuration-help {
      border-top: none;
    }

    ul.panes:empty {
      display: none;

      & + .configuration-help {
        display: block;
      }
    }
  }

  .help {
    overflow-x: hidden;

    occam-workflow.mock {
      position: relative;
      margin: 10px;
      height: 50%;
      width: auto;
      border: 1px solid $interface-help-border;
      pointer-events: none;

      ul.connections {
        // Center the fake node
        left: calc(50% - 50px) !important;
        top:  calc(50% - 50px) !important;
      }

      &.run {
        ul.connections {
          .view-jobs-button {
            @keyframes pulseHighlight {
              0% {
                background-color: white;
              }
              100% {
                background-color: $base-general-highlight;
              }
            }

            animation: 0.8s infinite alternate pulseHighlight;

            &:before {
              filter: brightness(5.0);
            }
          }
        }
      }
    }
  }

  ~ .terminal {
    position: absolute;
    top: 0;
    left: 320px;
    bottom: 0;
    right: 0;
    z-index: 99;
    transition: left $transition-time;

    &.fullscreen {
      left: 0px;
    }

    @media #{$media-tablet} {
      min-width: 100%;
    }
  }

  .object-selection,
  .job-selection {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;

    .selector {
      margin: 0;
      margin-top: 20px;
    }

    > ul.object-list {
      margin-left: 15px;
      width: 276px;
    }

    > h2 {
      text-align: center;
      white-space: nowrap;
    }

    > h2, li.tab-panel {
      h2 {
        padding-left: 0;
      }

      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  &.jobs {
    .job-selection {
      display: flex;
      flex-direction: column;
      padding-bottom: 0;

      > h2 {
        flex: 0 0 auto;
      }

      > .object-selected {
        flex: 0 0 auto;
        padding-bottom: 20px;
        margin-bottom:  20px;
        border-bottom:  1px solid #ddd;
        position: relative;

        .before ,
        .after  {
          width: 1.4rem;
          height: 1.4rem;
          display: block;

          position: absolute;
          left: calc(50% - 0.7rem);
          bottom: -0.7rem;

          transform: rotate(45deg);
        }

        .before {
          background-color: #ddd;
          bottom: calc(-0.7rem - 1px);
        }
        .after {
          background-color: white;
        }
      }

      > nav.jobs {
        flex: 1 1 auto;
        position: relative;
        border-top: 1px solid #ddd;

        > ul.jobs {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          & + .help {
            display: none;
          }

          &:empty + .help {
            display: block;
            width: 320px;
            max-width: 320px;

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
          }
        }
      }
    }
  }

  .object-selected {
    height: 130px;

    &.disabled {
      pointer-events: none;
    }

    li.connection {
      position: relative;
      left: calc(50% - 53px);
      top:  25px;

      li.input, li.output {
        max-width: 95px;
        min-width: 95px;

        .label {
          display: block !important;
        }

        &:after ,
        &:before {
          display: none;
        }
      }
    }
  }

  .no-input {
    border-right: 1px solid $interface-help-border;
    text-align: justify;
    white-space: normal;
    padding: 10px;
    width: 299px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $interface-help-background;
    color: $interface-help-text;
    font: $help-font;
  }
}
