html, body {
  padding: 0;
  margin:  0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.img-container {
  $color: #ececec;
  background-image: linear-gradient(45deg, $color 25%, transparent 25%), linear-gradient(-45deg, $color 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $color 75%), linear-gradient(-45deg, transparent 75%, $color 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;

  display: flex;
  align-items: center;
  text-align: center;

  height: 100%;
  overflow: auto;

  img, iframe {
    // Oddly, this is necessary for vertical centering + auto
    margin: auto auto;
  }
}
