@charset "UTF-8";

@import "reset";
@import "device";
@import "fonts";
@import "colors";

html, body {
  background: $base-general-background;
  background-image: url('/images/noise_black.png');
  overflow-x: hidden;
  height: 100%;

  @media #{$media-4k} {
    font-size: 150%;
  }
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

// For PerfectScrollbar, the containers must be relatively positioned
.perfect-scrollbar {
  position: relative;

  // Make sure these are over top EVERYTHING.
  .ps__rail-x ,
  .ps__rail-y {
    z-index: 9999999999;
  }
}

body .content {
  margin: 0 auto;
  margin-top: 2px;
  //max-width: $width;
  position: relative;

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
}

body.embed .content {
  margin-top: 0px;
}

body .content.filled {
  background-color: white;
}

.content a:not(.button) {
  color: $base-general-link;
  text-decoration: none;
}

.content span.black {
  color: #bbb;
}

.content span.small {
  font-size: 10px;
}

.content a.small-link {
  color: #ddd;

  font-size: 10px;
}

.content a.small-link:hover {
  color: #777;
}

.content a:hover {
  text-decoration: underline;
}

.content em {
  font-style:italic;
}

.content strong {
  font-weight:600;
}

@import "animations";    // General Animations
@import "card";          // Basic Styling of Cards
@import "header";        // Object Header
@import "object";        // Object View Styling
@import "terminal";      // Terminals
@import "modal";         // Modal Dialogs
@import "workflow";      // Workflow Viewer
@import "workflow_widget"; // Workflow Widget Styling (new)
@import "dashboard";     // Account Front Page Styling
@import "navigation";    // Topbar and Nav Sections
@import "pagination";    // Pagination Navigation
@import "log";           // Logs
@import "markdown";      // Markdown Generated Content
@import "graph";         // Graph Widgets
@import "form";          // Generic Forms and Inputs
@import "runs";          // Run/Log Views
@import "configuration"; // Configuration Forms
@import "tabs";          // Tab Variants
@import "spinner";       // Spinner Graphic
@import "permissions";   // Access Control Lists
@import "social";        // Social Integration (Comments, etc)
@import "search";        // Search Results
@import "filelist";      // File Listing
@import "filetabs";      // File Tabs
@import "memberships";   // Membership Lists
@import "review_links";  // Review Link Functionality
@import "footer";        // Site Footer
@import "icons";         // Site Icons
@import "paper";         // Paper Page Editor/Viewer
@import "dropdown_menu"; // Normal drop-downs
@import "selector";      // Selector drop-downs
@import "help";          // Help bubbles
@import "stream";        // Video stream widget
@import "test_viewer";   // Test reporting
@import "history";       // Object History Styling
@import "admin";         // Admin Page Styling
@import "index";         // Front Page Styling
@import "object_tree";   // Object tree listings
@import "listview";      // List-View styling for object lists
@import "theme";         // System Theme
@import "tooltip";       // Tooltips
@import "donut";         // Donut Visualization
@import "zenburn";       // Syntax Highlighting

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.content h1.small {
  font-size: 33px;
}

.content * + h1 {
  margin-top: 2px;
}

.content h1 + h2 {
  margin-top: 15px;
}

.content h1 + h3 {
  margin-top: 15px;
}

.content h1 + form {
}

.content h1 + p {
  margin-top: 20px;
}

.content h2 + ul.tags ,
.content h1 + ul.tags {
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(190, 30%, 95%);
}

.content h2 + ul.tags li ,
.content h1 + ul.tags li {
  margin-top: 10px;
}

.content h2 + p {
  margin-top: 10px;
}

.content h2 + ul {
  margin-top: 10px;
}

.content p + p {
  margin-top: 10px;
}

.content p + ul {
  margin-top: 10px;
}

.content h1 + ul + p {
  margin-top: 20px;
}

.content .image:not(.large-icon):not(h1) {
  text-align: center;
}

.content .image img {
  margin: 0px auto;
  margin-top: 20px;
}

label {
  user-select: none;
}

.content > h2.inline + p {
  display: inline-block;
}

.content h2 {
  padding: 0;
  font: $sub-header-font;
}

.content h2.icon {
  padding-left: 27px;
  background-position: 0px 5px;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.content h2 {
  color: $sub-header-color;
}

.content h3 {
  padding: 0;
  font: $sub-sub-header-font;
}

.content > h3 {
  color: hsl(190, 30%, 35%);
}

.content * + h3 {
  margin-top: 20px;
}

.content p {
  padding: 0;
  font: $paragraph-font;
  font-weight: 200;
  line-height: 1.3em;
}

.content p.path {
  font-family: "inconsolata", monospace;
  font-weight: normal;
}

/*.content > ul {
  font-family: "Lato", sans;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5em;
  margin: 0;
}*/

.content ul.results li a + p {
  margin-top: 12px;
}

.content ul.image-list li {
  list-style: none;
  min-height: 32px;
  margin-top: 10px;
  padding-top: 7px;
  padding-left: 44px;
}

.content h1 .logo {
  font-size: 42px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
}

.content p span.logo {
  color: hsl(190, 30%, 35%);
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 3px;
}

.table {
  display: table;
}

.table .row {
  display: table-row;
}

.table .row .cell {
  display: table-cell;
  padding-right: 10px;
  padding-bottom: 10px;
}

span.arrow {
  color: #888;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}

.content p code,
.content pre {
  font: $code-font;
}

.content pre {
  background-color: $code-bg;
  color: $code-color;
  overflow: auto;
  padding: 5px;
  text-align: left;
}

.content h2 + pre {
  margin-top: 15px;
}

.content pre + p {
  margin-top: 10px;
}

.content h2 span.expand {
  color: $expand-color;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  top: -2px;
}

.content .collapsable > h2 span.expand {
  margin-right: 5px;
  margin-left: -7px;
}

.content .loadable {
  margin-top: 10px;
}

.content ul.directory li span.units {
  color: #bbb;
}

.content ul.directory li span.value {
  color: hsl(190, 60%, 45%);
  font-weight: 400;
  padding-right: 5px;
}

.content ul.directory li span.status {
  font-size: 12px;
  text-align: right;
}

span.command a {
  display: block;
}

.content * span.status.unqueued {
  color: #aaa;
}

.content * span.status.queued {
  color: black;
}

.content * span.status.running {
  color: blue;
}

.content * span.status.failed {
  color: #c83737;
}

.content * span.status.finished {
  color: #079807;
}

html > body > .content .right {
  float: right;
}

.content > .title {
  text-align: center;
}

.content h2.title + .graph#graph {
  background-color: #444;
  width: 600px;
  margin: 20px auto;
}

.hidden, *[hidden], template {
  display: none !important;
}

.sr-only {
  display: none !important;
}

.offscreen {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.content .offscreen + * {
  margin-top: 0;
}

.content .tab-panels > .card:first-child:not(.filled) {
  margin-top: 0px;
  border-top: 2px solid #ccc;
}

.content .card.blue {
  color: $card-blue-color;
  background-color: $card-blue-bg;
  text-align: center;
  padding: 5px;
}

.content .card.blue a {
  color: white;
  font-weight: 700;
}

.clear {
  clear: both;
}

/* Creates a div that fits its container */
.content .fitted {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@import "widget";

.lightbox {
  z-index: 99999999 !important;
}
