.card
  .test-viewer.centered
    - if group
      - if group.features.any?
        %ul.test-groups.test-features
          - group.features.each do |key, group|
            = partial(:"tests/group", :locals => {:group => group, :depth => 1})
