.card
  %h2
    Overview

  - if group
    .chart.centered
      = partial(:donut, :locals => {:total => "#{group.statistics[:passes]} / #{group.statistics[:total]}",
                                    :label => "PASSED",
                                    :legend => true,
                                    :segments => [{:label => "passes",
                                                   :total => group.statistics[:passes],
                                                   :color => "#71ec6f"},
                                                  {:label => "failures",
                                                   :total => group.statistics[:failures],
                                                   :color => "#f75d5d"},
                                                  {:label => "errors",
                                                   :total => group.statistics[:errors],
                                                   :color => "#f3ee68"},
                                                  {:label => "skips",
                                                   :total => group.statistics[:skips],
                                                   :color => "#ecb673"}]})

  .test-viewer.centered
    - if group
      - if group.describes.any?
        %ul.test-groups.test-describes
          - group.describes.each do |key, group|
            = partial(:"tests/group", :locals => {:group => group, :depth => 1})
      - if group.features.any?
        %ul.test-groups.test-features
          - group.features.each do |key, group|
            = partial(:"tests/group", :locals => {:group => group, :depth => 1})
