.card.centered
  %h2
    Test Results

  - test_run.groups.each do |key, group|
    %h3
      #{group.header}

    .chart.centered
      = partial(:donut, :locals => {:total => "#{group.statistics[:passes]} / #{group.statistics[:total]}",
                                    :label => "PASSED",
                                    :legend => true,
                                    :segments => [{:label => "passes",
                                                   :total => group.statistics[:passes],
                                                   :color => "#71ec6f"},
                                                  {:label => "failures",
                                                   :total => group.statistics[:failures],
                                                   :color => "#f75d5d"},
                                                  {:label => "errors",
                                                   :total => group.statistics[:errors],
                                                   :color => "#f3ee68"},
                                                  {:label => "skips",
                                                   :total => group.statistics[:skips],
                                                   :color => "#ecb673"}]})

  %h2
    Test Coverage

  %a.centered{:href=>"/system/tests/coverage/"}
    Test Coverage Report

  %h2
    Metadata

  %ul.information
    - test_run.metadata.each do |k, v|
      %li
        %h2
          = k.to_s.split("_").map(&:capitalize).join(" ")
        %p
          #{v}
