-# <title>
- content_for :title do
  Test Results #{params[:tab] ? "[" + test_run.group(params[:tab].intern).header + "]" : "[Overall]"}

%h1.test
  %img.large-icon.test{:src => "/images/icons/ui/test.svg"}
  .name
    Tests
.bar

%ul.card-tabs.tabs.centered>
  %li.card-layout.tab{:class => (params[:tab].nil? ? "active" : "")}>
    %a{:href => path}>
      Overall
  - test_run.groups.each do |key, group|
    %li.card-layout.tab{:class => (params[:tab] == key.to_s ? "active" : "")}>
      %a{:href => "#{path}/#{key}"}>
        #{group.header}

%ul.tab-panels
  %li.tab-panel{:class => (params[:tab].nil? ? "active" : "")}>
    = partial(:"tests/overall", :locals => {:test_run => test_run})
  - test_run.groups.each do |key, group|
    %li.tab-panel{:class => (params[:tab] == key.to_s ? "active" : "")}>
      = partial(:"tests/list", :locals => {:test_run => test_run, :group => group})
