-# This partial renders the workflow configuration sidebar area of the workflow editor.
-# The sidebar gives a configuration editor which slides in to show options
-# for the currently selected object.

-# Locals: None

-# The arrow to collapse the sidebar
.right.collapse.reveal

.right.sidebar{:"aria-hidden" => "true"}
  .configuration-panel.card.filled
    = header(:id   => :options,
             :text => I18n.t('subheaders.configuration'),
             :help => I18n.t('help.configuration'))

    %ul.panes

    .configuration-help.help
      %occam-workflow.mock{:"aria-hidden" => "true"}
        %ul.connections
          %li.connection.dummy.selected.viewing
            %img.icon{:src => Occam::Object.iconURLFor("simulator")}
            %span.type simulator
            %span.name DRAMSim2
            %ul.inputs
              %li.input{:"data-index" => 0}
                .label
                  %span.type application/json
                  %span.name General Options
              %li.input{:"data-index" => 1}
                .label
                  %span.type trace
                  %span.name Memory Trace
            %ul.outputs
              %li.output{:"data-index" => 0}
                .label
                  %span.type application/json
                  %span.name Statistics
      :markdown
        #{I18n.t 'help.configurationPanel'}
