%ul.configurations.tabs.card-tabs>
  - configuration_index = 0
  - inner_tab_count = 0
  - connection[:inputs].each do |input|
    - if input[:type] == "configuration"
      - inner_tab_count += 1
      %li.configuration.tab{:class => (inner_tab_count == 1 ? "active": "")}>
        %a>
          #{input[:name]}
.tab-panels.configurations
  - configuration_index = 0
  - inner_tab_count = 0
  - connection[:inputs].each_with_index do |input, input_index|
    - if input[:type] == "configuration"
      - inner_tab_count += 1
      - configuration_object = workflow.inputsAt(index, input_index)[0]
      - if configuration_object
        - configuration_object = workflow.resolveNode(configuration_object)
      %form.configuration.tab-panel{:'data-connection-index' => index, :action => workflow.url(:path => "configure/#{index}/#{input_index}"), :method => :post, :name => :configuration_edit, :"data-parsley-excluded" => "input[type=button], input[type=submit], input[type=reset], input[type=hidden], [disabled], :hidden, .no-validation", :class => (inner_tab_count == 1 ? "active" : ""), :"data-input-index" => input_index, :"data-connection-index" => index, :"data-object-id" => (configuration_object ? configuration_object.id : false), :"data-object-revision" => (configuration_object ? configuration_object.revision : false), :"data-base-object-id" => connection[:id], :"data-base-object-revision" => connection[:revision], :"data-key" => Base64.urlsafe_encode64(input[:name])}
        - if workflow.link
          %input{:type => :hidden, :name => "link", :value => workflow.link}
        .card.filled.configuration
        .card.filled
          .submit
            %input.button{:type => "submit", :value => "Update", :name => :submit}
      - configuration_index += 1
    - input_index += 1
