-# This partial renders the sidebar area of the workflow run viewer.
-# The sidebar gives a list of running jobs for a particular node in the
-# workflow. This allows people to manage individual jobs and see any
-# running job's output terminal.

-# Locals: None

-# The arrow to collapse the sidebar
.collapse.reveal.jobs
.jobs.sidebar{:"aria-hidden" => "true"}
  .job-selection
    -# "Job Viewer"
    %h2
      = I18n.t('job-viewer.header')

    .object-selected.disabled
      %ul.connections
        %li.connection.dummy.initial
          %img.icon{:"data-object-type" => "object", :src => Occam::Object.iconURLFor(:object, :hex => "ae85db")}
          %span.type Select
          %span.name an object
          %ul.inputs
          %ul.outputs
      .before
      .after

    %nav.jobs{:"aria-labelledby" => "job-list-heading"}
      %h2.sr-only#job-list-heading
        #{I18n.t("headers.jobList")}
      %template.run-item.running.workflow-job
        %li
          .before
          %a{:href => "#"}
            %span.status
              .dot
              .dot
              .dot
            %span.date
      %ul.jobs.rtl.perfect-scrollbar
      .help
        :markdown
          #{I18n.t 'help.jobViewer'}
        %occam-workflow.run.mock{:"aria-hidden" => "true"}
          %ul.connections
            %li.connection.dummy.selected.viewing
              %img.icon{:src => Occam::Object.iconURLFor("simulator")}
              %span.type simulator
              %span.name DRAMSim2
              %ul.inputs
                %li.input{:"data-index" => 0}
                  .label
                    %span.type application/json
                    %span.name General Options
                %li.input{:"data-index" => 1}
                  .label
                    %span.type trace
                    %span.name Memory Trace
              %ul.outputs
                %li.output{:"data-index" => 0}
                  .label
                    %span.type application/json
                    %span.name Statistics
