- if not defined?(editable)
  - editable = false

%occam-workflow{:class => editable ? "editable" : false}
  - if editable
    .save
    = partial(:"workflows/sidebar", :locals => {})
    -#= partial(:"workflows/workflow_sidebar", :locals => {})
  = partial(:"workflows/configurations", :locals => {})

  %ul.connections
