-# This partial renders the sidebar area of the workflow editor.
-# The sidebar gives better support for adding objects to the workflow
-# and manipulating existing objects.

-# Locals: None

-# The arrow to collapse the sidebar
.collapse.reveal
.sidebar{:"aria-hidden" => "true"}
  .object-selection
    -# "Select Object"
    %h2
      = I18n.t('object-selection.selectObject')

    -# Object selection auto-completes
    %form.widget-selection{:name => "widget-selection"}
      .by-type
        %h3
          = I18n.t('object-selection.filter.type')
        %p
          %input.auto-complete.object-type{:autocomplete => "off",
                                           :name         => "type",
                                           :placeholder  => I18n.t('fields.placeholders.filterByType'),
                                           :value        => ""}

      %h3
        = I18n.t('object-selection.filter.name')
      %input{:type   => :hidden,
             :hidden => true,
             :name   => "object-id",
             :value  => ""}
      %input.auto-complete{:autocomplete => "off",
                           :name         => "name",
                           :placeholder  => I18n.t('fields.placeholders.selectObject'),
                           :value        => ""}

    .object-selected.disabled
      %ul.connections
        %li.connection.dummy.initial
          %img.icon{:"data-object-type" => "object", :src => Occam::Object.iconURLFor(:object, :hex => "ae85db")}
          %span.type Select
          %span.name an object
          %ul.inputs
          %ul.outputs
    -# "Workflow Templates"
    -#%h2
      Workflow Templates
      -#= I18n.t('object-selection.recentlyUsed')

    -# "Recently Used Objects"
    %h2
      = I18n.t('object-selection.recentlyUsed')

    - if current_person && current_person.recentlyUsed.any?
      %ul.object-list.recently-used
        - current_person.recentlyUsed.reverse.each do |link|
          - object = link.target
          %li.object{"data-object-type"     => object.info[:type],
                     "data-object-revision" => object.revision,
                     "data-object-id"       => object.id}
            %img.icon{:src => object.iconURL}
            %h2.type.object
              - if object.info.has_key? :name
                %span.name
                  #{object.info[:name]}
                %span.small.type
                  #{object.info[:type]}
              - else
                %span.name
                  #{object.info[:type]}
    - elsif current_person
      %p
        -# "None"
        = I18n.t('common.none')
    - else
      %p
        -# "Log in"
        = I18n.t('common.noSession')
