- theme = Occam::System::Theme.new("nostalgia")

.card.filled.theme-selection
  = header(:offscreen => true,
           :text      => I18n.t('subheaders.theme'),
           :help      => I18n.t('help.theme'),
           :id        => :theme)

  - selectors = theme.selectors
  %ul.tabs.card-tabs>
    %li.card-tab.tab.active>
      %a>
        Presets
    - selectors.keys.each_with_index do |key, i|
      %li.card-tab.tab>
        %a>
          #{I18n.t("system.theme.#{key}")}

  %ul.tab-panels
    %li.tab-panel.active
      %h2
        Presets

      %p
        %select.selector
          - Occam::System::Theme.list.each do |key, theme|
            %option
              #{theme.name}

    - object = Occam::Object.new(:id => "QmbDRC7BFzyeANfuedASwuc35hMCLRq3p5yRnFKrLJ87pd", :path => "/src/occam/daemon", :parent => Occam::Object.new(:id => "QmbDRC7BFzyeANfuedASwuc35hMCLRq3p5yRnFKrLJ87pd", :parent => Occam::Object.new(:id => "QmbDRC7BFzyeANfuedASwuc35hMCLRq3p5yRnFKrLJ87pd", :parent => Occam::Object.new(:id => "QmbDRC7BFzyeANfuedASwuc35hMCLRq3p5yRnFKrLJ87pd"))))
    - selectors.keys.each_with_index do |key, i|
      %li.tab-panel
        .card.filled
          %ul.tabs.bubble
            - selectors[key].keys.each_with_index do |subkey, j|
              %li.tab{:class => (j == 0 ? "active" : false)}>
                %a>
                  #{I18n.t("system.theme.#{subkey}")}

          %ul.tab-panels
            - selectors[key].keys.each_with_index do |subkey, j|
              %li.tab-panel{:class => (j == 0 ? "active" : false)}
                .card.filled
                  .theme-sample.card.filled<>
                    - if subkey == :tooltip
                      .tooltip
                        .before
                        = I18n.t("system.theme.tooltip")
                        .after
                    - elsif subkey == :selector
                      .card
                        %select.selector
                          %option
                            Option 1
                          %option
                            Option 2
                          %option
                            Option 3
                    - elsif subkey == :help
                      .help
                        %p
                          This is the help text.
                    - elsif subkey == :configuration
                      %p
                        hello
                    - elsif subkey == :terminal
                      .terminal
                        %pre
                          Hello
                    - elsif key == :object && subkey == :general
                      .card.filled
                        = partial(:"objects/information", :locals => {:object => object})
                    - elsif key == :header
                      .theme-header
                        = partial(:"objects/header", :locals => {:object => object,
                                                                 :embedIcon => true})
                    - elsif subkey == :tags
                      .theme-description
                        = partial(:"objects/description", :locals => {:object => object, :description => {:text => "Lorem ipsum dolor sit amet, **consectetur adipiscing elit**. Ut laoreet metus eu quam interdum, sodales placerat erat hendrerit. Nunc *vehicula congue leo, vel sodales quam*. Duis nisl lorem, efficitur vel lacus in, iaculis tincidunt diam. Curabitur ut erat et nibh molestie posuere vel nec tortor. Donec bibendum ipsum vitae massa accumsan, eget bibendum magna tempor. Cras blandit vulputate sapien volutpat dictum. Vestibulum vel sapien metus. Curabitur non aliquet justo, a consequat risus. Aliquam varius nibh vitae sem ornare viverra. Nam dolor purus, tristique ut urna vitae, feugiat sagittis lectus. Pellentesque ac volutpat purus."}, :tags => ["Example Tag", "Another Tag", "tag"]})
                    - elsif subkey == :description
                      .theme-description
                        = partial(:"objects/description", :locals => {:object => object, :description => {:text => "Lorem ipsum dolor sit amet, **consectetur adipiscing elit**. Ut laoreet metus eu quam interdum, sodales placerat erat hendrerit. Nunc *vehicula congue leo, vel sodales quam*. Duis nisl lorem, efficitur vel lacus in, iaculis tincidunt diam. Curabitur ut erat et nibh molestie posuere vel nec tortor. Donec bibendum ipsum vitae massa accumsan, eget bibendum magna tempor. Cras blandit vulputate sapien volutpat dictum. Vestibulum vel sapien metus. Curabitur non aliquet justo, a consequat risus. Aliquam varius nibh vitae sem ornare viverra. Nam dolor purus, tristique ut urna vitae, feugiat sagittis lectus. Pellentesque ac volutpat purus.\n\nPellentesque in vestibulum lacus. Integer erat odio, ultricies eu est ut, auctor feugiat elit. Suspendisse ut aliquam magna, **id finibus tellus**. In eleifend mauris nulla, quis egestas metus vehicula id. Sed facilisis turpis ligula, vel iaculis felis rutrum non. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris mattis vehicula auctor. Donec faucibus libero et convallis finibus.\n\n* Lorem ipsum.\n* Dolor sit\n*Amet, consectetur\n\n1. Adipiscing elit.\n2. Ut laoreet\n3. Metus eu.\n\n[Link](www.example.com)."},
                                                                      :tags => ["Example Tag", "Another Tag", "tag"]})
                    - elsif subkey == :filelist
                      .theme-file-viewer
                        - fileObject = object.as(Occam::Object, :path => "/object.json")
                        = partial(:"objects/files", :locals => {:object => fileObject,
                                                                :layout => layout,
                                                                :embedIcon => true,
                                                                :files  => ["/README.md"]})
                    - elsif subkey == :queue
                      .theme-runner
                        = partial(:"objects/runner", :locals => {:object  => object,
                                                                 :viewer  => object,
                                                                 :input   => nil,
                                                                 :file    => nil,
                                                                 :runs    => [Occam::Run.new(:info => {:id => "0",
                                                                                                       :queueTime   => Date.today.iso8601}),
                                                                              Occam::Run.new(:info => {:id => "0",
                                                                                                       :queueTime   => Date.today.iso8601,
                                                                                                       :finishTime  => Date.today.iso8601}),
                                                                              Occam::Run.new(:info => {:id => "0",
                                                                                                       :queueTime   => Date.today.iso8601,
                                                                                                       :failureTime => Date.today.iso8601})],
                                                                 :running => true})
                    - elsif subkey == :code
                      #{object.highlightedFile("/src/occam/manager.py")}
                  .theme-configuration.card.filled
                    %table
                      - items = theme.selectorList(key, subkey)
                      - subsubkey = nil
                      - subsubsubkey = nil
                      - items.each do |item|
                        - item.each do |tag, value|
                          %tr
                            - if value.is_a?(Integer)
                              - if value == 1
                                - subsubkey = tag
                                - subsubsubkey = nil
                              - elsif value == 2
                                - subsubsubkey = tag
                              %td.header{:class => "header-#{value}"}
                                %h3
                                  #{I18n.t("system.theme.#{subsubkey}")}
                                  - if subsubsubkey
                                    %span.subheader
                                      #{subsubsubkey}
                            - else
                              %td
                                %h3
                                  #{I18n.t("system.theme.#{tag}")}
                              - if subsubsubkey
                                - currentValue = ((((theme.config[key] || {})[subkey] || {})[subsubkey] || {})[subsubsubkey] || {})[tag] || "red"
                              - elsif subsubkey
                                - currentValue = (((theme.config[key] || {})[subkey] || {})[subsubkey] || {})[tag] || "red"
                              - else
                                - currentValue = ((theme.config[key] || {})[subkey] || {})[tag] || "red"
                              - id = "#{key}-#{subkey}#{subsubkey ? "-#{subsubkey}" : ""}#{subsubsubkey ? "-#{subsubsubkey}" : ""}-#{tag}"
                              - cssKey = (value && value[0] && value[0][:key]) || ""
                              %td
                                %button.button.color{:"data-selectors" => JSON.dump(value), :id => id}
                                -#%button.button.opacity{:id => id + "-opacity"}
                              %td
                                %input.color{:value => (currentValue.is_a?(Hash) ? currentValue[:color] : currentValue), :name => id, :class => ((cssKey == "box-shadow" || cssKey == "text-shadow") ? "shadow-color" : "")}
                              - if cssKey == "box-shadow" || cssKey == "text-shadow"
                                - if not currentValue.is_a?(Hash)
                                  - currentValue = {}
                                %td
                                  %input.shadow-style{:value => currentValue[:style], :name => id + "-style"}
