-# <title>
- content_for :title do
  System

%h1.test
  .large-icon.test
    = embed_svg "images/icons/ui/test.svg", :width => "100%", :height => "100%"
  .name
    System Information
  .organization
    Information and Configuration Related to This Instance
.bar
%ul.card-tabs.tabs.centered{:"data-panels" => "system-panels"}>
  %li.card-layout.tab{:class => (params[:tab].nil? ? "active" : "")}>
    %a{:href => "/system"}>
      Overall
  %li.card-layout.tab{:class => (params[:tab] == "theme" ? "active" : "")}>
    %a{:href => "/system/tests"}>
      Tests
  - if current_account && current_account.hasRole?("administrator")
    %li.card-layout.tab{:class => (params[:tab] == "theme" ? "active" : "")}>
      %a{:href => "/system/theme"}>
        Theme

.container
  .social.sidebar.loading
  .collapse.left
  %ul.tab-panels#system-panels
    %li.tab-panel{:class => (params[:tab].nil? ? "active" : "")}>
      .card.filled
    %li.tab-panel{:class => (params[:tab] == "tests" ? "active": "")}>
      .card.filled
        %ul.card-tabs.tabs.centered>
          - if test_run
            %li.card-layout.tab{:class => (params[:tab].nil? ? "active" : "")}>
              %a{:href => path}>
                Overall
            - test_run.groups.each do |key, group|
              %li.card-layout.tab{:class => (params[:tab] == key.to_s ? "active" : "")}>
                %a{:href => "#{path}/#{key}"}>
                  #{group.header}
        %ul.tab-panels
          - if test_run
            %li.tab-panel{:class => (params[:tab].nil? ? "active" : "")}>
              = partial(:"tests/overall", :locals => {:test_run => test_run})
            - test_run.groups.each do |key, group|
              %li.tab-panel{:class => (params[:tab] == key.to_s ? "active" : "")}>
              = partial(:"tests/list", :locals => {:test_run => test_run, :group => group})
    %li.tab-panel{:class => (params[:tab] == "theme" ? "active" : "")}>
      = partial(:"system/theme", :locals => {:layout => layout})
