%li
  %span.icon
    - if access[:person]
      %img.avatar{:src => access[:person].avatar_url(24)}>
    - else
      %img.avatar{:src => "/images/icons/metadata/authors.png"}>
  %span.name
    - if access[:person]
      %a{:href => access[:person].url}
        = access[:person].info[:name]
    - else
      All
  %span.role
  - [:read, :write, :clone, :run].each do |key|
    %span.key{:"data-key" => key,
              :"data-value" => (access[key].nil? ? false : (access[key] ? "on" : "off"))}
      %form.inline{:action => object.url(:path => "permissions", :full => true), :method => :post}
        %input{:type  => :hidden,
               :value => (access[key].nil? ? "on" : (access[key] ? "off" : "")),
               :name  => :value}
        - if access[:person]
          %input{:type  => :hidden,
                 :value => access[:person].id,
                 :name  => :person}
        %input{:type  => :hidden,
               :value => section,
               :name  => :section}
        .dropdown-menu
          %input.link{:type  => :submit,
                      :value => key.to_s,
                      :title => (access[key].nil? ? "Inherited" : (access[key] ? "Allowed" : "Denied")),
                      :name  => :update}
          %ul.dropdown-menu-options
            %li
              %a{:href => "#"}
                Allowed
            %li
              %a{:href => "#"}
                Denied
            %li
              %a{:href => "#"}
                Inherited
  %span.remove
    - if access[:person]
      %form.inline{:action => object.url(:path => "permissions", :full => true), :method => :post}
        %input{:type => :hidden, :value => 'delete', :name => :_method}
        %input{:type  => :hidden,
               :value => access[:person].id,
               :name  => :person}
        %input.link.delete{:href  => "#",
                           :value => "remove",
                           :type  => :submit,
                           :title => "remove this row"}
