- if defined?(errors) and errors and not errors.empty?
  .card.filled
    .errors
      %h2
        #{I18n.t "subheaders.errors"}
      %ul
        - errors.each do |error|
          %li
            = error
