%link{:rel => 'icon',       :sizes => '16x16',   :href => '/images/favicon-16.png'}
%link{:rel => 'icon',       :sizes => '32x32',   :href => '/images/favicon-32.png'}
%link{:rel => 'icon',       :sizes => '48x48',   :href => '/images/favicon-48.png'}
%link{:rel => 'manifest',   :href => '/manifest.json'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/main.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/ui-lightness/jquery-ui-1.10.4.custom.min.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/spectrum/spectrum.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/jquery.searchlight.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/perfect-scrollbar/perfect-scrollbar.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/tagit/jquery.tagit.css'}
%link{:rel => 'stylesheet', :type => 'text/css', :href => '/js/lightbox2-master/dist/css/lightbox.min.css'}

= yield_content :links

%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
%meta{:name => "mobile-web-app-capable", :content => "yes"}

= yield_content :styles
