%script{:src=>"/js/jquery/jquery.min.js"}
%script{:src=>"/js/jquery/jquery-ui-1.10.4.custom.min.js"}
%script{:src=>"/js/perfect-scrollbar/perfect-scrollbar.min.js"}
%script{:src=>"/js/jquery.base64.min.js"}
%script{:src=>"/js/jquery.searchlight.js"}
%script{:src=>"/js/jquery.appear.js"}
%script{:src=>"/js/jquery-textfill-master/source/jquery.textfill.min.js"}
%script{:src=>"/js/tagit/tag-it.min.js"}
%script{:src=>"/js/showdown/showdown.min.js"}

-# Maybe we should lazy-load these
%script{:type => "text/javascript", :src=>"/js/parsley/parsley.min.js"}
%script{:type => "text/javascript", :src=>"/js/spectrum/spectrum.js"}
%script{:type => "text/javascript", :src=>"/js/jscolor/jscolor.min.js"}
%script{:type => "text/javascript", :src=>"/js/uuid.js"}
%script{:type => "text/javascript", :src=>"/js/lightbox2-master/dist/js/lightbox.min.js"}
%script{:type => "text/javascript", :src=>"/assets/js/app.js"}

= yield_content :scripts
