%nav.topbar
  - if current_person.nil?
    %a.logo{:href => '/'}
  - else
    %a.logo{:href => "/people/#{current_person.id}"}
  .divider-left
  .divider
  .divider-right
  .divider
  .divider-right
  -# Current job progress
  - if not current_person.nil?
    %ul.navbar.jobs.left
      %li#job-progress.hidden{:hidden => true}>
        %span
          Running Tasks:
        - if current_person.running_runs.empty?
          %p
            None
          %a{:href => "/people/#{current_person.id}/runs"}
            Work History
        - else
          .task-selector
            .previous>
              &#x25B2;
            %span.task-number
              1
            \/
            %span.task-count
              #{current_person.running_runs.count}
            .next>
              &#x25BC;
          - run = current_person.running_runs.first
          - job = run.jobs.where(:status => "running").first
          - connection_index = job.connections.first
          - if run.experiment
            - connection_object = run.experiment.workflow['connections'][connection_index]['object_realized']
            .current-task{:"data-run-id" => run.id, :"data-job-id" => job.id}
              .label.type
                #{connection_object.type}
              .label.name
                #{connection_object.name}
          .container
            = partial :spinner
          %ul.progress-bar
            - run.jobs.each do |job_item|
              %li.progress-cell{:"data-job-id" => job_item.id, :class => ((job_item.status == :finished) ? "complete" : ((job_item.status == :running) ? "in-progress" : ""))}
          %span.job-title
            %a
              #{job.workset && job.workset.name}/#{job.experiment && job.experiment.name}
  - if current_layout.view == :desktop
    %ul.navbar.right>
      - if current_person.nil?
        %li>
          %a.modal{:href => "/login"}>#{I18n.t "navigation.login"}
        %li>
          %a.modal{:href => "/people/new"}>#{I18n.t "navigation.signup"}
      - else
        %li>
          .dropdown-menu>
            %a{:href => current_person.url}>
              #username{:"data-person-id" => current_person.id}>
                #{current_account.username}
              #avatar>
                %img{:src => current_person.avatar_url(24)}>
            %ul.dropdown-menu-options>
              %li>
                %a{:href => "/people/#{current_person.id}"}>#{I18n.t "tabs.collection"}
              %li>
                %a{:href => "/people/#{current_person.id}/memberships"}>#{I18n.t "tabs.memberships"}
              %li>
                %a{:href => "/people/#{current_person.id}/bookmarks"}>#{I18n.t "tabs.bookmarks"}
              %li>
                %a{:href => "/people/#{current_person.id}/jobs"}>#{I18n.t "tabs.jobs"}
              %li.separator>
              %li>
                %a{:href => "/logout"}>#{I18n.t "navigation.logout"}
    %ul.navbar.search.right>
      %li>
        %form{:action => "/search", :method => :get}>
          %input#query{:name        => "query",
                       :placeholder => I18n.t('fields.placeholders.search')}
          %input{:type => :hidden, :name => "types", :value => "on"}
          %input{:type => :hidden, :name => "objects", :value => "on"}
          %input#search{:type  => :submit,
                        :value => I18n.t("navigation.search")}
