!!!
%html{:lang => "en-US"}
  %head
    = partial(:head)
    %title
      - title = yield_content :title
      - if title.length > 0
        #{title} -
      OCCAM
  %body{:class => current_layout.view}
    = partial(:topbar)
    .content
      = find_and_preserve do
        = yield
    -# partial(:footer)
    .modal-window{:"aria-role" => "dialog", :role => "dialog", :tabindex => "-1", :"aria-labeledby" => "modalLabel"}
      .loading
      .content
      .close
    = partial(:scripts)
