!!!
%html
  %head
    = partial(:head)
    %title
      OCCAM
  %body
    = partial(:topbar)
    .content.filled.markdown
      = find_and_preserve do
        = yield
      .clear
    .modal-window{:"aria-role" => "dialog", :role => "dialog", :tabindex => "-1", :"aria-labeledby" => "modalLabel"}
      .loading
      .content
      .close
    = partial(:scripts)
