.content .card li.input ,
.content .card li.repo {
  position: relative;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.content .card li.input:not(:first-child) {
  margin-top: 10px;
}

.content .card li.input .information {
  display: table;
}

.content .card li.input .information > * {
  display: table-row;
}

.content .card li.input .information > * > * {
  display: table-cell;
}

.content .card li.input .information > * > *:first-child {
  padding-right: 10px;
  text-align: right;
}

.content .card ul.inputs ,
.content .card ul.repos {
  margin-top: 10px;
}

.content .card li.repo:not(:first-child) {
  margin-top: 10px;
}

.content .card li.repo .information {
  display: table;
}

.content .card li.repo .information > * {
  display: table-row;
}

.content .card li.repo .information > * > * {
  display: table-cell;
}

.content .card li.repo .information > * > *:first-child {
  padding-right: 10px;
  text-align: right;
}

.content .card h3 + ul.directory {
  margin-top: 10px;
}

.content .card ul.directory > li:before {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  content: " ";
  padding: 5px;
  height: 1.0em;
  width: 1.0em;
  border-radius: 5px;
  background-color: #ccc;
  vertical-align: top;
  text-align: center;
}

.content .card ul.directory > li.directory:before {
  background-color: hsl(180, 40%, 80%);
}

.content .card ul.directory > li.file:before {
  background-color: hsl(0, 0%, 80%);
}

.content .card ul.directory > li:not(:first-child) {
  margin-top: 5px;
}

.content .card ul.directory > li span {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background-color: #ddd;
}

.content .card ul.directory > li span.repository:before {
}

.content .card ul.directory > li span.repository {
  background-color: hsl(120, 50%, 80%);
}

.content .card ul.directory > li ul.information {
  display: inline-block;
}

.content .card ul.directory > li ul.information li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.content .card ul.directory > li ul.information li.repository:before {
  color: #555;
  content: '\25b8';
  margin: 0 3px;
}

.content .card li > .add {
  display: inline-block;
  vertical-align: top;
  background-image: url('/images/add_item.svg');
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 0 0px;
  background-color: #b3e6b3;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-right: 5px;
  margin-top: 2px;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content .card li > .remove {
  display: inline-block;
  vertical-align: top;
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 0 0px;
  background-color: #ffaaaa;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-right: 5px;
  margin-top: 2px;
  cursor: pointer;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content .card li.input > .remove ,
.content .card li.repo > .remove {
  position: absolute;
  left: -7px;
  top: -7px;
}

.content .card ul.configuration-group li > .remove + label {
  margin-left: 0;
}

.content .card ul.configuration-group .parameters {
  color: #444;
  display: none;
  font-size: 12px;
  margin-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
