.card.filled.min-height
  - if person.bookmarks.empty?
    .none
      .none-icon{:"data-none-category" => "bookmarks"}
      %p
        #{I18n.t("common.noBookmarks")}
  .objects-container
    %ul.bookmarks.objects.filled
      - person.bookmarks.each do |subObject|
        - subObject = subObject.target
        %li.object
          %a{:href => subObject.url(:short => true)}
            %img{:src => subObject.iconURL}
            %p.type
              #{subObject.shortType}
            %p.name
              #{subObject.info[:name]}
