%h1.person
  .statistics<>
    %ul.roles<>
      - if person.account
        - person.account.roles.each do |role|
          %li{:class => role}<>
            #{role}
  %img.large-icon.person.avatar{:src => person.avatar_url(76)}<
  .shadow{:role => :presentation}
  .name<
    = person.info[:name]
  - if person.info[:organization]
    .organization<
      = person.info[:organization]
.bar
