.card.filled
  %h2
    = I18n.t 'subheaders.publicKey'

  %ul.tabs.bubble
    %li.tab.active
      %a
        SSH
    %li.tab
      %a
        PEM

  %ul.tab-panels
    %li.tab-panel.active
      %pre.wrap
        = preserve do
          :escaped
            #{person.publicKey(:format => "OpenSSH")}

    %li.tab-panel
      %pre
        = preserve do
          :escaped
            #{person.publicKey}

  %h2
    = I18n.t 'subheaders.verifyKey'

  %ul.tabs.bubble
    %li.tab.active
      %a
        SSH
    %li.tab
      %a
        PEM

  %ul.tab-panels
    %li.tab-panel.active
      %pre.wrap
        = preserve do
          :escaped
            #{person.verifyKey(:format => "OpenSSH")}

    %li.tab-panel
      %pre
        = preserve do
          :escaped
            #{person.verifyKey}
