= partial :"people/header", :locals => {:person => person}

= partial :errors, :locals => {:errors => errors}

%form.modal{:action => "/people/#{person.id}", :method => :post, :name => :person_edit, :enctype => "multipart/form-data"}
  .card
    %label{:for => :organization}
      organization
    %input{:type => :text, :id => :organization, :name => :organization, :value => current_person.info[:organization]}
    %label{:for => :name}
      display name
    %input{:type => :text, :id => :name, :name => :name, :value => current_person.info[:name]}
    %label{:for => :email}
      email
    %input{:type => :text, :id => :email, :name => :email, :value => current_person.info[:email]}
    %label{:for => :description}
      bio
    %textarea{:id => :description, :name => :description}
      = current_person.info[:description]

    %label{:for => :avatar}
      upload avatar image
    %input{:type => :file, :name => :avatar}
  .card.filled
    .submit
      %input.button{:type => :submit, :value => "Save"}
