-# Purpose: Displays a form to create a new person
-#
-# Locals: errors - A collection of errors that are passed when the form
-#                  is reloaded after a validation error. nil when no errors.

%h1
  %img.large-icon.signup{:src => "/images/icons/ui/login.svg"}
  .name
    = I18n.t 'headers.signup'

= partial :errors, :locals => {:errors => errors}

%form.center.modal{:action => "/people", :method => :post, :name => :people_new}
  .card
    %label{:for => :username}
      #{I18n.t "fields.username"}
    %input.short{:type => "text", :id => :username, :name => :username}
    %label{:for => :password}
      #{I18n.t "fields.password"}
    %input.short{:type => "password", :id => :password, :name => :password, :autocomplete => "off"}
  .card.filled
    .submit
      %input#signup.button{:type => "submit", :value => I18n.t('fields.signup'), :name => :submit}
