-# Purpose: Displays the profile for the specified person
-#
-# Locals:  person        - The particular Person to view
-#          experiments    - The experiments this person owns
-#          collaborations - The worksets this person is collaborating upon
-#          worksets       - The worksets this person owns
-#          jobs           - Running jobs this person owns

- content_for :title do
  #{person.info[:name]}

= partial :"people/header", :locals => {:person => person}

= partial :errors, :locals => {:errors => errors}

%ul.card-tabs.tabs.centered{:"data-panels" => "people-panels", :"data-push-navigation" => true}
  - tab_index = 0
  - active = ((tab.nil? && tab_index == 0) || tab == "collection")
  %li.card-tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
    - tab_index += 1
    %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => "/people/#{person.id}/collection"}>
      = I18n.t 'tabs.collection'
      - active = ((tab.nil? && tab_index == 0) || tab == "memberships")
  %li.card-tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
    - tab_index += 1
    %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => "/people/#{person.id}/memberships"}>
      = I18n.t 'tabs.memberships'
  - if current_person and current_person.id == person.id
    - active = ((tab.nil? && tab_index == 0) || tab == "bookmarks")
    %li.card-tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      - tab_index += 1
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => "/people/#{current_person.id}/bookmarks"}>
        = I18n.t 'tabs.bookmarks'
    -#%li.card-tab.tab{:class => ((tab.nil? && tab_index == 0) || tab == "import") ? 'active' : ''}>
      - tab_index += 1
      %a{:href => "/people/#{current_person.id}/import"}>
        = I18n.t 'tabs.import'
    - active = ((tab.nil? && tab_index == 0) || tab == "jobs")
    %li.card-tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => "/people/#{current_person.id}/jobs"}>
        = I18n.t 'tabs.jobs'
    - active = ((tab.nil? && tab_index == 0) || tab == "storage")
    %li.card-tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => "/people/#{current_person.id}/storage"}>
        = I18n.t 'tabs.storage'
    -#%li.card-tab.tab>
      %a{:href => "#"}>
        Deployment Resources
  - active = ((tab.nil? && tab_index == 0) || tab == "keys")
  %li.card-tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
    %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => "/people/#{person.id}/keys"}>
      = I18n.t 'tabs.keys'

.container
  .social.sidebar.loading
  .collapse.left
  %ul.tab-panels#people-panels
    - tab_index = 0
    %li.tab-panel{:id => "tab-panel-#{tab_index}", :class => ((tab.nil? && tab_index == 0) || tab == "collection") ? 'active' : ''}>
      - tab_index += 1
      .card.filled
        .bio.description.centered
          - if !(person.info[:description].nil? || person.info[:description] == "")
            :markdown
              #{person.info[:description]}

          - if current_person and person.id == current_person.id
            %p.edit-profile-link
              %a.edit-profile{:href => "/people/#{current_person.id}/edit"}
                = I18n.t 'common.editProfile'
      .card.filled.min-height
        = header(:id        => :collection,
                 :offscreen => true,
                 :text      => I18n.t('tabs.collection'),
                 :reveal    => person.active.empty?,
                 :help      => I18n.t('help.worksets'))

        - if person.active.empty? and collaborations.empty?
          - if current_person and person.id == current_person.id
            %p
              = I18n.t 'common.noWorksetsYou'
          - else
            %p
              = I18n.t 'common.noWorksets'

        - if current_person and person.id == current_person.id
          %table.directory.information
            %tr.header
              %td{:colspan => "999"}
                = I18n.t 'fields.addNewObject'
            %tr.row.add
              %td{:colspan => "999"}
                %form{:action => "/people/#{current_person.id}/collection", :method => :post}
                  %select.selector{:name => "type"}>
                    %option{:"data-icon" => 'workset',
                            :"data-i18n" => I18n.t('objectTypes.workset')}>
                      workset
                    %option{:"data-icon" => 'object',
                            :"data-i18n" => I18n.t('objectTypes.object')}>
                      object
                  %input{:value       => "",
                         :placeholder => I18n.t('fields.placeholders.name'),
                         :name        => "name"}
                  %input.button{:value => I18n.t('fields.add'),
                                :type  => :submit,
                                :name  => "add"}

        .objects-container.filled.centered
          %ul.objects.list#worksets
            - person.active.map(&:target).each do |subObject|
              %li.object
                %a{:href => subObject.url(:short => true)}
                  %img{:src => subObject.iconURL}
                  %p.type
                    #{subObject.shortType}
                  %p.name
                    #{subObject.info[:name]}
                .description
                  #{subObject.summary}
                .statistics
                  %ul
                    %li.collaborators
                      %span.value
                        = 0
                      %span.units
                        = I18n.t 'information.collaborators'
                    -#
                      %li.groups
                        %span.value
                          0
                        %span.units
                          groups
                      %li.experiments
                        %span.value
                          0
                        %span.units
                          experiments
                      %li.forks
                        %span.value
                          0
                        %span.units
                          forks

    - active = ((tab.nil? && tab_index == 0) || tab == "memberships")
    %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}", :class => active ? 'active' : ''}>
      .card.filled
        = partial(:"people/memberships", :locals => {:person => person})
    - if current_person and current_person.id == person.id
      - active = ((tab.nil? && tab_index == 0) || tab == "bookmarks")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}", :class => active ? 'active' : ''}>
        - tab_index += 1
        = partial(:"people/bookmarks", :locals => {:person => person})

      -#%li.tab-panel{:class => ((tab.nil? && tab_index == 0) || tab == "import") ? 'active' : ''}>
        - tab_index += 1
        = partial(:"people/import", :locals => {:person => person})

      - active = ((tab.nil? && tab_index == 0) || tab == "jobs")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}", :class => active ? 'active' : ''}>
        .card.min-height
          = header(:id   => :currentJobs,
                   :text => I18n.t('subheaders.currentJobs'))

          - if person.dashboard_runs.any?
            %ul.runs-list.centered
              - person.dashboard_runs.take(10).each do |run|
                = partial :"runs/list", :locals => {:run => run}
          - else
            %p.centered
              = I18n.t 'common.noJobs'
          %p.show-all-runs-link.centered
            %a#show-all-runs{:href => "/people/#{current_person.id}/runs"}
              = I18n.t 'common.showJobs'
      - active = ((tab.nil? && tab_index == 0) || tab == "storage")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}", :class => active ? 'active' : ''}>
        = partial(:"people/storage", :locals => {})

    - active = ((tab.nil? && tab_index == 0) || tab == "keys")
    %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}", :class => active ? 'active' : ''}>
      = partial(:"people/keys", :locals => {:person => person})
