-# Purpose: Displays the results of the search
-#
-# Locals:	types   - Matching object types
-#			    objects - Matching objects (by keyword search)

- help = nil if not defined?(help)

- if not defined?(pagination)
  - pagination = {:pageIndex => 1,
                  :pageItems => 50}

%h1.search
  %img.large-icon.search{:src => "/images/icons/ui/search.svg"}
  .name
    Results
.bar

.container.results
  .search.sidebar{:class => (query == "" || query.nil? ? "reveal" : false)}
    %form{:action => "/search"}
      %h2
        Search

      %input{:type => :text, :value => query, :name => :query}

      %h2
        Filter

      %h3
        Type

      %ul.facets.type
        - totalTypes = 0
        - (data[:types] || []).take(10).each_with_index do |type, i|
          %li
            %input{:type => :hidden, :name => "search-facet-type-name[#{i}]", :value => type}
            %input{:type => :hidden, :name => "search-facet-type[#{i}]", :value => "off"}
            %label.facet.type{:for => "search-facet-type-#{i}"}
              %input.facet.type{:id => "search-facet-type-#{i}", :name => "search-facet-type[#{i}]", :type => "checkbox", :checked => true}
              - totalTypes = i + 1
              %span.facet.name
                #{type}
        - (data[:excludeTypes] || []).each_with_index do |type, i|
          %li
            %input{:type => :hidden, :name => "search-facet-type-name[#{i+totalTypes}]", :value => type}
            %input{:type => :hidden, :name => "search-facet-type[#{i+totalTypes}]", :value => "off"}
            %label.facet.type{:for => "search-facet-type-#{i+totalTypes}"}
              %input.facet.type{:id => "search-facet-type-#{i+totalTypes}", :name => "search-facet-type[#{i+totalTypes}]", :type => "checkbox", :checked => false}
              %span.facet.name
                #{type}

      %h3
        Environment

      %ul.facets.environments
        - (data[:environments] || []).take(10).each_with_index do |environment, i|
          %li
            %input{:type => :hidden, :name => "search-facet-environment-name[]", :value => environment}
            %label.facet.environment{:for => "search-facet-environment-#{i}"}
              %input.facet.environment{:id => "search-facet-environment-#{i}", :name => "search-facet-environment[]", :type => "checkbox", :checked => true}
              %span.facet.name
                #{environment}

      %h3
        Architecture

      %ul.facets.architectures
        - (data[:architectures] || []).take(10).each_with_index do |architecture, i|
          %li
            %input{:type => :hidden, :name => "search-facet-architecture-name[]", :value => architecture}
            %label.facet.architecture{:for => "search-facet-architecture-#{i}"}
              %input.facet.architecture{:id => "search-facet-architecture-#{i}", :name => "search-facet-architecture[]", :type => "checkbox", :checked => true}
              %span.facet.name
                #{architecture}
  .collapse.left

  - if !types.empty?
    .card.filled.object-types.results
      = header(:id   => :output_types,
               :text => "Object Types",
               :help => I18n.t('help.output'))

      %ul.information.results
        - types.each do |type|
          %li.object
            %h2.type.icon{:"data-object-type" => type[:type] }
              %a{:href => "/search?type=#{type[:type] }"}
                #{type[:type] }
            %p

  - if !objects.empty?
    .card.filled.objects.results
      = header(:id   => :output,
               :text => "Objects",
               :offscreen => true,
               :help => I18n.t('help.searchResults'))

      - if pagination[:pageIndex] && pagination[:pageItems]
        - pagination[:pageCount] = (objects.count.to_f / pagination[:pageItems].to_f).ceil
        - paginationStart = pagination[:pageItems]*(pagination[:pageIndex]-1)
        - paginationEnd   = paginationStart + pagination[:pageItems]
        - objects = objects[paginationStart..paginationEnd-1]

      = partial(:"objects/listview", :locals => {:sidebarButton => true,
                                                 :sidebarRevealed => (query == "" || query.nil?),
                                                 :objects => objects,
                                                 :pagination => pagination})

  - if types.empty? && objects.empty?
    .card.filled
      %p
        No results.
