.card.filled.build
  .description
    .information
      .uuid
        %h2.icon.uuid
          = I18n.t 'subsubheaders.id'
        %p
          #{task.id}
      .history
        %h2.icon.history
          = I18n.t 'subsubheaders.builds.time'
        %p
          #{ChronicDuration.output(build.info[:elapsed].round(2))}
      .date
        %h2.icon.date
          = I18n.t 'subsubheaders.builds.date'
        %p
          #{I18n.l(Time.iso8601(build.info[:published]))}
      .backend
        %h2.icon.backend
          = I18n.t 'subsubheaders.builds.backend'
        %p
          #{build.info[:backend]}

  %ul.tabs.bubble
    %li.tab.active
      %a
        Manifest
    %li.tab
      %a
        Log

  %ul.tab-panels
    %li.tab-panel.active
      = partial(:"objects/task", :locals => {:task => task})
    %li.tab-panel
      .terminal{:"data-object-id"       => object.id,
                :"data-object-revision" => object.revision,
                :"data-build-id"        => task.id,
                :"data-build-revision"  => task.revision,
                :"data-terminal-type"   => :"build-log",
                :"data-account-token"   => current_account ? current_account.token : false}
