- if description || (tags and not tags.empty?) || object.canEdit? || [:source, :license, :publisher, :published, :website, :authors, :environment, :architecture].select{|k| object.info.has_key?(k)}.any?
  .description.centered.perfect-scrollbar<
    .information
      - if object.info[:authors] || object.info[:organization]
        .authors
          %h2.icon.authors
            = I18n.t 'subsubheaders.authors'
          %ul
            - (object.info[:authors] || []).each do |author|
              %li>
                - if isHash(author)
                  - person = Occam::Person.new(:id => author)
                  - if person
                    %a{:href => "/people/#{person.id}"}>
                      #{person.info[:name]}
                  - else
                    #{author}
                - else
                  #{author}
            - if object.info[:organization]
              %li.organization>
                #{object.info[:organization]}
      - if object.info[:publisher]
        .publisher
          %h2.icon.publisher
            = I18n.t 'subsubheaders.publisher'
          %p
            #{object.info[:publisher]}
      - if object.info[:published]
        .published
          %h2.icon.history
            = I18n.t 'subsubheaders.released'
          %p
            #{renderDate(object.info[:published], :format => :long)}
      - if object.info.has_key? :source
        .source
          %h2.icon.source
            = I18n.t 'subsubheaders.source'
          .value
            %a{:href => object.info[:source]}<
              #{object.info[:source]}
      - if object.info.has_key? :website
        .website
          %h2.icon.website
            = I18n.t 'subsubheaders.website'
          .value
            %a{:href => object.info[:website]}<
              #{object.info[:website]}
      - if object.info[:license]
        .license
          %h2.icon.license
            = I18n.t 'subsubheaders.license'
          %ul
            - object.licenses.each_with_index do |license, i|
              %li
                - if license.text
                  %a.modal{:href => object.url(:path => "licenses/#{i.to_s}")}
                    #{license.name}
                - else
                  #{license.name}
      - if object.info.has_key? :environment
        .environment
          %h2.icon.environment
            = I18n.t 'subsubheaders.environment'
          .value
            %span
              #{object.info[:environment]}
              %a.environment{:href => "/search?environment=#{object.info[:environment]}"}<
                %img{:src => object.environmentIconURL(:hex => "b481bd"), :alt => "search for #{object.info[:environment]} environment", :title => "#{object.info[:environment]} environment"}
      - if object.info.has_key? :architecture
        .architecture
          %h2.icon.architecture
            = I18n.t 'subsubheaders.architecture'
          .value
            %span
              #{object.info[:architecture]}

    - if tags and not tags.empty?
      %ul.tags
        - tags.each do |tag|
          %li.tag
            %a{:href => "/objects?by_tag=#{tag}"}
              = tag
            .after
    - if description
      = render_description(description[:text], object, :fenced_code_blocks => true, :path => description[:path])
    - if object.canEdit?
      %p.edit
        %a.modal{:href => object.url(:path => "metadata-editor")}
          Edit Markdown
