- if !defined?(embedIcon)
  - embedIcon = false

- path = object.path if (not defined?(path) or path.nil?)

- if not object.isGroup?(object.path)
  - path = File.dirname(object.path)

.card.filled.reveal.file-list-panel
  %h2.file-listing
    #{I18n.t 'subheaders.listing'} #{path || "/"}

  .file-listing-container.perfect-scrollbar
    = partial(:"objects/filelist", :locals => {:object  => object,
                                               :path    => path,
                                               :embedIcon => embedIcon,
                                               :links   => true})
