- links = false if not defined?(links)
- checkboxes = false if not defined?(checkboxes)
- form_prefix = "" if not defined?(form_prefix)
- selected_paths = [] if not defined?(selected_paths)
- files = nil if not defined?(files)
- header = nil if not defined?(header)
- path = object.path if not defined?(path)

- if not object.isGroup?(object.path)
  - path = File.dirname(object.path)

- if path.nil?
  - path = "/"

- if !defined?(embedIcon)
  - embedIcon = false

%table.file-listing{:class => files.nil? ? "" : "input-sets"}
  %template.file
    %tr.row.file
      %td.icon
        - if embedIcon
          = embed_svg Occam::Object.iconURLFor(:object), :width => "100%", :height => "100%"
        - else
          %img{:src => Occam::Object.iconURLFor(:object)}
      %td.size.value
        0
      %td.size.units
        B
      %td.name.truncate
        %span.name
      %td.revision.truncate
      %td.actions
  - if object.canEdit?
    %tr.row.upload
      %td{:colspan => 999}
        %form{:action => object.url(:path => "files/"), :method => "post", :enctype => "multipart/form-data"}
          %input{:id => :fileToUpload, :name => :fileToUpload, :type => "file"}
          %input{:name => :submit, :id => "fileUploadButton", :type => "submit", :value => "Upload"}

  - if not files.nil?
    %tr.row.header{:hidden => true}
      %td{:colspan => "999"}
        = I18n.t('subheaders.inputSet')
    - files.each_with_index do |paths, group_index|
      - group_base64_id = Base64.urlsafe_encode64(group_index.to_s)
      %tr.row.header
        %td{:colspan => "999"}
          - name = "to_#{form_prefix}[#{group_base64_id}]"
          %input{:type => :hidden, :name => name, :value => "false"}
          %input.checkbox{:type => :checkbox, :name => name, :checked => false}
          %span.name
            = I18n.t('subheaders.inputSet') % group_index.to_s
      - paths.each do |file_path|
        %tr.row.file{:class => [object.fileType(path + "/" + file_path).split('/').map{|type| "mime-#{type}"}.join(' ')]}
          - if checkboxes
            %td.checkbox
              - base64_id = Base64.urlsafe_encode64(file_path)
              - name = "in_#{form_prefix}[#{group_base64_id}][#{base64_id}]"
              %input{:type => :hidden, :name => name, :value => "false"}
              %input.checkbox{:type => :checkbox, :name => name, :checked => true}
          %td.name.truncate
            #{file_path}
    %tr.row.header
      %td{:colspan => "999"}
        - base64_id = Base64.urlsafe_encode64(files.length.to_s)
        - name = "to_#{form_prefix}[#{base64_id}]"
        %input{:type => :hidden, :name => name, :value => "false"}
        %input.checkbox{:type => :checkbox, :name => name, :checked => false}
        %span.name
          = I18n.t('subheaders.newInputSet')
  - else
    - if header
      %tr.row.header
        %td{:colspan => "999"}
          %span.name
            #{header}
    -# Add link to parent directory (..)
    - unless path.nil? || path == "" || path == "/"
      %tr.row.group
        %td.icon
          - if embedIcon
            = embed_svg Occam::Object.iconURLFor(:group, :small => true), :width => "100%", :height => "100%"
          - else
            %img{:src => Occam::Object.iconURLFor(:group, :small => true)}
        - size = to_friendly_filesize(0)
        %td.size.value
          #{size[:value]}
        %td.size.units
          #{size[:units]}
        %td.name{:colspan => "999"}
          - if links
            - if path && path.include?('/')
              %a{:href => object.url(:path => "files/#{path.split('/')[0...-1].join('/')}")}
                \..
            - else
              %a{:href => object.url(:path => "files")}
                \..
          - else
            \..
    - object.eachFile(path, :order => :group, :all => true) do |info|
      - file_path = "#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}"
      - if file_path.start_with?("/")
        - file_path = file_path[1..-1]
      %tr.row{:"data-path" => file_path, :class => [((object.info[:file] == file_path) ? "main" : ""), ((info[:type] == "tree" || (info[:from] || {})[:traversable]) ? "group" : "file"), info[:mime][0].split('/').map{|type| "mime-#{type}"}.join(' ')]}
        - if checkboxes
          %td.checkbox
            - if info[:type] != "tree"
              - base64_id = Base64.urlsafe_encode64(file_path)
              - name = "#{form_prefix}[#{base64_id}]"
              %input{:type => :hidden, :name => name, :value => "false"}
              %input.checkbox{:type => :checkbox, :name => name, :checked => false}
        %td.icon
          - if info[:type] == "tree"
            - if embedIcon
              = embed_svg Occam::Object.iconURLFor(:group, :small => true), :width => "100%", :height => "100%"
            - else
              %img{:src => Occam::Object.iconURLFor(:group, :small => true)}
          - else
            - if info[:mime][0] == "application/octet-stream"
              - info[:mime][0] = "data/extension-#{File.extname(info[:name]).downcase[1..-1]}"
            - if embedIcon
              = embed_svg Occam::Object.iconURLFor(info[:mime][0].split('/')[0], :subtype => info[:mime][0], :small => true), :width => "100%", :height => "100%"
            - else
              %img{:src => Occam::Object.iconURLFor(info[:mime][0].split('/')[0], :subtype => info[:mime][0], :small => true)}
        - size = to_friendly_filesize(info[:size] || 0)
        %td.size.value
          #{size[:value]}
        %td.size.units
          #{size[:units]}
        %td.type
          #{info[:mime][0]}
        %td.name.truncate{:colspan => info[:from] ? false : "2"}
          - if links
            %a{:href => object.url(:path => "files/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :full => true)}<>
              #{info[:name]}
          - else
            #{info[:name]}
        - if info[:from]
          %td.revision.truncate
            %span.revision
              @#{info[:from][:revision]}
        - if links
          %td.actions
            - if info[:type] != "tree"
              .dropdown-menu
                %a{:href => "#"}
                  \...
                %ul.dropdown-menu-options
                  %li>
                    %a.icon.download{:href => object.url(:path => "raw/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :full => true)}>
                      = I18n.t 'common.download'
                  %li>
                    %a.icon.publish{:href => object.url(:path => "publish/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :full => true)}>
                      = I18n.t 'common.publish'
                  %li>
                    %form.icon.associate{:action => object.url(:path => 'files/object.json'), :method => :post}
                      %input{:name => "data[file]", :value => info[:name], :type => :hidden}<
                      %input{:type => "submit", :value => "set as main"}
            - else
              .dropdown-menu
                %a{:href => "#"}
                  \...
                %ul.dropdown-menu-options
                  %li>
                    %a.icon.download{:href => object.url(:path => "files/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :query => {:accept => "application/zip"}, :full => true)}>
                      = I18n.t 'common.downloadZip'
                  %li>
                    %a.icon.publish{:href => object.url(:path => "publish/#{path && path.length > 1 ? "#{path}/" : ""}#{info[:name]}", :full => true)}>
                      = I18n.t 'common.publish'

    -# Add file resources
    - if defined?(workset) and workset and workset.can_edit?(current_person)
      - if object.fileIsGroup?(path)
        %table.directory.information
          %tr.header
            %td{:colspan => "999"}
              = I18n.t 'fields.addFiles'
          %tr.row.add.group
            %td{:colspan => "999"}
              %span.input
                %form{:action => object.url(:path => "/files/#{path}", :full => true), :method => :post}
                  %input{:type => :input, :name => "directory_name"}
                  %input.button{:type => :submit, :value => I18n.t('fields.addNewGroup')}
          %tr.row.add.upload
            %td{:colspan => "999"}
              %span.input
                %form{:action => object.url(:path => "/files/#{path}", :full => true), :method => :post, :enctype=>"multipart/form-data"}
                  %input.file{:type => :file, :name => 'files[]', :multiple => true}
                  %input.button{:type => :submit, :value => I18n.t('common.upload')}
