- if !defined?(files)
  - files = []

- if !defined?(embedIcon)
  - embedIcon = false

.file-viewer
  .card.file-list-panel.reveal.filled.pending{:hidden => true, :"aria-hidden" => "true"}
    %h2
      #{I18n.t 'subheaders.listing'}
    .file-listing-container.loading

  = partial :"objects/directory", :locals => {:object => object, :embedIcon => embedIcon}

  = partial :"objects/filedata", :locals => {:object => object, :files => files, :embedIcon => embedIcon}

  .card.viewer.filled.pending{:hidden => true, :"aria-hidden" => "true"}
    %h2
      %span.collapse
      %span<
        #{I18n.t 'subheaders.data'}
    .empty.loading
