- if !defined?(files)
  - files = []

- if object.path && !object.isGroup?(object.path)
  - files << object.path

- files.map! do |path|
  - viewer = nil
  - data_mime_type = object.fileType(path)
  - views_type = data_mime_type.split("/")[0]
  - views_subtype = data_mime_type
  - viewer = Occam::Object.associationFor({:type    => views_type,
                                           :subtype => views_subtype})
  - viewers = [viewer]
  - if not viewer
    - viewers = Occam::Object.viewersFor(:subtype => views_subtype, :type => views_type)
    - if File.extname(path) != ""
      - viewers.concat(Occam::Object.viewersFor(:subtype => "extension-#{File.extname(path).downcase[1..-1]}", :type => "data"))
    - viewer = viewers[0]
  - if !viewer && object.isText?(path)
    - # text/plain fallback
    - viewers = Occam::Object.viewersFor(:subtype => "text/plain", :type => "text")
    - viewer = viewers[0]
    - if viewer
      - data_mime_type = "text/plain"
  - {:path => path, :viewer => viewer, :viewers => viewers, :mime => data_mime_type}

- if !defined?(embedIcon)
  - embedIcon = false

.card.viewer.filled
  %ul.tabs.file-tabs{:role => "tablist", :"data-panels" => "file-panels", :"data-replace-navigation" => true}
    %span.collapse
      .arrow
    %template
      %li.file-tab.tab{:role => :presentation}
        %a{:href => object.url}>
          %img{:src => '/images/indicators/object.svg'} 
          %img.hover{:src => '/images/indicators/object.svg'} 
          %img.active{:src => '/images/indicators/object.svg'} 
          .label>
            %span.type>
            %span.name>
          %button.inline.delete
            remove
    - files.each_with_index do |file, i|
      %li.tab.file-tab{:role => :presentation, :class => (i == 0) ? "active" : false}>
        %a{:href => object.url(:path => "files#{file[:path]}")}>
          - icon_mime_type = file[:mime]
          - if icon_mime_type == "application/octet-stream"
            - icon_mime_type = "data/extension-#{File.extname(file[:path]).downcase[1..-1]}"
          - if embedIcon
            = embed_svg Occam::Object.iconURLFor(icon_mime_type.split('/')[0], :subtype => icon_mime_type), :width => "32px", :height => "32px"
            = embed_svg Occam::Object.iconURLFor(icon_mime_type.split('/')[0], :subtype => icon_mime_type), :width => "32px", :height => "32px", :class => "hover"
            = embed_svg Occam::Object.iconURLFor(icon_mime_type.split('/')[0], :subtype => icon_mime_type), :width => "32px", :height => "32px", :class => "active"
          - else
            %img{:src => Occam::Object.iconURLFor(icon_mime_type.split('/')[0], :subtype => icon_mime_type, :hue => 190, :sat => 60, :light => 45)}>
            %img.hover{:src => Occam::Object.iconURLFor(icon_mime_type.split('/')[0], :subtype => icon_mime_type, :hue => 190, :sat => 60, :light => 45)}>
            %img.active{:src => Occam::Object.iconURLFor(icon_mime_type.split('/')[0], :subtype => icon_mime_type, :hue => 291, :sat => 31, :light => 62)}>
          .label>
            %span.type>
              #{file[:mime]}
            %span.name>
              #{File.basename(file[:path])}
          %button.inline.delete
            remove
    %li.sidebar.tab.reveal
      %a.icon.run{:href => "#", :title => "Run Queue"}
        Run Queue
        .arrow

  %ul.file-tabs.tab-panels.viewer-container#file-panels
    %template
      %li.tab-panel
        .card.loading.filled
    - files.each_with_index do |file, i|
      %li.tab-panel{:class => (i == 0) ? "active" : false}
        = partial(:"objects/viewer", :locals => {:viewerObject => file[:viewer],
                                                 :view         => "full",
                                                 :file         => file[:path],
                                                 :object       => object,
                                                 :sidebar      => :closed,
                                                 :viewers      => file[:viewers]})
