.card.filled.min-height
  %h2.offscreen
    = I18n.t('subheaders.history')

  %ul.history.centered
    - if object.retrieveHistory
      - object.retrieveHistory.each do |commit|
        %li.commit
          %p.date
            %a{:href => object.url(:revision => commit[:revision])}
              - if commit[:date].is_a?(Date) or commit[:date].is_a?(DateTime)
                %time{:datetime => commit[:date].iso8601}
                  #{I18n.l commit[:date], :format => :long}
              - else
                #{commit[:date]}
          %p.name
            Author:
            %span.author
              #{commit[:author]}
          %p.message
            #{commit[:message]}
    - else
      No History
