- images = object.info[:images] || []
- if images.any?
  .card.filled.gallery
    .flexbox
      %ul.preview
        - images.each_with_index do |image, i|
          %li.preview.image{:id => "gallery-image-#{i}"}
            %a{:href => object.url(:path => "raw/#{image}"), :"data-lightbox" => "images-#{object.id}"}
              %img{:src => object.url(:path => "raw/#{image}")}
      - if images.count > 1
        %ul.thumbs.perfect-scrollbar>
          - images.each_with_index do |image, i|
            %li.thumb.image{:id => "gallery-image-thumb-#{i}"}>
              %a{:href => "#gallery-image-#{i}"}>
                %img{:src => object.url(:path => "raw/#{image}")}
-# if images.any?
  .card.filled
    %table.images
      %tr
        - if images.length > 0
          %td{:rowspan => 2, :colspan => 2}
            %a{:href => object.url(:path => "raw/#{images[0]}"), :"data-lightbox" => "images-#{object.id}"}
              %img{:src => object.url(:path => "raw/#{images[0]}")}
        - if images.length > 1
          %td
            %a{:href => object.url(:path => "raw/#{images[1]}"), :"data-lightbox" => "images-#{object.id}"}
              %img{:src => object.url(:path => "raw/#{images[1]}")}
      - if images.length > 2
        %tr
          %td
            %a{:href => object.url(:path => "raw/#{images[2]}"), :"data-lightbox" => "images-#{object.id}"}
              %img{:src => object.url(:path => "raw/#{images[2]}")}
      - if images.length > 3
        %tr
          %td
            %a{:href => object.url(:path => "raw/#{images[3]}"), :"data-lightbox" => "images-#{object.id}"}
              %img{:src => object.url(:path => "raw/#{images[3]}")}
          - if images.length > 4
            %td
              %a{:href => object.url(:path => "raw/#{images[4]}"), :"data-lightbox" => "images-#{object.id}"}
                %img{:src => object.url(:path => "raw/#{images[4]}")}
          - if images.length > 5
            %td
              %a{:href => object.url(:path => "raw/#{images[5]}"), :"data-lightbox" => "images-#{object.id}"}
                %img{:src => object.url(:path => "raw/#{images[5]}")}
