-# Presents a paginated list of objects
-# Locals: objects  - either an array of Occam::Object (or a relation) or an
-#                    array of object infomation (array of hashes).
-#         noneText - Text to display when the list is empty. Can be omitted.
-#              url - The url to direct pagination to.

- if !defined?(url) || url.nil?
  - url = ""

- if !defined?(noneText) || noneText.nil?
  - noneText = I18n.t('common.none')

- if !defined?(pagination) || pagination.nil?
  - pagination = {:pageIndex => 1,
                  :pageItems => 30}

- if !defined?(sidebarButton)
  - sidebarButton = false

- if !defined?(sidebarRevealed)
  - sidebarRevealed = false

-#= partial(:"objects/pagination", :locals => {:pageIndex => pagination[:pageIndex],
                                             :pageCount => pagination[:pageCount],
                                             :pageItems => pagination[:pageItems],
                                             :url       => url})
%nav.list-view-options
  %ul.tabs.bubble
    - if sidebarButton
      %li.sidebar.tab{:class => (sidebarRevealed ? "reveal" : false)}
        %a.icon.facets{:href => "#"}
          Show Sidebar
          .arrow
    %li.tab
      %a.icon.list-view{:href => "#"}
        List View
    %li.tab.active
      %a.icon.list-preview{:href => "#"}
        Preview

%ul.tab-panels
  = partial(:"objects/listview/panels", :locals => {:pagination => pagination,
                                                    :objects    => objects,
                                                    :noneText   => noneText})
