.top-details
  .top-gallery{:class => (object.info[:images] ? false : "no-images")}
    = partial(:"objects/description", :locals => {:description => object.description,
                                                  :tags        => object.info[:tags],
                                                  :object      => object})

    = partial(:"objects/images", :locals => {:object => object})

- if object.generators.any?
  .card.filled
    %h2
      = I18n.t 'subsubheaders.generated'

    = partial(:"objects/object_list", :locals => {:object  => object,
                                                  :objects => object.generators.reverse})

- if object.versions.any?
  .card.filled
    %h2
      = I18n.t 'subheaders.versions'

    .objects-container
      %ul.objects.perfect-scrollbar
        - object.versions.each do |k, v|
          %li.object
            %a{:href => object.url(:revision => v)}
              %img{:src => object.iconURL}
              %p.version
                #{k}
              %p.name
                #{object.info[:name]}

= partial(:"objects/related", :locals => {:object => object})

- if object.includes.any?
  .card.filled
    %h2
      = I18n.t 'subsubheaders.includes'

    = partial(:"objects/object_list", :locals => {:object  => object,
                                                  :objects => object.includes})

- if object.dependencies.any?
  .card.filled
    %h2
      = I18n.t 'subsubheaders.dependencies'

    = partial(:"objects/object_list", :locals => {:object => object,
                                                  :objects => object.dependencies})

- if object.info[:install] && object.info[:install] != []
  .card.filled
    %h2
      = I18n.t 'subheaders.resources'

    = partial(:"objects/resources", :locals => {:object      => object,
                                                :object_info => object.info})

- if object.info[:build]
  .card.filled.metadata
    %h2
      = I18n.t 'subheaders.build'

    - [:command, :script].each do |key|
      - if object.info[:build][key]
        %h3
          #{I18n.t("subsubheaders.#{key.to_s}")}

        %ul.command
          - command = object.info[:build][key]
          - if not command.is_a?(Array)
            - command = [command]
          - command.each do |token|
            %li
              %code
                #{token}

    - if object.dependencies(:build).any?
      %h3
        = I18n.t 'subsubheaders.dependencies'

      = partial(:"objects/object_list", :locals => {:object  => object,
                                                    :objects => object.dependencies(:build)})

    - if object.info[:build][:install] && object.info[:build][:install] != []
      %h3
        = I18n.t 'subheaders.resources'

      = partial(:"objects/resources", :locals => {:object => object,
                                                  :object_info => object.info[:build]})

- if object.info[:run]
  .card.filled.metadata
    %h2
      = I18n.t 'subheaders.run'

    - [:command, :script].each do |key|
      - if object.info[:run][key]
        %h3
          #{I18n.t("subsubheaders.#{key.to_s}")}

        %ul.command
          - command = object.info[:run][key]
          - if not command.is_a?(Array)
            - command = [command]
          - command.each do |token|
            %li
              %code
                #{token}

    - if object.dependencies(:run).any?
      %h3
        = I18n.t 'subsubheaders.dependencies'

      = partial(:"objects/object_list", :locals => {:object  => object,
                                                    :objects => object.dependencies(:run)})

= partial(:"objects/share", :locals => {:object => object})

-#= partial(:"objects/information", :locals => locals)

-# Citations
= partial(:"objects/citation", :locals => {:object => object})

-# Social
.card.filled
  %h2
    = I18n.t 'subheaders.social'

  %p.centered
    %a{:href => object.url(:path => "/social"), :"data-sidebar" => "social"}
      = I18n.t 'social.showComments'
