.objects-container
  %ul.objects.perfect-scrollbar
    - objects.each do |subObject|
      %li.object
        %a{:href => subObject.url(:short => true)}
          %img{:src => subObject.iconURL}
          %p.type
            #{subObject.shortType}
          %p.name
            #{subObject.info[:name]}
    -# if object.canEdit?
      %li.add
        %a
