- return
- revisions = object.revisionsFor('builds') || []
%ul.builds{:class => (revisions.nil? or revisions.empty?) ? "empty" : ""}
  - if revisions.nil? or revisions.empty?
    %p.empty
      = I18n.t 'common.noBuilds'
  - else
    - revisions.each do |buildRevision|
      - builds = Occam::Object.new(:id => object.id, :revision => buildRevision).notes('builds') || {}
      %li.revision
        %h3
          #{buildRevision}
        %li
          - builds.each do |key, value|
            - if key == :ids
              - next
            #{key}
            %table
              %thead
                %tr
                  %td
                    Date
                  %td
                    = I18n.t 'subsubheaders.builds.host'
                  %td
                    = I18n.t 'subsubheaders.builds.time'
                  %td
                    = I18n.t 'subsubheaders.builds.result'
                  %td
                    = I18n.t 'subsubheaders.builds.backend'
              %tbody
                - value.each do |item|
                  - build = item[:value] || {}
                  %tr
                    %td
                      #{I18n.l(Time.iso8601(build[:date]))}
                    %td
                      - if build.has_key?(:origin)
                        #{build[:origin][:host]}:#{build[:origin][:port]}
                    %td
                      #{ChronicDuration.output(build[:time].round(2))}
                    %td
                      #{build[:success] ? "Successful" : "Failure"}
                    %td
                      #{build[:backend]}
