- if (object.info[:related] && object.info[:related] != []) || object.included? || object.clone?
  .card.filled.related
    %h2
      = I18n.t 'subheaders.related'

    .objects-container
      %ul.objects.related
        -# Add any sibling objects
        - if object.clone?
          %li.object
            %a{:href => object.clonedFrom.url}
              %p.relation
                clone of
              %img{:src => object.clonedFrom.iconURL}
              %p.type
                #{object.clonedFrom.shortType}
              %p.name
                #{object.clonedFrom.info[:name]}

        - object.related.each do |related|
          %li.object
            %a{:href => related.url(:short => true)}
              %p.relation
                #{related.info[:relation]}
              %img{:src => related.iconURL}
              %p.type
                #{related.shortType}
              %p.name
                #{related.info[:name]}

        -# Add a link to the parent
        - if object.contained?
          %li.object
            %a{:href => object.parent.url}
              %p.relation
                parent
              %img{:src => object.parent.iconURL}
              %p.type
                #{object.parent.shortType}
              %p.name
                #{object.parent.info[:name]}

        -# Add any sibling objects
        - if object.included?
          %li.object
            %a{:href => object.owner.url}
              %p.relation
                within
              %img{:src => object.owner.iconURL}
              %p.type
                #{object.owner.shortType}
              %p.name
                #{object.owner.info[:name]}
          - object.owner.includes.each do |sibling|
            - if sibling.id != object.id
              %li.object
                %a{:href => sibling.url}
                  %p.relation
                    packaged with
                  %img{:src => sibling.iconURL}
                  %p.type
                    #{sibling.shortType}
                  %p.name
                    #{sibling.info[:name]}
        -# if object.canEdit?
          %li.add
            %a
