- objects.each do |subObject|
  - resource = false
  - if subObject[:type] == "resource"
    - resource = true
    - subObject[:type] = subObject[:subtype]
    - subObject[:type] = subObject[:subtype].split('/')[0] if subObject[:subtype].include?('/')
  - subObject = Occam::Object.new(:account => object.account, **subObject, :info => subObject)
  %li.object
    %a{:href => subObject.url}
      %p.relation
        #{subObject.info[:to]}
      %img{:src => subObject.iconURL}
      %p.type
        #{subObject.shortType}
      %p.name
        #{subObject.info[:name]}
      %p.source
        #{subObject.info[:source]}
    - if subObject.info[:subtype] == "git"
      %a.copy{:href => "#", :alt => I18n.t('tooltips.copy'), :title => I18n.t('tooltips.copy'), :"data-url" => "#"}>
        = I18n.t 'common.copy'
    - else
      %a.download{:href => object.url(:path => "raw/#{subObject.info[:to]}"), :alt => I18n.t('common.download'), :title => I18n.t('common.download')}
        = I18n.t 'common.download'
  - if subObject.info.has_key?(:install)
    = partial(:"objects/resource", :locals => {:object  => object,
                                               :objects => subObject.info[:install]})
