- objects = object_info[:install]
.objects-container
  %ul.objects.perfect-scrollbar
    = partial(:"objects/resource", :locals => {:object  => object,
                                               :objects => objects})
    -# if object.canEdit?
      %li.add
        %a
          Add
