-# Locals:
-#   workset - The current Workset in question
-#      help - Which help section is current toggled

- if object.canEdit?
  .card.min-height.filled
    %h2.offscreen
      = I18n.t('subheaders.reviewLinks')
    %a.help-bubble{:href => "?help=review"}
      = I18n.t('alt-text.help')

    .help{:hidden => !(object.review_capabilities.empty? or help == "review")}
      = render(:markdown, I18n.t('help.reviewLinks'))

    %ul.review-links
      - object.review_capabilities.each do |review_capability|
        %li.review-link
          .meta-data
            %form{:action => "/objects/#{object.id}/#{object.revision}/review-links/#{review_capability.id}", :method => :post, :name => :remove_review_link}
              %input{:type => :hidden, :value => 'delete', :name => :_method}
              %input.delete{:type => :submit, :value => "remove"}
            %span.date
              #{I18n.l review_capability.published.to_date, :format => :long}
            %span.revision
              #{review_capability.revision[0...6]}...
          %a{:href => object.url(:path => "?review", :revision => review_capabilitiy.revision)}
            = I18n.t 'common.sharableLink'
    %form{:action => "/objects/#{object.id}", :method => :post}
      %input{:type=>:hidden, :name => :review, :value => object.revision}
      %input.button{:type => :submit, :value => I18n.t('fields.addReviewLink')}
