- if !defined?(preferredRunner) || preferredRunner.nil?
  - preferredRunner = object

- if !defined?(runners) || runners.nil?
  - runners = []

= partial(:"objects/viewer", :locals => {:viewerObject => preferredRunner,
                                         :label        => I18n.t('object-selection.running'),
                                         :view         => view,
                                         :object       => object,
                                         :running      => true,
                                         :viewers      => runners,
                                         :help         => defined?(help) ? help : ""})
