- if defined?(build)
  %li{:"data-status" => "done", :"data-task-id" => build.id}
    .before
    %a{:href => "#"}
      %span.status
        .dot
        .dot
        .dot
      %span.date
        = I18n.l(DateTime.iso8601(build.info[:published]), :format => :long)
- else
  %li{:"data-status" => run.info[:finishTime] ? "done" : (run.info[:failureTime] ? "failed" : "running"), :"data-run-id" => run.is_a?(Occam::Run) ? run.info[:id] : false, :"data-job-id" => run.is_a?(Occam::Job) ? run.info[:id] : false}
    .before
    %a{:href => "#"}
      %span.status{:class => (run.is_a?(Occam::Run) || run.info[:kind] == "run" ? "run" : "job")}
        - unless run.is_a?(Occam::Run) || run.info[:kind] == "run"
          %img.icon{:src => object.iconURL(:hex => "ffffff")}
          %img.icon.inactive{:src => object.iconURL(:hex => "b3b3b3")}
        .dot
        .dot
        .dot
      - if run.is_a?(Occam::Job) && run.info[:kind] != "run"
        %span.type
          #{object.info[:type]}
        %span.name
          #{object.info[:name]}
      - else
        %span.date
          = I18n.l(DateTime.iso8601(run.info[:queueTime]), :format => :long)
    %ul.actions
      - unless run.is_a?(Occam::Run)
        %li.fullscreen
          %button{:title => "go to fullscreen", :alt => "go to fullscreen"}
            fullscreen
      %li.delete{:hidden => !run.info[:finishTime].nil?}>
        - if run.is_a?(Occam::Run)
          %form{:action => object.url(:path => "runs/#{run.id}/cancel", :full => true), :method => :post, :name => :"cancel-run"}>
            %input{:type => :hidden, :value => 'post', :name => :_method}>
            %input.delete.cancel.link{:type => :submit}>
        - else
          %form{:action => object.url(:path => "jobs/#{run.id}/cancel", :full => true), :method => :post, :name => :"cancel-job"}>
            %input{:type => :hidden, :value => 'post', :name => :_method}>
            %input.delete.cancel.link{:type => :submit}>
