- if !defined?(sidebar)
  - sidebar = nil

-# Embedded views override the sidebar visibility
- if current_layout.view == :embed || current_layout.view == :minimal
  - sidebar = :closed

- if !defined?(label)
  - label = I18n.t('object-selection.using')

- if !defined?(runs)
  - runs = []

- nativeText  = false
- if input
  - if input.path && input.isText?(input.path)
    - nativeText  = true

- viewing = nativeText || (!running && !viewer.nil? && viewer.info[:architecture] == "javascript")
.run-viewer
  -# Shows and hides the runlist
  .collapse.right{:class => (viewing || sidebar == :closed ? "reveal" : "")}
  %nav.right-panel{:"aria-labelledby" => "run-list-heading", :"data-panel-type" => "queue"}
    %h2.sr-only#run-list-heading
      #{I18n.t("headers.runList")}
    %template.run-item.workflow-run
      %li
        .before
        %a{:href => "#"}
          %span.status
            .dot
            .dot
            .dot
          %span.date
    %template.run-item.running
      %li
        .before
        %a{:href => "#"}
          %span.status
            %img.icon{:"data-hex" => "ffffff"}
            %img.icon.inactive{:"data-hex" => "b3b3b3"}
            .dot
            .dot
            .dot
          %span.type
          %span.name
    %template.run-item.viewing
      %li
        .before
        %a{:href => "#"}
          %span.status
            %img.icon{:"data-hex" => "ffffff"}
            %img.icon.inactive{:"data-hex" => "b3b3b3"}
            .dot
            .dot
            .dot
          %span.type
          %span.name
        %ul.actions
          %li.view
            %button{:title => "view", :alt => "view"}
              view
          %li.configure
            %button{:title => "configure", :alt => "configure"}
              configure
          %li.fullscreen
            %button{:title => "go to fullscreen", :alt => "go to fullscreen"}
              fullscreen
          %li.delete
            %button{:title => "shutdown", :alt => "shutdown"}
              shutdown
    %ul.runs.perfect-scrollbar
      %li.queue{:class => (!viewing ? "active" : "")}
        .before
        %a{:href => "#"}
          %span.status
          %span.text
            = I18n.t('common.enqueue')
      - if object.info[:type] == "experiment" || object.info[:type] == "workflow"
        - Occam::Workflow.new(:id       => object.id,
                              :revision => object.revision,
                              :account  => current_account).runs.reverse.each_with_index do |run, i|
          = partial(:"objects/run-list-item", :locals => {:run => run, :object => object})
      - if viewing
        %li{:"data-status" => "viewing", :"data-viewer-id" => "0", :class => "active", :"data-object-id" => object.id, :"data-object-revision" => object.revision}
          .before
          %a{:href => "#"}
            %span.status
              %img.icon{:src => object.iconURL(:hex => "ffffff")}
              %img.icon.inactive{:src => object.iconURL(:hex => "b3b3b3")} 
              .dot
              .dot
              .dot
            %span.type
              #{object.info[:type]}
            %span.name
              #{object.info[:name]}
          %ul.actions
            %li.view
              %button{:title => "view", :alt => "view"}
                view
            %li.configure
              %button{:title => "configure", :alt => "configure"}
                configure
            %li.fullscreen
              %button{:title => "go to fullscreen", :alt => "go to fullscreen"}
                fullscreen
            %li.delete
              %button{:title => "shutdown", :alt => "shutdown"}
                shutdown
      - runs.each do |run|
        = partial(:"objects/run-list-item", :locals => {:run => run, :object => object})
      - if object.buildable? && !object.path
        -# List previous builds of this object
        %h3.header
          Builds
        - if object.builds.empty?
          %p
            No previous builds.
        - object.builds.reverse.each do |build|
          = partial(:"objects/run-list-item", :locals => {:build => build, :object => object})
  -# Configuration panel
  .configuration
    .configuration-panel.card.filled
      = header(:id   => :options,
               :text => I18n.t('subheaders.configuration'),
               :help => I18n.t('help.configuration'))

      %button.close.button
        close

      %ul.panes
        - if viewer
          = partial(:"objects/configuration_pane", :locals => {:object => viewer})

  -# The run form is the place to queue new runs
  .pending
    .card
      .loading
      %p
        Generating tasks and queuing jobs...
  .run-vnc{:hidden => true}
    #noVNC_status_bar.noVNC_status_bar{:hidden => true}
      #noVNC_status
        Press 'Start' to request a session.
      #noVNC_buttons{:hidden => true}
        %span#noVNC_xvp_buttons
          %input#sendCtrlAltDelButton{:type => :button, :value => "CtrlAltDel"}
          %input#xvpShutdownButton{   :type => :button, :value => "Shutdown"}
          %input#xvpRebootButton{     :type => :button, :value => "Reboot"}
          %input#xvpResetButton{      :type => :button, :value => "Reset"}
          %input#pointerLockButton{   :type => :button, :value => "Pointer Lock"}

    #noVNC_container
      %input.button#stream_connect_button{:type => :button, :value => "Start"}
      %canvas#noVNC_canvas{:width =>"0", :height => "0"}
        Canvas support is required for this capability.
  .run-form{:class => (viewing ? "" : "active")}
    - if object.info[:images]
      .image
        %img{:src => object.url(:path => "raw/#{object.info[:images][0]}")}
    .card
      .information
        - if object.info[:type] != "experiment"
          .row{:hidden => !running}
            %h2
              Phase
            %p
              %select.phase-selector.selector<
                - if object.runnable?
                  %option{:"data-class" => "run", :selected => true}<
                    run
                - if object.buildable?
                  %option{:"data-class" => "build"}<
                    build
          - if !running
            .row
              %h2
                #{label}
              %p.widget-selection
                - if defined?(input) && !input.nil? && input.id != viewer.id
                  %input.auto-complete.views-type{:name     => "views-type",
                                                  :disabled => true,
                                                  :value    => (!running ? input.info[:type] : ""),
                                                  :hidden   => true}
                  %input.auto-complete.provides-environment{:name     => "provides-environment",
                                                            :disabled => true,
                                                            :value    => (running ? input.info[:environment] : ""),
                                                            :hidden   => true}
                  %input.auto-complete.provides-architecture{:name     => "provides-architecture",
                                                             :disabled => true,
                                                             :value    => (running ? input.info[:architecture] : ""),
                                                             :hidden   => true}
                - else
                  %input.auto-complete.views-type{:name     => "views-type",
                                                  :disabled => true,
                                                  :value    => (!running ? object.info[:type] : ""),
                                                  :hidden   => true}
                  %input.auto-complete.provides-environment{:name     => "provides-environment",
                                                            :disabled => true,
                                                            :value    => (running ? object.info[:environment] : ""),
                                                            :hidden   => true}
                  %input.auto-complete.provides-architecture{:name     => "provides-architecture",
                                                             :disabled => true,
                                                             :value    => (running ? object.info[:architecture] : ""),
                                                             :hidden   => true}
                %input{:type   => :hidden,
                       :hidden => true,
                       :name   => "object-id",
                       :value  => viewer.id}
                %input{:type   => :hidden,
                       :hidden => true,
                       :name   => "object-revision",
                       :value  => viewer.revision}
                %input.large-icon.auto-complete{:autocomplete       => "off",
                                                :name               => "name",
                                                :placeholder        => I18n.t('fields.placeholders.selectObject'),
                                                :value              => (defined?(viewer) && viewer) ? viewer.info[:name] : "",
                                                :"data-object-type" => viewer.info[:type],
                                                :"data-object-name" => viewer.info[:name],
                                                :"data-revision"    => viewer.revision,
                                                :style => "background-image: url('#{viewer.iconURL}')"}
          .row
            %h2
              Backend
            %p
              - if viewer
                - javascript = viewer.supports?("html", "javascript")
                - docker     = viewer.backends.include?("docker")
              - else
                - javascript = (running && input.canRunInBrowser?) || input.canViewInBrowser?
                - docker     = input.viewingBackends.include?("docker")
              %select.backend-selector.selector{:"data-node-type" => "occam"}<
                %option{:"data-class" => "any"}<
                  any
                %option{:"data-class" => "javascript",
                        :"data-environment" => "html",
                        :"data-architecture" => "javascript",
                        :"data-run-type" => "client",
                        :selected => javascript,
                        :hidden => !javascript}<
                  javascript (client)
                %option{:"data-class" => "docker",
                        :"data-backend" => "docker",
                        :"data-run-type" => "server",
                        :"data-capabilities" => "vnc",
                        :selected => !javascript && docker,
                        :hidden => !docker}
                  docker (server, vnc)
                - if local_request?
                  %option
                    local (native)
        .row
          %h2
            Dispatch To
          %p
            %select.dispatch-selector.selector{:"data-node-type" => "occam"}<
              %option{:"data-class" => "occam"}
                #{request.host}
              -#%option{:"data-class" => "aptlab"}
                apt
        -#.row
          %h2
            URL:
          %p
            %input{:type => :text, :name => "url", :value => "", :placeholder => "ssh://username@example.org"}

      .buttons
        - eula = false
        - if object.eula
          - eula = object.eula.index

        - if defined?(input) && !input.nil?
          %input.start-run.button{:type => :button,
                                  :name => "run",
                                  :"data-object-id" => viewer.id,
                                  :"data-object-revision" => viewer.revision,
                                  :"data-input-id" => input.id,
                                  :"data-input-revision" => input.revision,
                                  :"data-input-file" => file,
                                  :"data-eula-index" => eula,
                                  :value => I18n.t('common.run')}
        - else
          %input.start-run.button{:type => :button,
                                  :name => "run",
                                  :"data-object-id" => object.id,
                                  :"data-object-revision" => object.revision,
                                  :"data-input-file" => file,
                                  :"data-eula-index" => eula,
                                  :value => I18n.t('common.run')}
  - if !viewer.nil? && viewer.info[:architecture] == "javascript"
    .viewer{:class => (running ? "" : "active"), :"data-viewer-id" => "0"}
      .card.filled.object-viewer.separator-resize
        - viewer.info(true)
        - sandbox = "allow-pointer-lock allow-scripts"
        - if viewer.trusted?
          - sandbox = false
        - iframeSrc = viewer.url(:path => "raw/#{viewer.info[:file]}", :full => true) #, :query => {"_occam_tokens" => "foo,bar"})

        - if !defined?(width)
          - width  = "100%"
          - height = "100%"

        - viewerSize = viewer.info[:size]

        - if !defined?(resizeToAspectRatio)
          - resizeToAspectRatio = true

        - if !defined?(height) || resizeToAspectRatio
          - if viewerSize && width.is_a?(Integer)
            - height = (viewerSize['height'] || 400).to_i * width / (viewerSize['width'] || 450).to_i

        - if !defined?(scale)
          - scale = 1.0

        - baseWidth = width
        - baseHeight = height

        - if width.is_a? Integer
          - baseWidth = "#{baseWidth}px"
          - width = width * scale
          - width = "#{width}px"

        - if height.is_a? Integer
          - baseHeight = "#{baseHeight}px"
          - height = height * scale
          - height = "#{height}px"
        - if !defined?(file)
          - file = nil
        - src = iframeSrc
        - if running
          - src = ""
        - if input
          %iframe.fill.full-widget.separator-resize{:style => "overflow: hidden; width: #{width}; height: #{height}; display: block;", :sandbox=>sandbox, :src => src, :"data-src" => iframeSrc, :"data-input-object-id" => input.id, :"data-input-object-type" => input.info[:type], :"data-input-object-revision" => input.revision, :"data-input-file" => file, :"data-token" => encrypt_token}
        - else
          %iframe.fill.full-widget.separator-resize{:style => "overflow: hidden; width: #{width}; height: #{height}; display: block;", :sandbox=>sandbox, :src => src, :"data-src" => iframeSrc, :"data-token" => encrypt_token}
      .card.filled.separator
      .card.filled.no-resize
        .panel-selector
          %select.selector
            %option
              Pane 1
            %option
              Pane 2
            %option
              Pane 3
  %template.task
    .task-panel.loading
  %template.viewer
    .viewer
      .card.filled.object-viewer.separator-resize
        - sandbox = "allow-pointer-lock allow-scripts"
        - sandbox = false
        %iframe.fill.full-widget.separator-resize{:style => "overflow: hidden; width: 100%; height: 100%; display: block;", :sandbox=>sandbox, :"data-token" => encrypt_token}
      .card.filled.separator
      .card.filled.no-resize
        .panel-selector
          %select.selector
            %option
              Pane 1
            %option
              Pane 2
            %option
              Pane 3
  %template.event{:"data-type" => "port"}
    %li.event.port
      %span.scheme{:hidden => true}<
        #{request.scheme}
      %span.host{:hidden => true}<
        #{request.host}
      %p
        Port opened at
        %a{:href => "", :target => "_blank", :rel => "noopener noreferrer"}
  %template.terminal
    .job-panel
      %ul.events
      .terminal
      %iframe{:hidden => true}
  %template.workflow
    %ul.workflows
      %li
        %occam-workflow
          = partial(:"workflows/job_sidebar", :locals => {})
          %template.job-terminal
            .terminal.job-viewer{:"data-account-token" => current_account ? current_account.token : false,
                                 :"data-terminal-type" => :logs}
          %ul.connections
