.card.filled.share
  %h2
    = I18n.t 'subheaders.share'

  .share-container
    %ul.share
      %li.share
        %a.perma-link{:href => object.url(:full => true)}>
          %img{:src => "/images/icons/metadata/url.svg"}
          %p
            link
        %a.copy{:href => object.url(:full => true), :alt => I18n.t('tooltips.copy'), :title => I18n.t('tooltips.copy'), :"data-url" => object.url(:full => true)}>
          = I18n.t 'common.copy'
      %li.share
        %a.embed-link{:href => object.url(:full => true, :query => {"embed" => true})}>
          %img{:src => "/images/icons/metadata/embed-url.svg"}
          %p
            embed link
        %a.copy{:href => object.url(:full => true, :query => {"embed" => true}), :alt => I18n.t('tooltips.copy'), :title => I18n.t('tooltips.copy'), :"data-url" => object.url(:full => true, :query => {"embed" => true})}>
          = I18n.t 'common.copy'
      %li.share
        %a.qr.modal{:href => object.url(:path => "qrcode.png")}>
          %img{:src => "/images/icons/metadata/qrcode.svg"}
          %p
            #{I18n.t "common.generate"}
