-# Partial: renders the full metadata for an object, such as a Simulator

- layout = current_layout
- if not defined?(workset)
  - workset = nil

%ul.card-tabs.tabs.centered{:role => "tablist", :"data-panels" => "main-panels", :"data-push-navigation" => true}
  - tab_index = 0

  -# Page <#>
  - if object.info[:pages] && object.info[:pages].is_a?(Array) && object.info[:pages].length > 0
    - object.info[:pages].each_with_index do |page, page_index|
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "page-#{page_index}")
      %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
        %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url("page-#{page_index}"), :"data-pjax" => active ? "complete" : "true"}>
          - tab_index += 1
          #{page[:title] || I18n.t('tabs.page') % page_index}

  -# Pages
  - if object.info[:type] == 'paper' && workset && workset.canEdit?
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "pages")
    %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "pages")}>
        - tab_index += 1
        = I18n.t 'tabs.pages'

  -# Workflow
  - if object.info[:type] == "experiment"
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "workflow")
    %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      - tab_index += 1
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "workflow")}>
        = I18n.t 'tabs.workflow'

  -# Contents
  - if (["workset", "group"].include?(object.info[:type])) || (object.info[:contains] && object.info[:contains].any?)
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "contents")
    %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      - tab_index += 1
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "contents")}>
        = I18n.t 'tabs.contents'

  -# View
  - if !defined?(viewers)
    - viewers = object.viewers

  - if !defined?(preferredViewer) or preferredViewer.nil?
    - if viewers.any?
      - preferredViewer = viewers.first

  - if viewers.any? || object.info[:environment] == "html"
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "view")
    %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      - tab_index += 1
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "view")}>
        = I18n.t 'tabs.view'

  -# Metadata
  - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "metadata")
  %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}
    - tab_index += 1
    %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "metadata")}>
      = I18n.t 'tabs.details'

  -# Run
  - if object.info[:run] || object.info[:build] || object.info[:type] == 'experiment'
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "run")
    %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      - tab_index += 1
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "run")}>
        = I18n.t 'tabs.run'

  -# Provenance
  - if object.info[:type] == "occam/task" || object.info.has_key?('generator')
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "provenance")
    %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      - tab_index += 1
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "provenance")}>
        = I18n.t 'tabs.provenance'

  -# Files
  - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "files")
  %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
    - tab_index += 1
    %a{:id => "tab-#{tab_index}", :role => :tab, :"data-pjax" => (!active).to_s, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "files")}>
      = I18n.t 'tabs.files'

  -# Output
  - if object.info.has_key?(:outputs) || object.info[:type] == "experiment"
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "output")
    %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      - tab_index += 1
      %a{:id => "tab-#{tab_index}", :role => :tab, :"data-pjax" => (!active).to_s, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "output")}>
        = I18n.t 'tabs.output'

  -# Build
  -# if object.info[:build]
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "build")
    %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      - tab_index += 1
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "build")}>
        = I18n.t 'tabs.build'

    -# Console
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "console")
    %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      - tab_index += 1
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "console")}>
        = I18n.t 'tabs.console'

  -# History
  - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "history")
  %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
    - tab_index += 1
    %a{:id => "tab-#{tab_index}", :role => :tab, :"data-pjax" => (!active).to_s, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "history")}>
      = I18n.t 'tabs.history'

  - # Access
  - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "access")
  %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
    - tab_index += 1
    %a{:id => "tab-#{tab_index}", :role => :tab, :"data-pjax" => (!active).to_s, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "access")}>
      = I18n.t 'tabs.access'

  -# Administration
  - if current_account && current_account.hasRole?("administrator")
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "admin")
    %li.card-layout.tab.tab{:role => :presentation, :class => active ? 'active' : ''}>
      - tab_index += 1
      %a{:id => "tab-#{tab_index}", :role => :tab, :"aria-controls" => "tab-panel-#{tab_index}", :"aria-selected" => active.to_s, :href => object.url(:path => "admin")}>
        = I18n.t 'tabs.admin'

.sub-pjax-progress

.container
  .social.sidebar.loading
  .collapse.left
  %ul.tab-panels#main-panels
    - tab_index = 0

    -# Page <#>
    - if object.info[:pages] && object.info[:pages].is_a?(Array) && object.info[:pages].length > 0
      - object.info[:pages].each_with_index do |page, page_index|
        - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "page-#{page_index}")
        %li.page.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : 'unloaded'}>
          - if active
            = partial :"objects/page", :locals => {:page_index  => page_index,
                                                   :object      => object,
                                                   :page_info   => page,
                                                   :items       => page[:items],
                                                   :workset     => workset}
          - else
            .card
              .loading
          - tab_index += 1

    -# Pages
    - if object.info[:type] == 'paper' && workset && workset.canEdit?
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "pages")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
        = partial :"objects/pages", :locals => {:object => object, :workset => workset, :help => help}
        - tab_index += 1

    -# Workflow
    - if object.info[:type] == "experiment"
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "workflow")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
        - tab_index += 1
        = partial :"objects/workflow", :locals => {:reviewing => reviewing, :workset => workset, :experiment => object, :object => object, :groups => object.groups, :experiments => object.experiments, :help => help, :head_view => false}

    -# Contents
    - if (["workset", "group"].include?(object.info[:type])) || (object.info[:contains] && object.info[:contains].any?)
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "contents")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
        - tab_index += 1
        = partial :"objects/contents", :locals => {:reviewing => reviewing, :workset => workset, :object => object, :groups => object.groups, :experiments => object.experiments, :help => help, :head_view => false}

    -# View
    - if viewers.any? || object.info[:environment] == "html"
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "view")
      %li.tab-panel.run{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
        - tab_index += 1
        = partial :"objects/view", :locals => {:view            => view,
                                               :preferredViewer => preferredViewer,
                                               :embedded        => embedded,
                                               :object          => object}

    -# Metadata
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "metadata")
    %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
      - tab_index += 1
      = partial :"objects/metadata", :locals => {:object    => object,
                                                 :reviewing => reviewing}

    -# Run
    - if object.info[:run] || object.info[:build] || object.info[:type] == 'experiment'
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "run")
      %li.tab-panel.run{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
        - tab_index += 1
        = partial :"objects/run", :locals => {:help            => help,
                                              :view            => view,
                                              :workset         => workset,
                                              :object          => object,
                                              :embedded        => embedded,
                                              :preferredRunner => preferredRunner}

    -# Provenance
    - if object.info[:type] == "occam/task" || object.info.has_key?('generator')
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "provenance")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
        - tab_index += 1
        = partial :"objects/provenance", :locals => {:object => object}

    -# Files
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "files")
    %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
      - tab_index += 1
      - if active
        = partial :"objects/files", :locals => {:data => data,
                                                :workset => workset,
                                                :layout  => layout,
                                                :fileInfo => fileInfo,
                                                :path => path,
                                                :object => object,
                                                :data_mime_type => data_mime_type}
      - else
        .card.filled.loading

    -# Output
    - if object.info.has_key?(:outputs) || object.info[:type] == "experiment"
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "output")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
        - tab_index += 1
        - if active
          = partial :"objects/output", :locals => {:workset    => workset,
                                                   :object     => object,
                                                   :help       => help,
                                                   :pagination => pagination}
        - else
          .card.filled.loading

    -# Build
    -# if object.info[:build]
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "build")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
        - tab_index += 1
        = partial :"objects/build", :locals => {:workset => workset,
                                                :object => object}

      -# Console
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "console")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
        - tab_index += 1
        = partial :"objects/console", :locals => {:workset => workset,
                                                  :object => object}

    -# History
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "history")
    %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
      - tab_index += 1
      - if active
        = partial :"objects/history", :locals => locals
      - else
        .card.filled.loading

    -# Access
    - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "access")
    %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}",:class => active ? 'active' : ''}>
      - tab_index += 1
      - if active
        = partial :"objects/access", :locals => {:object => object, :help => help}
      - else
        .card.filled.loading

    -# Admin
    - if current_account && current_account.hasRole?("administrator")
      - active = ((layout.tab.nil? && tab_index == 0) || layout.tab == "admin")
      %li.tab-panel{:id => "tab-panel-#{tab_index}", :role => :tabpanel, :"aria-hidden" => (!active).to_s, :"aria-labelledby" => "tab-#{tab_index}", :class => active ? 'active' : ''}>
        - tab_index += 1
        = partial :"objects/admin", :locals => locals

  -# TODO: remove this
  - content_for :scripts do
    %script{:src=>"/js/noVNC/util.js"}
    %script{:src=>"/js/vnc.js"}
