- content_for :links do
  %link{:rel => :alternate, :type => "application/rss+xml", :title => "#{object.info[:name]} Social Feed", :href => object.url(:path=>"feed")}

.card.min-height.filled
  %form.comment-field{:action => object.url(:path => "social/comments"), :method => :post}>
    %textarea{:value       => "",
              :placeholder => I18n.t('fields.placeholders.comment'),
              :name        => "comment"}<>
    %input.button{:value => I18n.t('fields.submit'),
                  :type  => :submit,
                  :name  => "submit"}<>
    %input{:type  => :hidden,
           :name  => :inReplyTo,
           :value => params["inReplyTo"]}<>
    %label{:for => "post-anonymous"}<>
      %input.checkbox{:type  => :checkbox,
                      :name  => "anon",
                      :id    => "post-anonymous"}
      #{I18n.t('social.postAnon')}
  %form.edit-field{:hidden => true, :action => object.url(:path => "social/comments/"), :method => :post}
    %textarea{:value       => "",
              :placeholder => I18n.t('fields.placeholders.comment'),
              :name        => "comment"}>
    %input.button{:value => I18n.t('fields.submit'),
                  :type  => :submit,
                  :name  => "submit"}>
    %input{:type  => :hidden,
           :name  => :edit}
  %ul.comments
    - if params["comment"]
      - comments = object.viewComments(:id => params["comment"])
    - elsif params["inReplyTo"]
      - comments = object.viewComments(:id => params["inReplyTo"])
    - else
      - comments = object.viewComments
    - comments.each do |comment|
      = partial(:"objects/social/comment", :locals => {:comment => comment, :object => object})
