%li.task-item.object
  %a{:href => object.url, :target => :_blank}
    .object-header
      %img.icon{:src => object.iconURL}
      %h2.type.object
        #{info[:type]}
      %p.name
        #{info[:name]}
- if info[:running]
  %ol.task-running
    - info[:running].each do |running|
      - running[:process].each do |item|
        - item.delete(:index)
        = partial(:"objects/task-item", :locals => {:object => Occam::Object.new(**item, :info => item), :info => item})
