- if !defined?(viewers)
  - viewers = object.viewers

- if !defined?(preferredViewer) or preferredViewer.nil?
  - if viewers.any?
    - preferredViewer = viewers.first

- if viewers.any?
  = partial(:"objects/viewer", :locals => {:viewerObject => preferredViewer,
                                           :view         => view,
                                           :object       => object,
                                           :viewers      => viewers,
                                           :help         => defined?(help) ? help : ""})
- elsif object.info[:type] == "application/json" || object.info[:subtype] == "application/json"
  .card
    %h2
      = I18n.t('subheaders.data')
      (application/json)

    #results-data
      .data.active.loaded{:"data-object-id" => object.id}
        = partial(:"objects/data", :locals => {:object => object})

- elsif object.info[:type] == "configuration"
  = partial(:"objects/configuration", :locals => {:object => object})

- elsif object.info[:environment] == "html"
  = partial(:"objects/viewer", :locals => {:viewerObject => object,
                                           :view         => view,
                                           :object       => nil,
                                           :viewers      => viewers,
                                           :help         => defined?(help) ? help : ""})
