- if viewerObject
  - viewerObject.info(true)

- if !defined?(preview)
  - preview = false

- if !defined?(sidebar)
  - sidebar = nil

- if !defined?(label)
  - label = I18n.t('object-selection.using')

- if !defined?(width)
  - width  = "100%"
  - height = "100%"

- viewerSize = nil
- if viewerObject
  - viewerSize = viewerObject.info[:size]

- if !defined?(resizeToAspectRatio)
  - resizeToAspectRatio = true

- if !defined?(height) || resizeToAspectRatio
  - if viewerSize && width.is_a?(Integer)
    - height = (viewerSize['height'] || 400).to_i * width / (viewerSize['width'] || 450).to_i

- if !defined?(scale)
  - scale = 1.0

- baseWidth = width
- baseHeight = height

- if width.is_a? Integer
  - baseWidth = "#{baseWidth}px"
  - width = width * scale
  - width = "#{width}px"

- if height.is_a? Integer
  - baseHeight = "#{baseHeight}px"
  - height = height * scale
  - height = "#{height}px"

- if !defined?(running)
  - running = false

- if !defined?(file)
  - file = nil

- sandbox = "allow-pointer-lock allow-scripts"

- if viewerObject && !running && viewerObject.info[:architecture] == 'javascript'
  - if !preview
    .card.filled.object-runner.object-viewer
      = partial(:"objects/runner", :locals => {:workset => nil,
                                               :running => running,
                                               :viewer  => viewerObject || object,
                                               :object  => viewerObject || object,
                                               :separator_resize => true,
                                               :sidebar => sidebar, 
                                               :file    => file,
                                               :input   => object})
  -# else
    %iframe.full-widget.separator-resize{:style => "overflow: hidden; width: 100%; height: 100%; display: block;", :sandbox=>sandbox, :src => ""}
- else
  - if !preview
    .card.filled.object-viewer{:hidden => true}
      %iframe.full-widget.separator-resize{:style => "overflow: hidden; width: 100%; height: 100%; display: block;", :sandbox=>sandbox, :src => ""}
  .card.filled.object-runner.object-viewer
    = partial(:"objects/runner", :locals => {:workset => nil,
                                             :running => running,
                                             :viewer  => viewerObject || object,
                                             :object  => viewerObject || object,
                                             :sidebar => sidebar,
                                             :separator_resize => true,
                                             :file    => file,
                                             :input   => object})
