.card.filled.workflow-container
  = header(:offscreen => true,
           :text      => I18n.t('subheaders.workflow'),
           :help      => I18n.t('help.workflow'),
           :id        => :workflow)

  = partial :"workflows/show", :locals => {:editable => object.canEdit?, :workset => workset, :object => experiment, :experiment => experiment, :workflow => experiment.workflow, :tail_connections => experiment.tail_connections}

-# Render the configuration form
  = partial(:"experiments/configuration", :locals => {:experiment => experiment, :workset => workset, :help => help})
