%h1.fork
  %img.large-icon.action.fork{:src => "/images/icons/ui/fork.svg"}<
  .statistics<
  .name{:id => (request.xhr? ? "modalLabel" : false)}<
    Fork
  .organization<
    Create a clone of this object.
.bar

= partial :errors, {:locals => {:errors => errors}}

%form.modal{:action => object.url(:path => "fork"), :method => :post, :name => :fork}
  .card
    %label{:for => :name}
      Name
    %input{:type => "text", :id => :name, :name => :name, :value => object.info[:name]}
    - if current_person
      %label{:for => :to}
        To:
      = partial :"objects/object_tree", :locals => {:objects => [current_person], :recurse => 1}
  .card.filled
    .submit
      %input.button{:type => "submit", :value => "Fork", :name => :submit}
