%h1.license
  %img.large-icon.action.license{:src => "/images/icons/metadata/license.svg"}<
  .statistics<
  .name{:id => (request.xhr? ? "modalLabel" : false)}<
    License
  .organization<
    #{license.name}
.bar

- if license.file.nil?
  -# This is a guessed license
  .card.blue
    %p
      = I18n.t(:"flash.inferredLicense")

.card.filled.license
  = render_description("```\n#{license.text.strip}\n```", object, :fenced_code_blocks => true)
