%h1.fork
  %img.large-icon.action.fork{:src => "/images/icons/ui/fork.svg"}<
  .statistics<
  .name{:id => (request.xhr? ? "modalLabel" : false)}<
    Edit Description
  .organization<
    Make changes to this object's markdown description.
.bar

= partial :errors, {:locals => {:errors => errors}}

%form.modal{:action => object.url(:path => "files/object.json"), :method => :post}
  .card.filled.markdown-editor
    %ul.tabs.bubble
      %li.edit.tab.active
        %a{:href => "?preview=false"}
          Edit
      %li.preview.tab
        %a{:href => "?preview=true"}
          Preview
    %ul.tab-panels
      %li.tab-panel.active
        %label{:for => :description}
          Content (Markdown)
        %textarea.markdown{:type => "Submit", :type => "text", :id => :description, :name => "data[description]"}
          #{object.info[:description]}
      %li.tab-panel
        .description.markdown-preview
  .card.filled
    .submit
      %input{:type => :hidden, :name => "referrer", :value => "metadata"}
      %input.button{:type => "submit", :value => "Update", :name => :submit}
