%h1.qrcode
  %img.large-icon.action.qrcode{:src => "/images/icons/ui/qrcode.svg"}<
  .statistics<
  .name{:id => (request.xhr? ? "modalLabel" : false)}<
    #{I18n.t 'subsubheaders.qrcode'}
  .organization<
    Printable Image Link to This Object
.bar

.card.filled
  %img.qrcode.centered{:src => object.url(:path => "qrcode")}
