-# Purpose: Displays the profile for the specified object
-#
-# Locals:  object - The particular object to view.

- workset  = nil   if not defined?(workset)
- embedded = false if not defined?(embedded)

- if !defined?("reviewing")
  - reviewing = false

- if !defined?("help")
  - help = nil

- if !defined?("preferredViewer")
  - preferredViewer = nil

- if !defined?("preferredRunner")
  - preferredRunner = nil

- if !defined?("pagination")
  - pagination = nil

- if !defined?("tab")
  - tab = nil

-# Defaults to the "full" view, instead of, for instance, the embedded view
- if !defined?("view")
  - view = "full"

-# <title>
- content_for :title do
  #{object.info[:name]} [#{object.info[:type]}]

-# Renders the flash banner indicating this is anonymized access
- if object.anonymous?
  .card.blue
    %p
      = I18n.t "flash.anonymous"

-# Renders the flash banner indicating there is a more recent version of this object
- if (!defined?(reviewing) || !reviewing) and (object.currentRevision != object.revision)
  .card.blue
    %p
      = I18n.t "flash.snapshot"
      &nbsp;
      %a{:href => Occam::Object.new(:id => object.id, :withinUuid => object.withinUuid, :withinRevision => Occam::Object.new(:id => object.withinUuid, :account => current_account).revision, :index => object.index, :root => object.root, :account => current_account, :link => object.link).url}<>
        = I18n.t "flash.recent"

-# Render Object Header
= partial(:"objects/header", {:locals => {:embedded  => embedded,
                                          :reviewing => reviewing,
                                          :help      => help,
                                          :object    => object,
                                          :workset   => workset}})

-# Render Object Body
= partial(:"objects/show", {:locals => {:view            => view,
                                        :preferredViewer => preferredViewer,
                                        :preferredRunner => preferredRunner,
                                        :pagination      => pagination,
                                        :reviewing       => reviewing,
                                        :help            => help,
                                        :tab             => tab,
                                        :object          => object,
                                        :workset         => workset,
                                        :embedded        => false,
                                        :path => (defined?(path) ? path : ""),
                                        :fileInfo => (defined?(fileInfo) ? fileInfo : nil),
                                        :data => (defined?(data) ? data : nil),
                                        :data_mime_type => (defined?(data_mime_type) ? data_mime_type : "")}})
