-# Purpose: Displays a form to sign in
-#
-# Locals:  none

%h1.login
  %img.large-icon.login{:src => "/images/icons/ui/login.svg"}
  .name
    = I18n.t 'headers.signin'
.bar

= partial :errors, :locals => {:errors => errors}

%form.center.modal{:action => "/login",
                   :method => :post,
                   :name   => :sessions_login}
  .card
    %label{:for => :username}
      #{I18n.t "fields.username"}
    %input.short{:type => "text",
                 :id   => :username,
                 :name => :username}
    %label{:for => :password}
      #{I18n.t "fields.password"}
    %input.short{:type         => "password",
                 :id           => :password,
                 :name         => :password,
                 :autocomplete => "off"}
  .card.filled
    .submit
      %input#login.button{:type  => "submit",
                          :value => I18n.t('fields.signin'),
                          :name  => :submit}
