- if !defined?(pagination) || pagination.nil?
  - pagination = {:pageIndex => 1,
                  :pageItems => 30}

- if !defined?(noneText) || noneText.nil?
  - noneText = I18n.t('common.none')

%li.tab-panel
  - if objects.empty?
    %ul.object-table.empty
      %p.empty
        #{noneText}
  - else
    = partial(:"objects/listview/list", :locals => {:pagination => pagination,
                                                    :objects    => objects})
%li.tab-panel.active
  - if objects.empty?
    %ul.object-preview-list.empty
      %p.empty
        #{noneText}
  - else
    = partial(:"objects/listview/preview", :locals => {:pagination => pagination,
                                                       :objects    => objects})
