-# Generates a preview listing of objects
-#
-# Locals: objects  - either an array of Occam::Object (or a relation) or an
-#                    array of object infomation (array of hashes).

%ul.object-preview-list
  - if objects.nil?
    - objects = []
  - objects.each do |object|
    -# Handle generated items
    -# TODO: place in helper
    - generated_item = object

    %li.object{"data-object-type"     => object.info[:type],
               "data-object-revision" => object.revision,
               "data-revision"        => generated_item.revision}
      %a{:href => object.url, :alt => I18n.t('common.view')}
        .object-header
          %img.icon{:src => object.iconURL}
          %h2.type.object{"data-object-type" => object.info[:type], :class => (generated_item.revision == object.revision ? [] : ["another-revision"])}
            #{object.info[:type]}
          - if object.info[:name]
            %p
              #{object.info[:name]}

      - if current_person
        - association = current_person.associationFor(object)
      - else
        - association = Occam::Object.associationFor(object)

      - if association
        - preferredViewer = association.object
      - else
        - preferredViewer = nil

      - if preferredViewer
        = partial(:"objects/viewer", :locals => {:viewerObject => preferredViewer,
                                                 :object       => object,
                                                 :object_info  => object,
                                                 :width        => 300,
                                                 :height       => 250,
                                                 :resizeToAspectRatio                                                   => true,
                                                 :scale        => 2.0,
                                                 :preview      => true,
                                                 :help         => defined?(help) ? help : ""})
